<div class="container-single-column">
	<div class="container-wrapper">
		<!-- Header/Intro version -->
		<div class="container-content article-body">
			<div class="row">
				<aside class="article-aside">
					<p>Ashley Tyghe</p>
				</aside>
				<div class="article-content">
					<p>There are three characters in La Luna: a boy, his father, and his grandfather. At first glance, they are cut from the same mold. They wear overalls and hats; they carry brooms. But the contrast between them reveals their characters. Covered by the signs of age, the two adult men’s eyes cannot be seen. Nor can they see as clearly and widely as the boy, whose large eyes are unobstructed and clear. The grandfather moves his traditional broom with precision; the father wields a push-broom for increased efficiency.</p>
				</div>
			</div>
		</div>

		<!-- Trailing content version -->
		<div class="container-content article-body">
			<div class="row">
				<div class="article-content">
					<figure class="pull pull-right">
						<img src="/static-images/article-1.jpg" alt="" />
						<figcaption>This is an image caption</figcaption>
					</figure>
					<p>Enrico Casarosa wanted to create a different look from past computer -generated films. “Computers have a way of making things look perfect,” he said, “and we wanted to make it look different.” He wanted to bring the warmth of human imperfections back into his world. He chose to reintroduce handmade textures and color variations by scanning watercolor paintings, then applying them onto the geometry.</p>
					<p>La Luna is the timeless fable of a young boy coming of age in the most peculiar circumstances. Tonight is the very first time his Papa and Grandpa are taking him to work. In an old wooden boat they row far out to sea, and with no land in sight, they stop and wait. A big surprise awaits the little boy as he discovers his family's most unusual line of work. Should he follow the example of his Papa or his Grandpa? Will he be able to find his own way amidst their conflicting opinions and timeworn traditions?</p>
					<p>Enrico Casarosa wanted to create a different look from past computer -generated films. “Computers have a way of making things look perfect,” he said, “and we wanted to make it look different.” He wanted to bring the warmth of human imperfections back into his world. He chose to reintroduce handmade textures and color variations by scanning watercolor paintings, then applying them onto the geometry.</p>
					<figure>
						<img src="/static-images/article-1.jpg" alt="" />
						<figcaption>This is an image caption</figcaption>
					</figure>
					<p>La Luna is the timeless fable of a young boy coming of age in the most peculiar circumstances. Tonight is the very first time his Papa and Grandpa are taking him to work. In an old wooden boat they row far out to sea, and with no land in sight, they stop and wait. A big surprise awaits the little boy as he discovers his family's most unusual line of work. Should he follow the example of his Papa or his Grandpa? Will he be able to find his own way amidst their conflicting opinions and timeworn traditions?</p>
					<figure class="pull pull-left">
						<img src="/static-images/article-1.jpg" alt="" />
						<figcaption>This is an image caption</figcaption>
					</figure>
					<p>Enrico Casarosa wanted to create a different look from past computer -generated films. “Computers have a way of making things look perfect,” he said, “and we wanted to make it look different.” He wanted to bring the warmth of human imperfections back into his world. He chose to reintroduce handmade textures and color variations by scanning watercolor paintings, then applying them onto the geometry.</p>
				</div>
			</div>
		</div>
	</div>
</div>