/**
 * Core variables and mixins used across the base page configuration, and all components.
 * IMPORTANT: No actual generated CSS should be produced by this file, only variables and mixins (variables and
 * mixins do not generate any CSS) . This is because this file is included in every components file, so any CSS generated
 * will be included multiple times.
 */
/**
 * This mixin must be used instead of directly calling media queries. This is so we can write two sets of CSS - one with media queries,
 * and one without. This is controlled with the global $ignore-media-queries variable. Based on: https://jakearchibald.github.io/sass-ie/
 */
/**
 * Non theme-specific colors used across the site. These colours remain the same across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/* Core colors */
/**
 * All themable variables. These are set to basic default values, and overridden by the current theme.
 * The base defaults represent the FEL (Foxtel Experience Language) theme,
 * Ensure that all specified variables are given the '!default' value, so they can be correctly
 * overridden by the theme.
 */
@font-face {
  font-family: "ProximaNova-Light";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/**
 * Movies site theme settings.
 */
/**
 * CSS Generated icons used across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/**
 * Core grid and breakpoint values.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
 /**
* Core mixins used across all sites. Ensure that new mixins are added here only as a last resort. Foundation provides a
* set of mixins which should be used instead of creating your own.
* This file is included in multiple other files, ensure that only mixins and variables are defined here.
*/
/**
 * Set the size of an icon with pixels
 * @type {Number} Size of icon in pixels, converted automatically to rems
 */
/**
 * Used to space items consistently on the baseline grid with a margin.
 */
/**
 * Used to space containers equally
 */
/**
 * Used to space items consistently on the baseline grid with padding.
 */
/**
 * Used to add the correct left/right negative margins to component rows containing columns
 */
/**
 * Used to add appropriate grid column widths to component items
 */
/**
 * Used to add the correct left/right padding to component columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Used to add the correct left/right margin to columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Stop text from being highlighted
 */
/**
 * FT specific mixins
 */
/**
 * Use to create cross-browser (IE compatible) PX/REM values
 */
/**
 * Specify which Foundation modules are required
 */
meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

.article-body .row {
  width: auto;
  position: relative; }
  @media only screen {
    .article-body .row {
      margin-left: -8px;
      margin-right: -8px; } }
  @media only screen and (min-width: 641px) {
    .article-body .row {
      margin-left: -12px;
      margin-right: -12px; } }
  @media only screen and (min-width: 769px) {
    .article-body .row {
      margin-left: -12px;
      margin-right: -12px; } }
  @media only screen and (min-width: 1025px) {
    .article-body .row {
      margin-left: -12px;
      margin-right: -12px; } }
  @media only screen and (min-width: 1461px) {
    .article-body .row {
      margin-left: -15px;
      margin-right: -15px; } }
@media only screen {
  .article-body .article-aside {
    padding-left: 8px;
    padding-right: 8px; } }
@media only screen and (min-width: 641px) {
  .article-body .article-aside {
    padding-left: 12px;
    padding-right: 12px; } }
@media only screen and (min-width: 769px) {
  .article-body .article-aside {
    padding-left: 12px;
    padding-right: 12px; } }
@media only screen and (min-width: 1025px) {
  .article-body .article-aside {
    padding-left: 12px;
    padding-right: 12px; } }
@media only screen and (min-width: 1461px) {
  .article-body .article-aside {
    padding-left: 15px;
    padding-right: 15px; } }
@media only screen and (min-width: 641px) {
  .article-body .article-aside {
    width: 25%;
    float: left;
    position: absolute; } }
@media only screen and (min-width: 1025px) {
  .article-body .article-aside {
    width: 16.66667%;
    float: left; } }
@media only screen and (min-width: 641px) {
  .article-body .article-content {
    width: 100%;
    float: left; } }
@media only screen {
  .article-body .article-content > * {
    padding-left: 8px;
    padding-right: 8px; } }
@media only screen and (min-width: 641px) {
  .article-body .article-content > * {
    padding-left: 12px;
    padding-right: 12px; } }
@media only screen and (min-width: 769px) {
  .article-body .article-content > * {
    padding-left: 12px;
    padding-right: 12px; } }
@media only screen and (min-width: 1025px) {
  .article-body .article-content > * {
    padding-left: 12px;
    padding-right: 12px; } }
@media only screen and (min-width: 1461px) {
  .article-body .article-content > * {
    padding-left: 15px;
    padding-right: 15px; } }
@media only screen and (min-width: 641px) {
  .article-body .article-content > * {
    margin-left: 25%; } }
@media only screen and (min-width: 1025px) {
  .article-body .article-content > * {
    margin-right: 25%; } }
.article-body .article-content .editor-reset {
  margin: 0 !important;
  padding: 0 !important; }
  @media only screen {
    .article-body .article-content .editor-reset.section > * {
      padding-left: 8px;
      padding-right: 8px; } }
  @media only screen and (min-width: 641px) {
    .article-body .article-content .editor-reset.section > * {
      padding-left: 12px;
      padding-right: 12px; } }
  @media only screen and (min-width: 769px) {
    .article-body .article-content .editor-reset.section > * {
      padding-left: 12px;
      padding-right: 12px; } }
  @media only screen and (min-width: 1025px) {
    .article-body .article-content .editor-reset.section > * {
      padding-left: 12px;
      padding-right: 12px; } }
  @media only screen and (min-width: 1461px) {
    .article-body .article-content .editor-reset.section > * {
      padding-left: 15px;
      padding-right: 15px; } }
  @media only screen and (min-width: 641px) {
    .article-body .article-content .editor-reset.section > * {
      margin-left: 25%; } }
  @media only screen and (min-width: 1025px) {
    .article-body .article-content .editor-reset.section > * {
      margin-right: 25%; } }
  .article-body .article-content .editor-reset.section .pull {
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px; }
    @media only screen {
      .article-body .article-content .editor-reset.section .pull {
        padding-left: 8px;
        padding-right: 8px; } }
    @media only screen and (min-width: 641px) {
      .article-body .article-content .editor-reset.section .pull {
        padding-left: 12px;
        padding-right: 12px; } }
    @media only screen and (min-width: 769px) {
      .article-body .article-content .editor-reset.section .pull {
        padding-left: 12px;
        padding-right: 12px; } }
    @media only screen and (min-width: 1025px) {
      .article-body .article-content .editor-reset.section .pull {
        padding-left: 12px;
        padding-right: 12px; } }
    @media only screen and (min-width: 1461px) {
      .article-body .article-content .editor-reset.section .pull {
        padding-left: 15px;
        padding-right: 15px; } }
    @media only screen and (min-width: 641px) {
      .article-body .article-content .editor-reset.section .pull {
        width: 41.66667%;
        float: left; } }
    @media only screen and (min-width: 1025px) {
      .article-body .article-content .editor-reset.section .pull {
        width: 50%;
        float: left; } }
  @media only screen {
    .article-body .article-content .editor-reset.section .pull-right {
      margin-left: 8px; } }
  @media only screen and (min-width: 641px) {
    .article-body .article-content .editor-reset.section .pull-right {
      margin-left: 12px; } }
  @media only screen and (min-width: 769px) {
    .article-body .article-content .editor-reset.section .pull-right {
      margin-left: 12px; } }
  @media only screen and (min-width: 1025px) {
    .article-body .article-content .editor-reset.section .pull-right {
      margin-left: 12px; } }
  @media only screen and (min-width: 1461px) {
    .article-body .article-content .editor-reset.section .pull-right {
      margin-left: 15px; } }
  @media only screen and (max-width: 640px) {
    .article-body .article-content .editor-reset.section .pull-right {
      margin-left: 0; } }
  @media only screen and (min-width: 641px) {
    .article-body .article-content .editor-reset.section .pull-right {
      float: right; } }
  @media only screen {
    .article-body .article-content .editor-reset.section .pull-left {
      margin-right: 8px; } }
  @media only screen and (min-width: 641px) {
    .article-body .article-content .editor-reset.section .pull-left {
      margin-right: 12px; } }
  @media only screen and (min-width: 769px) {
    .article-body .article-content .editor-reset.section .pull-left {
      margin-right: 12px; } }
  @media only screen and (min-width: 1025px) {
    .article-body .article-content .editor-reset.section .pull-left {
      margin-right: 12px; } }
  @media only screen and (min-width: 1461px) {
    .article-body .article-content .editor-reset.section .pull-left {
      margin-right: 15px; } }
  @media only screen and (max-width: 640px) {
    .article-body .article-content .editor-reset.section .pull-left {
      margin-right: 0; } }
  @media only screen and (min-width: 641px) {
    .article-body .article-content .editor-reset.section .pull-left {
      float: left; } }
.article-body .article-content p {
  margin-bottom: 2.5em;
  text-rendering: optimizeLegibility; }
.article-body .article-content figure {
  margin: 0 0 2em 0; }
  @media only screen and (min-width: 641px) {
    .article-body .article-content figure {
      margin-left: 25%; } }
  @media only screen and (min-width: 1025px) {
    .article-body .article-content figure {
      margin-right: 25%; } }
  .article-body .article-content figure img {
    margin: 0 0 0.7em;
    width: 100%; }
  .article-body .article-content figure figcaption {
    font-size: 14px;
    font-style: italic;
    color: #444;
    color: rgba(68, 68, 68, 0.5);
    margin-left: 0; }
.article-body .article-content .pull {
  margin-left: 0;
  margin-right: 0;
  margin-top: 8px; }
  @media only screen {
    .article-body .article-content .pull {
      padding-left: 8px;
      padding-right: 8px; } }
  @media only screen and (min-width: 641px) {
    .article-body .article-content .pull {
      padding-left: 12px;
      padding-right: 12px; } }
  @media only screen and (min-width: 769px) {
    .article-body .article-content .pull {
      padding-left: 12px;
      padding-right: 12px; } }
  @media only screen and (min-width: 1025px) {
    .article-body .article-content .pull {
      padding-left: 12px;
      padding-right: 12px; } }
  @media only screen and (min-width: 1461px) {
    .article-body .article-content .pull {
      padding-left: 15px;
      padding-right: 15px; } }
  @media only screen and (min-width: 641px) {
    .article-body .article-content .pull {
      width: 41.66667%;
      float: left; } }
  @media only screen and (min-width: 1025px) {
    .article-body .article-content .pull {
      width: 50%;
      float: left; } }
@media only screen {
  .article-body .article-content .pull-right {
    margin-left: 8px; } }
@media only screen and (min-width: 641px) {
  .article-body .article-content .pull-right {
    margin-left: 12px; } }
@media only screen and (min-width: 769px) {
  .article-body .article-content .pull-right {
    margin-left: 12px; } }
@media only screen and (min-width: 1025px) {
  .article-body .article-content .pull-right {
    margin-left: 12px; } }
@media only screen and (min-width: 1461px) {
  .article-body .article-content .pull-right {
    margin-left: 15px; } }
@media only screen and (max-width: 640px) {
  .article-body .article-content .pull-right {
    margin-left: 0; } }
@media only screen and (min-width: 641px) {
  .article-body .article-content .pull-right {
    float: right; } }
@media only screen {
  .article-body .article-content .pull-left {
    margin-right: 8px; } }
@media only screen and (min-width: 641px) {
  .article-body .article-content .pull-left {
    margin-right: 12px; } }
@media only screen and (min-width: 769px) {
  .article-body .article-content .pull-left {
    margin-right: 12px; } }
@media only screen and (min-width: 1025px) {
  .article-body .article-content .pull-left {
    margin-right: 12px; } }
@media only screen and (min-width: 1461px) {
  .article-body .article-content .pull-left {
    margin-right: 15px; } }
@media only screen and (max-width: 640px) {
  .article-body .article-content .pull-left {
    margin-right: 0; } }
@media only screen and (min-width: 641px) {
  .article-body .article-content .pull-left {
    float: left; } }
