
.global-nav {
    background: #3c3c3c; /* Old browsers */
    background: -moz-linear-gradient(top, #3c3c3c 0%, #0a0a0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c3c3c), color-stop(100%,#0a0a0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3c3c3c 0%,#0a0a0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3c3c3c 0%,#0a0a0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3c3c3c 0%,#0a0a0a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3c3c3c 0%,#0a0a0a 100%); /* W3C */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#0a0a0a',GradientType=0 )"; /* IE6-9 */
}

.global-nav .mega-sub-container {
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #3e3e3e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#3e3e3e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000000 0%,#3e3e3e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000000 0%,#3e3e3e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000000 0%,#3e3e3e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%,#3e3e3e 100%); /* W3C */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3e3e3e',GradientType=0 )"; /* IE6-8 */
}

.global-nav .nav > li > a {
    color: #fff;
}

.global-nav.visible-xs .nav li {
    background: #3c3c3c;
}

.global-nav .nav > li.active {
    background: rgba(0, 0, 0, 0.75);
}

body:not(.touch) .global-nav .nav > li:hover,
.global-nav .nav > li.active-touch {
    background: #000;
}


body:not(.touch) .global-nav .nav > li.logo:hover,
.global-nav .nav > li.logo:hover,
body:not(.touch) .global-nav .nav > li.nav-search:hover,
.global-nav .nav > li.nav-search:hover {
    background: none;
}

.global-nav ul li a:hover {
    text-decoration: none;
}

.global-nav input[type="text"] {
    background: none;
    border-color: #6f6f6f;
    color: #fff;
}

.global-nav input:-moz-placeholder,
.global-nav textarea:-moz-placeholder {
  color: #fff;
}

.global-nav input:-ms-input-placeholder,
.global-nav textarea:-ms-input-placeholder {
  color: #fff;
}

.global-nav input::-webkit-input-placeholder,
.global-nav textarea::-webkit-input-placeholder {
  color: #fff;
}

@media (min-width: 768px) {
    .global-nav ul li {
         background: none;
    }
}
