
.global-nav-wrapper {
   position: relative;
   z-index: 14;
   width: 100%;
}

.global-nav-wrapper.affix {
    position: fixed;
}

.global-nav {
    border-bottom: 1px solid #302c2d;
    width: 100%;
    color: #fff;
    z-index: 10;
}

.global-nav.affix-top.visible-xs {
    position: relative;
}

.global-nav h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.global-nav h3 {
    line-height: 26px;
}

.global-nav h4 {
    font-weight:normal;
    padding-bottom:0;
    margin-bottom:0;
}

.global-nav p {
    line-height: 1.4em;
}

.global-nav h4 a {
    color: #ffc20e;
}

.global-nav h4 a:hover, .global-nav p a:hover {
    text-decoration:underline !important;
}

.global-nav .inner {
    position: relative;
}

.global-nav ul li {
    padding: 0;
}

.global-nav .top-nav {
    width: 100%;
    display: table;
    margin-bottom: 0;
}

.global-nav .top-nav li {
    padding: 0;
    width: 44px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #100f0f;
    border-left: 1px solid #414243;
    background: none;
    padding: 0;
}

.global-nav .top-nav li:first-child {
    border-left: none;
}

.global-nav .top-nav li:last-child,
.global-nav .nav li:last-child {
    border-right: none;
    margin-bottom: 0;
}

.global-nav .top-nav li.container-logo {
    width: auto;
}

.global-nav .top-nav li.container-logo > a {
    width: auto;
}

.global-nav .top-nav li.container-logo img {
    max-height: 32px;
    margin-top: -4px;
}

.global-nav a {
    text-align: center;
}

.global-nav .top-nav li > a {
    width: 44px;
    height: 44px;
    line-height: 49px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}


.global-nav .top-nav li > a:after {
    padding-top: 15px;
}

.global-nav .hamburger:after {
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url(../../../images/sprite-icons.png) no-repeat -34px 0;
}

.reveal-left .global-nav .hamburger:after {
    background-position: -50px 0;
}

.global-nav.visible-xs .nav {
    margin-bottom: 0;
    position: absolute;
    z-index: 3;
    width: 100%;
}

.global-nav.hidden-xs .nav {
    display: table;
    width: 100%;
}

.global-nav.hidden-xs .nav > li {
    display: table-cell;
    width: 136px;
    height: 102px;
    vertical-align: middle;
    /*position:relative;  RH, 131220 */
    position: inherit;
}

.global-nav.hidden-xs .nav > li > a {
    cursor: default;
}

.affix .global-nav .nav > li {
    height: 57px;
}

.affix .global-nav .nav > li > a {
    padding: 9px 0;
}

/* NOTE: Remove anchor tags later - KJ */
.global-nav.hidden-xs .nav > li > span:after,
.global-nav.hidden-xs .nav > li > a:after {
    content: ' ';
    background: url(../../../images/sprite-icons.png) no-repeat -21px -24px;
    width: 11px;
    height: 7px;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: -5px;
}

.affix .global-nav.hidden-xs .nav > li span:after,
.affix .global-nav.hidden-xs .nav > li a:after {
    display: none;
}

.global-nav.hidden-xs .nav li.logo {
    width: 179px;
    border-left: none;
}

.global-nav.hidden-xs .nav li.logo a:after,
.global-nav.hidden-xs .nav li.nav-search a:after {
    display: none;
}

.global-nav.hidden-xs .nav li.logo a {
    text-align: left;
    cursor: pointer;
}

.global-nav.hidden-xs .nav li.logo a:active,
.global-nav.hidden-xs .nav li.logo a:focus {
    background: none;
}

.global-nav.hidden-xs .nav li.logo a:hover {
    background: none;
}

.global-nav.hidden-xs .nav li.nav-search {
    width: auto;
    text-align: center;
}

.global-nav.visible-xs .nav li {
    border-bottom: 1px solid #414243;
    display: block;
    padding: 0;
    line-height: 60px;
}

.global-nav > ul > li:first-child {
    margin-left: 0;
}

.global-nav .nav > ul li a {
    display: block;
    font-size: 16px;
    position: relative;
    padding: 0;
}

.global-nav.hidden-xs .nav-search {
    margin-top: 27px;
}

.global-nav .nav-search .input-group {
    display: block;
}

.global-nav .nav-search form {
    margin: 0 0 0 24px;
}

.global-nav .nav-search input[type="text"] {
    width: 100%;
    min-width: 98px;
    height: 41px;
    padding-right: 36px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #5e5e5e;
    font-size: 16px;
}

.global-nav.reveal-search .nav-search input[type="text"] {
    min-width: 203px;
}

.global-nav .nav-search .search-submit,
.global-nav .nav-search .search-reveal:after {
    width: 19px;
    height: 19px;
    background: url(../../../images/sprite-icons.png) no-repeat 0 -66px;
    border: none;
    position: absolute;
        top: 11px;
        right: 10px;
}

.global-nav .nav-search .search-reveal {
    width: 100%;
    height: 102px;
}

.affix .global-nav .nav-search .search-reveal {
    height: 55px;
}

.global-nav a.nav-search:after,
.global-nav a.nav-login:after {
    content: ' ';
    display: inline-block;
    width: 20px;
    height: 15px;
    background: url(../../../images/sprite-icons.png) no-repeat -21px -34px;
}

.global-nav a.nav-search:after {
    width: 13px;
    height: 14px;
    background-position: -22px -50px;
}

.global-nav.reveal-search a.nav-search:after {
    background-position: -36px -50px;
}

.global-nav .search {
    display: none;
}

.global-nav .search button {
    background: url(../../../images/sprite-icons.png) no-repeat -87px 0;
    border: none;
    width: 7px;
    height: 12px;
    display: block;
    position: absolute;
    right: 28px;
    top: 16px;
    padding: 0;
}

.global-nav.reveal-search .search {
    display: block;
    position: absolute;
    z-index: 3;
    width: 100%;
    padding: 6px 18px;
    margin-top: 1px;
    background: #231f20;
}

.global-nav.reveal-search .search input[type="text"] {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #4f4c4d;
    border: 1px solid #4f4c4d;
    width: 100%;
    height: 32px;
    padding-right: 20px;
}

.global-nav.reveal-search .search input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #a09e9f;
}
.global-nav.reveal-search .search input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #a09e9f;
}
.global-nav.reveal-search .search input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #a09e9f;
}
.global-nav.reveal-search .search input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #a09e9f;
}

.global-nav.hidden-xs .mega-sub-container {
    display:none;
    position:absolute;
    top:102px;
    left:0;
    z-index:100;
    width: 100%;
    height: auto;
    padding: 40px 0;
}

.touch .global-nav.hidden-xs .mega-sub-container {
    padding-bottom: 83px;
}

.mega-sub-container .col {
    border-right: 1px solid #302c2d;
    border-left: 1px solid #414243;
    vertical-align: top;
    width: 25%;
    padding: 0 12px 0 25px;
}

.mega-sub-container .btn-close {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -68px;
    padding-left: 12px;
    width: 136px;
    line-height: 50px;
    border: 2px solid #231f20;
    border-bottom: none;
    background: #1e1e1e;
    text-align: center;
    color: #ffcc00;
    display: block;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    display:none;
}

.touch .mega-sub-container .btn-close {
    display:block;
}
.mega-sub-container .btn-close span:before {
    width: 12px;
    height: 12px;
    display: block;
    background: url(../../../images/sprite-icons.png) no-repeat -70px -44px;
    content: ' ';
    position: absolute;
    bottom: 19px;
    left: 29px;
}

.mega-sub-container ul {
    list-style:none; margin:0; padding:0;
}

.mega-sub-container li {
    margin-bottom: 16px;
}

.mega-sub-container .col:first-child {
    border-left: none;
    padding-left: 0;
}

.mega-sub-container .col:last-child {
    border-right: none;
}

.affix .global-nav.hidden-xs .mega-sub-container {
    top: 57px;
}

body:not(.touch) .global-nav.hidden-xs .nav > li:hover .mega-sub-container,
.global-nav.hidden-xs .nav > li.active-touch .mega-sub-container {
    display:block;    
}

html[data-useragent*="MSIE 8"] .global-nav.hidden-xs .nav > li:hover .mega-sub-container
{
    display:block;
}

.mob-global-nav .nav ul {
    padding: 0;
}

.mob-global-nav .nav li {
    display: block;
    background: none;
    padding: 0;
}

.mob-global-nav .nav > li.active-page > a {
    color: #ffc20e;
}

.mob-global-nav .nav > li > a:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 12px;
    height: 7px;
    right: 20px;
    top: 22px;
    background: url(../../../images/sprite-icons.png) no-repeat -87px -60px;
}

.mob-global-nav .nav > li.active > a:after {
    background-position: -87px -67px;
}

.mob-global-nav .nav li a {
    display: block;
    padding: 14px 17px;
    font-size: 15px;
    color: #fff;
    background-color: #231f20;
    border-bottom: 1px solid #333;
}

.mob-global-nav .nav li a:hover {
    text-decoration: none;
}

.mob-global-nav .nav li li a {
    background: #f5f5f5;
    color: #231f20;
    border-top: 1px solid #fff;
    border-bottom: none;
}

.mob-global-nav .nav li.active-page li.active a {
    border-top: 1px solid #ffc20e;
}

.mob-global-nav .nav li ul {
    display:none;
}

.mob-global-nav .nav li.active ul {
    display:block;
}

.mob-global-nav .nav li li {
    border-bottom: 1px solid #e3e3e3;
}

.mob-global-nav .nav li.active-page li.active a {
    background: #ffc20e;
}

@media screen and (min-width: 768px) {
    .global-nav .nav {
        position: initial;
        width: auto;
        margin-bottom: -1px;
    }

    .global-nav .nav > li {
        padding: 0;
        margin: 0 -2px;
        border-left: 1px solid #414243;
        border-right: 1px solid #302c2d;
    }

    /* NOTE: Remove anchors later - KJ */
    .global-nav .nav > li > span,
    .global-nav .nav > li > a {
        border-bottom: none;
        padding: 0;
        display: block;
        text-align: center;
        position: relative;
        cursor: default;
        font-size: 16px;
    }

    .global-nav ul > li.logo a {
        border-left: none;
    }
}

@media screen and (min-width: 768px) and (max-width:977px) {
    .global-nav .inner > .container {
        padding-left: 0;
    }
    
    .global-nav.hidden-xs .nav li.logo {
        display: none;
    }

    .global-nav.hidden-xs .nav li.logo + li {
        border-left: none;
    }

    /*.touch .mega-sub-container .btn-close {
        display: block;
    }*/
}

@media screen and (min-width: 978px) {
    .global-nav .nav-search .input-group {
        display: block;
    }

    .global-nav .nav-search input[type="text"] + button[type="submit"] {
        position: absolute;
        top: 11px;
        right: 10px;
    }

    .global-nav .nav-search .search-reveal {
        display: none;
    }
}

@media screen and (min-width: 1140px) {
    .global-nav .logo {
        margin-top: 30px;
    }

    .mega-sub-container .col {
        padding: 0 27px 0 44px;
    }
}
