.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
}

.scene {
    position:absolute;
    overflow:hidden;
    padding: 0;
    height: 100%;
}

.scene .container {
    height: 100%;
}

.scene article h2,
.invest-container * {
    font-size: 68px;
    font-family: aachen_promedium;
    line-height: 0.8em;
    font-weight: normal;
    letter-spacing: -2px;
}

.scene .pf-image {
    display: block;
    text-align: center;
}

.scene .css-table {
    table-layout: fixed;
    /*position: fixed;*/
    height: 100%;
}

.scene .relative-container {
    position: relative;
}

.scene .slide-up-content .pf-image {
    margin-bottom: 25px;
}

/*.scene>.container,
.scene .relative-container {
    min-height:650px;
    height:650px; /* IE/FF needs this?? */
/*}*/

/*.scene > .container .css-table {
    min-height: 650px;
    height:650px; /* IE/FF needs this?? */
 /*   margin: 0;
}*/

.scene > .container .col {
    margin: 0;
    float: none;
    vertical-align: middle;
    position:relative;
    width:50%;
    padding-top: 156px;
}

.scene > .container .col:first-child {
    padding-left: 0;
}

.scene > .container .col:last-child {
    text-align:center;
}

.scene > .container .col:last-child > * {
    text-align:left;
}

.pie {
    background: url(../../../images/new-to-trading/pie.png);
    width: 260px;
    height: 191px;
    margin: 0 auto;
}

.question-mark {
    background: url(../../../images/new-to-trading/question.png);
    width: 260px;
    height: 261px;
    margin: 0 auto;
}

.light-bulb {
    background: url(../../../images/new-to-trading/light-bulb.png);
    width: 260px;
    height: 331px;
    margin: 0 auto;
}

.tools {
    background: url(../../../images/new-to-trading/tools.png);
    width: 260px;
    height: 122px;
    margin: 0 auto;
}

.streamline {
    background: url(../../../images/new-to-trading/streamline.png);
    width: 260px;
    height: 196px;
    margin: 0 auto;
}

.more-value {
    background: url(../../../images/new-to-trading/more-value.png);
    width: 260px;
    height: 261px;
    margin: 0 auto;
}

.coin-stack {
    background: url(../../../images/new-to-trading/coin-stack.png);
    width: 260px;
    height: 78px;
    margin: 0 auto;
}

.coin {
    width: 258px;
    height: 259px;
    background: url(../../../images/animations/coin.png);
    margin:0 auto;
    position:absolute;
    left:50%;
    margin-left:-129px;
    top:0;
}

#coin-fixed {
    position: fixed;
    margin-left: 145px;
    margin-top: -100px;
    top: 50%;
    z-index: 3;
}

#coin0 {
    display: none;
}

#coin0,
#coin1,
#coin2,
#coin3,
#coin4,
#coin5,
#coin6,
#coin7,
#coin8,
#coin9,
#coin10,
#coin11
{
    display: none;
}


.coin-flip-0 {
    background-position: 0 0;
}

.coin-flip-1 {
    background-position: 0 -259px !important;
}

.coin-flip-2 {
    background-position: 0 -518px !important;
}

.coin-flip-3 {
    background-position: 0 -773px !important;
}

.coin-flip-4 {
    background-position: 0 -1032px !important;
    /*opacity: 0;*/
}

.coin-flip-5 {
    background-position: 0 -1259px !important;
}

.coin-flip-6 {
    background-position: 0 -1554px !important;
}

.coin-flip-7 {
    background-position: 0 -1813px !important;
}

.coin-flip-8 {
    background-position: 0 -2072px !important;
}

.coin-flip-9 {
    background-position: 0 -2331px !important;
}

.coin-flip-10 {
    background-position: 0 -2590px !important;
}

.coin-flip-11 {
    background-position: 0 -2849px !important;
}

.coin-layer-1 {
    z-index:3;
}

.coin-layer-2 {
    z-index:4;
}

.award {
    width:243px;
    height:245px;
    background:url(../../../images/new-to-trading/award.png) no-repeat;
    position:absolute;
    left:50%;
    margin-left:-121px;
    top:0;
}

.coin-top-50 {
    top: 50px;
}

.coin-top-100 {
    top: 100px;
}

.coin-top-150 {
    top: 150px;
}

.coin-top-200 {
    top: 200px;
}

.coin-top-250 {
    top: 250px;
}

.coin-top-300 {
    top: 300px;
}

.coin-top-350 {
    top: 350px;
}

.coin-top-400 {
    top: 400px;
}

.coin-top-450 {
    top: 450px;
}

.coin-top--400 {
    top: -400px;
}

.coin-top--350 {
    top: -350px;
}

.coin-top--300 {
    top: -300px;
}

.coin-top--250 {
    top: -250px;
}

.coin-top--200 {
    top: -200px;
}

.coin-top--150 {
    top: -150px;
}

.coin-top--100 {
    top: -100px;
}

.coin-top--50 {
    top: -50px;
}

/*.scene .col p[id*='Container'] {
    position:absolute;
    top:100px;
    left:50%;
    margin-left:-225px;
}*/

#pie {
    background:url(../../../images/new-to-trading/pie-0.png) no-repeat;
    width: 392px;
    height: 281px;
    margin-left: 128px;
    margin-top: -50px;
}

#pie.pie-1 {
    background-position: 0 -290px;
}

#pie.pie-2 {
    background-position: 0 -571px;
}

#pie.pie-3 {
    background-position: 0 -891px;
}

a.get-started, a.get-started:hover {
    font-size:30px;
    display:block;
    margin-top:20px;
}

a.get-started:hover {
    text-decoration:none;
}

.invest-container {
    position: absolute;
    top: 50%;
    margin-top: -125px;
}

.invest-container * {
    font-size: 24px;
    color: #fff;
    letter-spacing: normal;
}

.legends {
    margin: 10px 0 0 25px;
}

.legends li {
    display: inline-block;
}

.legends li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ffc20f;
    margin: 0 5px 0 0;
}

.legends .property span {
    background: #595a5c;
}

.legends .cash span {
    background: #959697;
}

#invest-dollar,
#invest-years {
    position: absolute;
    bottom: 125px;
    left: -15px;
}

#invest-years {
    top: -30px;
    left: 45%;
}

.scene9-final {
    position: absolute;
    top: 50%;
    margin-top: -77px;
}

/* NOTE: Add media specific common styles here */
@media (max-width: 767px) {
    .scene > .container, .scene > .container .css-table {
        height: auto;
    }

    .content-module .css-table .col:last-child {
        padding-bottom: 35px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .content-module .container > .css-table .col {
        border: none;
    }
    
    .scene > .container .col:first-child {
        padding-top: 30px;
    }
}