/**
 * Styles for header/search component.
 */
/**
 * Core variables and mixins used across the base page configuration, and all components.
 * IMPORTANT: No actual generated CSS should be produced by this file, only variables and mixins (variables and
 * mixins do not generate any CSS) . This is because this file is included in every components file, so any CSS generated
 * will be included multiple times.
 */
/**
 * This mixin must be used instead of directly calling media queries. This is so we can write two sets of CSS - one with media queries,
 * and one without. This is controlled with the global $ignore-media-queries variable. Based on: https://jakearchibald.github.io/sass-ie/
 */
/**
 * Non theme-specific colors used across the site. These colours remain the same across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/* Core colors */
/**
 * All themable variables. These are set to basic default values, and overridden by the current theme.
 * The base defaults represent the FEL (Foxtel Experience Language) theme,
 * Ensure that all specified variables are given the '!default' value, so they can be correctly
 * overridden by the theme.
 */
@font-face {
  font-family: "ProximaNova-Light";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/**
 * Movies site theme settings.
 */
/**
 * CSS Generated icons used across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/**
 * Core grid and breakpoint values.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
 /**
* Core mixins used across all sites. Ensure that new mixins are added here only as a last resort. Foundation provides a
* set of mixins which should be used instead of creating your own.
* This file is included in multiple other files, ensure that only mixins and variables are defined here.
*/
/**
 * Set the size of an icon with pixels
 * @type {Number} Size of icon in pixels, converted automatically to rems
 */
/**
 * Used to space items consistently on the baseline grid with a margin.
 */
/**
 * Used to space containers equally
 */
/**
 * Used to space items consistently on the baseline grid with padding.
 */
/**
 * Used to add the correct left/right negative margins to component rows containing columns
 */
/**
 * Used to add appropriate grid column widths to component items
 */
/**
 * Used to add the correct left/right padding to component columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Used to add the correct left/right margin to columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Stop text from being highlighted
 */
/**
 * FT specific mixins
 */
/**
 * Use to create cross-browser (IE compatible) PX/REM values
 */
/**
 * Specify which Foundation modules are required
 */
meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

#search-content {
  display: none; }

.browser-upgrade {
  text-align: center;
  padding: 40px; }
  .browser-upgrade p {
    font-size: 18px; }

.header-main {
  background: #181818;
  position: relative;
  z-index: 3000;
  display: block;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  @at-root .wings & {
    padding-left: 150px;
    padding-right: 150px; }

  z-index: 4001;
  @at-root .search-active .header-main {
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  @at-root .search-active .header-main .initial {
    right: 0;
    label {
      opacity: 0; } }

  @at-root .search-active .header-main .search {
    background-color: white;
    .search-show {
      opacity: 1;
      cursor: default; }

    width: 430px;
    padding: 0;
    background-color: white;
    .btn-reset {
      opacity: 1;
      visibility: visible; }

    .search-field {
      display: block; } }
 }
  .header-main .search-wrap {
    max-width: 1410px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 24px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .header-main .search-wrap .inner-wrap:before, .header-main .search-wrap .inner-wrap:after {
      content: " ";
      display: table; }
    .header-main .search-wrap .inner-wrap:after {
      clear: both; }
  .header-main .initial {
    position: relative;
    float: left;
    padding: 0; }
    .header-main .initial:before, .header-main .initial:after {
      content: " ";
      display: table; }
    .header-main .initial:after {
      clear: both; }
    .header-main .initial .main-logo {
      float: left;
      line-height: 60px; }
      .header-main .initial .main-logo img {
        max-width: 240px;
        max-width: 260px; }
      .header-main .initial .main-logo + label {
        float: right;
        line-height: 1;
        opacity: 1;
        padding-top: 3px;
        color: #5e5e5e;
        -webkit-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
        display: none; }
        .header-main .initial .main-logo + label .icon {
          width: 26px;
          height: 26px; }
  .header-main #search-container:before, .header-main #search-container:after {
    content: " ";
    display: table; }
  .header-main #search-container:after {
    clear: both; }
  .header-main .search {
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    background-color: white;
    padding-top: 21px;
    padding-bottom: 20px;
    margin-bottom: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #181818;
    float: right;
    position: static;
    padding: 0;
    width: 67px;
    height: 60px; }
    .header-main .search input[type=text] {
      height: 60px; }
    .header-main .search .btn-reset {
      -webkit-transition: opacity 0.6s ease-out;
      -o-transition: opacity 0.6s ease-out;
      transition: opacity 0.6s ease-out;
      opacity: 0;
      z-index: 1;
      visibility: hidden; }
    .header-main .search .search-area {
      margin-bottom: 0; }
      .header-main .search .search-area .search-show {
        text-align: center;
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
        opacity: 0;
        cursor: pointer;
        z-index: 2; }
      .header-main .search .search-area .search-field {
        display: none; }
      .header-main .search .search-area .search-show {
        top: 17px;
        opacity: 1; }
      .header-main .search .search-area .btn-reset {
        top: 17px; }
    .header-main .search .twitter-typeahead {
      padding-bottom: 21px;
      padding-bottom: 0;
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); }
    .header-main .search .tt-dropdown-menu {
      background: #fff;
      border: none;
      margin-top: -13px;
      padding-top: 8px;
      margin-top: 0;
      background: #fcfcfc;
      -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }
      .header-main .search .tt-dropdown-menu .tt-suggestion:first-child {
        border-top: 1px solid #e5e5e5; }
      .header-main .search .tt-dropdown-menu .tt-suggestion:first-child {
        border-top: none; }

.blurred-content {
  position: relative; }
  .blurred-content:after {
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
    content: ' ';
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden; }

.search-active .blurred-content {
  /*-webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
  filter: url(blur.svg#blur);*/ }
  .search-active .blurred-content:after {
    visibility: visible;
    background: rgba(0, 0, 0, 0.3); }
.search-active .globalnavigation.navigation .primary-nav {
  z-index: 2000; }

.heading-resultsfor {
  font-size: 14px;
  display: inline-block;
  color: #444444;
  font-size: 16px;
  margin-bottom: 13px;
  margin-top: 32px; }

.search input[type="text"] {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  font-size: 24px;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .search input[type="text"]:focus {
    background: none; }
  .search input[type="text"]::-ms-clear {
    display: none; }
.search button[type="reset"] {
  background: none;
  margin: 0;
  padding: 1px 0 0 0;
  outline: none;
  color: #7f7f7f;
  background-color: white;
  width: 27px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 100%;
  behavior: url(/etc/designs/foxtel/common/clientlibs/pie/PIE.htc); }
  .search button[type="reset"].clear {
    background-color: #b2b2b2;
    color: white; }
    .search button[type="reset"].clear .icon-close {
      -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
      -o-transform: scale(0.7);
      transform: scale(0.7); }
  .search button[type="reset"] .icon-close {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    top: 2px; }

.search-page h4 {
  font-size: 16px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-size: 21px;
  font-weight: normal;
  font-size: 24px;
  font-weight: normal; }
  .search-page h4:hover {
    opacity: 0.7; }
.search-page .search-area .twitter-typeahead {
  padding: 0; }
.search-page .search-area input[type=text] {
  padding: 0 59px 0;
  margin: 0 0 12px 0;
  width: 100%; }
.search-page .search-area .btn-reset {
  opacity: 0;
  cursor: default; }
.search-page .search-area .btn-reset.clear {
  opacity: 1;
  cursor: pointer; }
.search-page .tt-dropdown-menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 9px;
  border-color: white transparent transparent transparent;
  border-top-style: solid;
  position: absolute;
  z-index: 2;
  top: -1px;
  margin-left: 5px; }
.search-page .tt-dropdown-menu:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 10px;
  border-color: #dddbd0 transparent transparent transparent;
  border-top-style: solid;
  position: absolute;
  top: -1px;
  margin-left: 4px; }
.search-page .button-arrow .icon {
  width: 12px;
  height: 11px;
  top: 1px; }

.search-area {
  position: relative;
  margin-bottom: 50px; }
  .search-area .search {
    border-bottom: 1px solid #e5e5e5;
    /*@include media-query($large-up) {
    	padding: 0 rem-calc(22) rem-calc(11);
    }*/ }
    .search-area .search .table-cell {
      display: table-cell; }
      .search-area .search .table-cell:first-child {
        width: 25px; }
      .search-area .search .table-cell:last-child {
        width: 30px; }
  .search-area .search-show {
    position: absolute;
    left: 22px;
    top: 6px;
    z-index: 100;
    color: #b2b2b2;
    cursor: default;
    z-index: 1; }
    .search-area .search-show .icon {
      width: 26px;
      height: 26px; }
  .search-area .twitter-typeahead {
    width: 100%;
    padding: 0 59px 12px; }
  .search-area .tt-hint,
  .search-area .tt-input {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.5); }
  .search-area .tt-hint {
    margin-left: 59px;
    width: 80%; }
  .search-area .tt-dropdown-menu {
    width: 100%;
    background: #fcfcfc;
    border: 1px solid #e5e5e5;
    padding: 16px 20px 10px; }
    .search-area .tt-dropdown-menu .tt-suggestion {
      font-size: 16px;
      padding: 10px 10px 8px;
      border-bottom: 1px solid #e5e5e5;
      cursor: pointer;
      text-transform: capitalize; }
      .search-area .tt-dropdown-menu .tt-suggestion * {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        padding: 0;
        margin: 0; }
      .search-area .tt-dropdown-menu .tt-suggestion:last-child {
        border: none; }
    .search-area .tt-dropdown-menu .tt-cursor {
      background: #333; }
      .search-area .tt-dropdown-menu .tt-cursor * {
        color: white; }
      .search-area .tt-dropdown-menu .tt-cursor:hover {
        background: rgba(51, 51, 51, 0.1); }
        .search-area .tt-dropdown-menu .tt-cursor:hover * {
          color: black; }
  .search-area .btn-reset {
    position: absolute;
    right: 20px;
    top: 9px; }
    .search-area .btn-reset .icon-close {
      width: 15px; }
  .search-area .search-correction {
    position: relative;
    width: 100%;
    background-color: #fffae2;
    padding: 8px 15px 13px;
    padding: 12px 20px 16px;
    border-top: none; }
    .search-area .search-correction .inner-wrap:before, .search-area .search-correction .inner-wrap:after {
      content: " ";
      display: table; }
    .search-area .search-correction .inner-wrap:after {
      clear: both; }
    .search-area .search-correction .number-results {
      display: none; }
    .search-area .search-correction:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 9px;
      border-color: white transparent transparent transparent;
      border-top-style: solid;
      position: absolute;
      z-index: 1;
      top: -1px;
      margin-left: 5px; }
    .search-area .search-correction:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 10px;
      border-color: #dddbd0 transparent transparent transparent;
      border-top-style: solid;
      position: absolute;
      top: -1px;
      margin-left: 4px; }
    .search-area .search-correction .left-col {
      float: left; }
    .search-area .search-correction .number-results {
      display: block;
      float: right; }
    .search-area .search-correction p {
      color: #444444;
      margin-bottom: 0;
      font-size: 12px;
      font-size: 14px; }

.tt-dropdown-menu {
  left: -47px;
  right: -52px; }

.advert-image {
  float: right; }

.filter-wrapper {
  overflow: hidden; }

.search-filter {
  max-width: 1410px;
  margin: 0 0 -1px;
  white-space: nowrap;
  line-height: 1; }
  .search-filter li {
    display: inline-block; }
    .search-filter li.active a {
      color: #000; }
    .search-filter li.active span {
      border-bottom: 2px solid #000; }
    .search-filter li a {
      display: inline-block;
      padding: 0 28px 0 0;
      color: #c8c8c8;
      color: rgba(0, 0, 0, 0.5);
      -webkit-transition: color 0.6s ease;
      -o-transition: color 0.6s ease;
      transition: color 0.6s ease;
      padding-right: 41px; }
      .search-filter li a:hover {
        color: #000; }
    .search-filter li span {
      padding-bottom: 10px;
      display: block;
      padding-bottom: 20px; }

.search-result {
  margin-bottom: 30px; }
  .search-result figure {
    margin: 0 auto;
    position: relative; }
    .search-result figure img {
      width: 100%; }
    .search-result figure figcaption {
      position: absolute;
      bottom: 0;
      background-color: #000;
      color: #fff;
      padding: 2px 15px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 10px;
      padding: 2px 20px; }
  .search-result .info {
    background-color: #fff;
    padding: 20px 15px 54px;
    position: relative;
    padding: 27px 31px 69px; }
    .search-result .info h3 {
      margin: 0 0 5px;
      font-size: 24px;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 17px; }
    .search-result .info p {
      font-size: 12px;
      line-height: 1.5;
      color: #666;
      font-size: 14px; }
    .search-result .info .time-stamp {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fcfcfc;
      border-top: 1px solid #ededed;
      padding: 6px 15px 10px;
      padding: 8px 31px; }
      .search-result .info .time-stamp .icon-clock {
        width: 15px;
        height: 15px;
        position: relative;
        top: 3px;
        margin-right: 11px; }
      .search-result .info .time-stamp span {
        font-size: 12px;
        color: #a1a1a1;
        color: rgba(0, 0, 0, 0.5); }

.search-sort:before, .search-sort:after {
  content: " ";
  display: table; }
.search-sort:after {
  clear: both; }
.search-sort p, .search-sort a {
  font-size: 12px;
  color: #ababab;
  color: rgba(68, 68, 68, 0.5);
  font-size: 14px; }
.search-sort p:first-child {
  float: left; }
.search-sort .sorting {
  float: right; }
  .search-sort .sorting a {
    -webkit-transition: color 0.6s ease;
    -o-transition: color 0.6s ease;
    transition: color 0.6s ease; }
  .search-sort .sorting a.active,
  .search-sort .sorting a:hover {
    color: #000; }
    .search-sort .sorting a.active .chevy2 path,
    .search-sort .sorting a:hover .chevy2 path {
      fill: #ff0000 !important; }
  .search-sort .sorting a:last-child {
    border-left: 1px solid #c7c7c7;
    padding-left: 16px;
    margin-left: 10px; }
  .search-sort .sorting .icon-sort-chevron {
    width: 8px;
    height: 12px;
    position: relative;
    top: 1px;
    margin-right: 5px; }

.search-listings {
  list-style: none;
  margin: 0;
  clear: both;
  border-top: 1px solid #dedede; }
  .search-listings li {
    border-bottom: 1px solid #dedede;
    padding: 11px 95px 11px 0;
    position: relative;
    padding-top: 28px;
    padding-right: 120px;
    position: relative;
    /* TODO: Change button styling as per design with supplied svg */ }
    .search-listings li:before, .search-listings li:after {
      content: " ";
      display: table; }
    .search-listings li:after {
      clear: both; }
    .search-listings li.no-pad-right {
      padding-right: 0; }
    .search-listings li h4 {
      margin-top: 0;
      text-transform: capitalize;
      margin-bottom: 12px; }
    .search-listings li p {
      font-size: 12px;
      line-height: 1.5;
      margin-bottom: 9px;
      max-height: 52px;
      overflow: hidden;
      font-size: 14px;
      margin-bottom: 17px;
      max-height: 62px; }
    .search-listings li .media-type.icon {
      position: absolute;
      top: 50%;
      margin-top: -25px;
      right: 8px;
      width: 49px;
      height: 49px;
      fill: black;
      color: #dedede; }
    .search-listings li.has-feature {
      padding-right: 36px;
      padding-right: 10px;
      min-height: 175px;
      padding-right: 36px; }
      .search-listings li.has-feature h4 {
        padding-left: 230px; }
      .search-listings li.has-feature .feature {
        top: 30px; }
      .search-listings li.has-feature .feature {
        position: absolute;
        width: 135px;
        height: 76px;
        overflow: hidden;
        width: 201px;
        height: 112px; }
        .search-listings li.has-feature .feature:hover {
          opacity: 0.9; }
        .search-listings li.has-feature .feature.gallery {
          background: url(/etc/designs/foxtel/common/clientlibs/images/gallery-bg.png) no-repeat;
          background-size: cover;
          padding: 1px 7px 7px 0px;
          min-height: 80px;
          min-height: 119px; }
          .search-listings li.has-feature .feature.gallery img {
            width: 191px; }
        .search-listings li.has-feature .feature.video:before {
          content: ' ';
          background: rgba(0, 0, 0, 0.3);
          position: absolute;
          width: 100%;
          height: 100%; }
        .search-listings li.has-feature .feature.video svg {
          position: absolute;
          top: 50%;
          margin-top: -25px;
          left: 50%;
          margin-left: -25px;
          fill: white; }
        .search-listings li.has-feature .feature + p {
          padding-left: 145px;
          min-height: 76px;
          padding-left: 230px;
          min-height: 62px; }
    .search-listings li .button-arrow {
      border-color: #dedede;
      border-color: rgba(0, 0, 0, 0.2);
      color: #010101;
      margin: 8px 0 9px;
      float: right;
      margin: -2px 0 18px; }
      .search-listings li .button-arrow:hover {
        color: #010101; }
      .search-listings li .button-arrow.left-motion {
        float: left; }

.search-related h4 {
  margin-top: 37px;
  margin-bottom: 13px;
  margin-top: 41px; }
.search-related ul {
  display: block;
  padding: 0;
  margin: -10px;
  display: block;
  padding: 0;
  margin: -10px; }
  .search-related ul:before, .search-related ul:after {
    content: " ";
    display: table; }
  .search-related ul:after {
    clear: both; }
  .search-related ul > li {
    display: block;
    height: auto;
    float: left;
    padding: 0 10px 20px; }
  .search-related ul > li {
    width: 100%;
    padding: 0 10px 20px;
    list-style: none; }
    .search-related ul > li:nth-of-type(1n) {
      clear: none; }
    .search-related ul > li:nth-of-type(1n+1) {
      clear: both; }
  .search-related ul:before, .search-related ul:after {
    content: " ";
    display: table; }
  .search-related ul:after {
    clear: both; }
  .search-related ul > li {
    display: block;
    height: auto;
    float: left;
    padding: 0 10px 20px; }
  .search-related ul > li {
    width: 50%;
    padding: 0 10px 20px;
    list-style: none; }
    .search-related ul > li:nth-of-type(1n) {
      clear: none; }
    .search-related ul > li:nth-of-type(2n+1) {
      clear: both; }
  .search-related ul > li {
    font-size: 12px;
    padding-bottom: 3px;
    position: relative;
    font-size: 14px; }
    .search-related ul > li:before {
      content: ' ';
      display: block;
      width: 14px;
      height: 10px;
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMywgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxMy45OTNweCIgaGVpZ2h0PSI5LjAwN3B4IiB2aWV3Qm94PSIwIDAgMTMuOTkzIDkuMDA3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMy45OTMgOS4wMDc7Ig0KCSB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik04Ljc3NSw4LjM4bDAuNjM4LDAuNjI3bDQuNTgxLTQuNTA0TDkuNDEzLDBMOC43NzUsMC42MjdsMy40OTMsMy40MzRIMHYwLjg4NmgxMi4yNjhMOC43NzUsOC4zOHoiLz4NCjwvc3ZnPg==");
      background-repeat: no-repeat;
      display: inline-block;
      margin-right: 8px; }
    .search-related ul > li:last-child {
      padding-bottom: 0; }
    .search-related ul > li a {
      color: #666;
      -webkit-transition: color 0.6s ease;
      -o-transition: color 0.6s ease;
      transition: color 0.6s ease; }
      .search-related ul > li a:hover {
        color: #000; }

.search-additional h4 {
  margin-bottom: 21px;
  margin-bottom: 25px; }
.search-additional h5 {
  font-size: 14px;
  margin-top: 16px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 11px; }
.search-additional p {
  font-size: 12px;
  line-height: 1.5;
  color: #666;
  font-size: 14px; }
