/************************************************************/
/* Authoring error styles
/************************************************************/

.component-error {
	color: #aa1313;
	background: #FCEDED;
	margin-bottom: 1em;
	padding: 0.5em;
	border: 1px solid red;
}

.component-error p {
	color: #d40000;
}

.component-error ul {
	padding-left: 10px;
	margin-left:4px;
}

.component-error li {
	color: #d40000;
	padding-left: 10px;
	padding-bottom: 4px;
	font-weight:normal;
}

.component-error a {
	color: #0077CC;;
	font-weight:normal;
}

.validationMessages {
	color: #aa1313;
	background: #FCEDED;
	margin-bottom: 1em;
	padding: 0.5em;
	border: 1px solid red;
}

.errorMessages ul {
	padding-left: 10px;
	margin-left:4px;
}

.errorMessages li {
	color: #d40000;
	padding-left: 10px;
	padding-bottom: 4px;
	font-weight:normal;
}

.campaign_body {
	background-color: black;
	color: white;
}

#CQrte
{
    background-color:#E3F3FF;
    background-image:none !important;
}


#CQ legend
{
	margin-bottom: 0px;
	-webkit-padding-start: 2px;
	-webkit-padding-end: 2px;
	border-bottom: none;
	width: auto;
}

#CQ label
{
	margin-bottom: 0px;
	font-weight: normal;
	
}

#CQ .x-form-field,
#CQ .x-form-trigger, 
#CQ .x-toolbar-left:after,
#CQ .x-toolbar-left:before
{
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
