.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10.0px;
	margin-right: 10.0px;
}

.container_16 .grid_1 { width: 40px; }
.container_16 .grid_2 { width: 100px; }
.container_16 .grid_3 { width: 160px; }
.container_16 .grid_4 { width: 220px; }
.container_16 .grid_5 { width: 280px; }
.container_16 .grid_6 { width: 340px; }
.container_16 .grid_7 { width: 400px; }
.container_16 .grid_8 { width: 460px; }
.container_16 .grid_9 { width: 520px; }
.container_16 .grid_10 { width: 580px; }
.container_16 .grid_11 { width: 640px; }
.container_16 .grid_12 { width: 700px; }
.container_16 .grid_13 { width: 760px; }
.container_16 .grid_14 { width: 820px; }
.container_16 .grid_15 { width: 880px; }
.container_16 .grid_16 { width: 940px; }
.container_16 .prefix_1 { padding-left: 60px; }
.container_16 .prefix_2 { padding-left: 120px; }
.container_16 .prefix_3 { padding-left: 180px; }
.container_16 .prefix_4 { padding-left: 240px; }
.container_16 .prefix_5 { padding-left: 300px; }
.container_16 .prefix_6 { padding-left: 360px; }
.container_16 .prefix_7 { padding-left: 420px; }
.container_16 .prefix_8 { padding-left: 480px; }
.container_16 .prefix_9 { padding-left: 540px; }
.container_16 .prefix_10 { padding-left: 600px; }
.container_16 .prefix_11 { padding-left: 660px; }
.container_16 .prefix_12 { padding-left: 720px; }
.container_16 .prefix_13 { padding-left: 780px; }
.container_16 .prefix_14 { padding-left: 840px; }
.container_16 .prefix_15 { padding-left: 900px; }
.container_16 .prefix_16 { padding-left: 960px; }
.container_16 .suffix_1 { padding-right: 60px; }
.container_16 .suffix_2 { padding-right: 120px; }
.container_16 .suffix_3 { padding-right: 180px; }
.container_16 .suffix_4 { padding-right: 240px; }
.container_16 .suffix_5 { padding-right: 300px; }
.container_16 .suffix_6 { padding-right: 360px; }
.container_16 .suffix_7 { padding-right: 420px; }
.container_16 .suffix_8 { padding-right: 480px; }
.container_16 .suffix_9 { padding-right: 540px; }
.container_16 .suffix_10 { padding-right: 600px; }
.container_16 .suffix_11 { padding-right: 660px; }
.container_16 .suffix_12 { padding-right: 720px; }
.container_16 .suffix_13 { padding-right: 780px; }
.container_16 .suffix_14 { padding-right: 840px; }
.container_16 .suffix_15 { padding-right: 900px; }
.container_16 .suffix_16 { padding-right: 960px; }
.container_16 .push_1 { left: 60px; }
.container_16 .push_2 { left: 120px; }
.container_16 .push_3 { left: 180px; }
.container_16 .push_4 { left: 240px; }
.container_16 .push_5 { left: 300px; }
.container_16 .push_6 { left: 360px; }
.container_16 .push_7 { left: 420px; }
.container_16 .push_8 { left: 480px; }
.container_16 .push_9 { left: 540px; }
.container_16 .push_10 { left: 600px; }
.container_16 .push_11 { left: 660px; }
.container_16 .push_12 { left: 720px; }
.container_16 .push_13 { left: 780px; }
.container_16 .push_14 { left: 840px; }
.container_16 .push_15 { left: 900px; }
.container_16 .push_16 { left: 960px; }
.container_16 .pull_1 { right: 60px; }
.container_16 .pull_2 { right: 120px; }
.container_16 .pull_3 { right: 180px; }
.container_16 .pull_4 { right: 240px; }
.container_16 .pull_5 { right: 300px; }
.container_16 .pull_6 { right: 360px; }
.container_16 .pull_7 { right: 420px; }
.container_16 .pull_8 { right: 480px; }
.container_16 .pull_9 { right: 540px; }
.container_16 .pull_10 { right: 600px; }
.container_16 .pull_11 { right: 660px; }
.container_16 .pull_12 { right: 720px; }
.container_16 .pull_13 { right: 780px; }
.container_16 .pull_14 { right: 840px; }
.container_16 .pull_15 { right: 900px; }
.container_16 .pull_16 { right: 960px; }

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

/* spacers */
div.section.spacer_before {
    padding-top: 8px;
    margin-top: 12px;
}
div.section.spacer_after {
    margin-bottom: 20px;
}
div.section.spacer_both {
    padding-top: 8px;
    margin-bottom: 20px;
    margin-top: 12px;
}

/* parsys component */
div.par, div.rightpar {
    clear: both;
}
div.parsys_column {
    height: 100%;
    width: 100%;
    float: left;
    border: 0;
    vertical-align:top;
    padding: 0;
    margin: 0;
}

div.section {
    /* Property added to avoid IE hasLayout issue on paragraphs
       see #20817 - IE6: div around Drag Components image not big enough
    */
    zoom: 1;
}

div.parsys_column .section {
    overflow:hidden;
    width: 100%;
}

/* column control layouts */
div.cq-colctrl-cols {width: 100%; float: left; }

div.cq-colctrl-default { width: 100%;}

/* layout 0 : 50% 50% ( grid6 + grid6 ) */
div.cq-colctrl-lt0 { }
div.cq-colctrl-lt0-c0 { width: 340px; margin-right:10px}
div.cq-colctrl-lt0-c1 { width: 340px; margin-left: 10px}

/* layout 1 : 33% 33% 33%( grid4 + grid4 + grid4 ) */
div.cq-colctrl-lt1 { }
div.cq-colctrl-lt1-c0 { width: 220px; margin-right: 10px;}
div.cq-colctrl-lt1-c1 { width: 220px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt1-c2 { width: 220px; margin-left: 10px; }

/* layout 2: 16% 16% 16% 33% ( grid2.6 + grid2.6 + grid2.6 + grid4 ) */
div.cq-colctrl-lt2 { }
div.cq-colctrl-lt2-c0 { width: 140px; margin-right: 10px;}
div.cq-colctrl-lt2-c1 { width: 140px; margin-left: 10px; margin-right: 10px}
div.cq-colctrl-lt2-c2 { width: 140px; margin-left: 10px; margin-right: 10px}
div.cq-colctrl-lt2-c3 { width: 220px; margin-left: 10px }

/* layout 3: 4 x 25% ( grid3 + grid3 + grid3 + grid3 ) */
div.cq-colctrl-lt3 { }
div.cq-colctrl-lt3-c0 { width: 160px; margin-right: 10px;}
div.cq-colctrl-lt3-c1 { width: 160px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt3-c2 { width: 160px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt3-c3 { width: 160px; margin-left: 10px; }

/* layout 4: 5 x 20% ( grid2.5 + grid2.5 + grid2.5 + grid2.5 + grid2.5 ) */
div.cq-colctrl-lt4 { }
div.cq-colctrl-lt4-c0 { width: 124px; margin-right: 10px;}
div.cq-colctrl-lt4-c1 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c2 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c3 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c4 { width: 124px; margin-left: 10px; }

/* widepage layouts */

/* layout 5 : 50% 50% ( grid8 + grid8 ) */
div.cq-colctrl-lt5 { }
div.cq-colctrl-lt5-c0 { width: 460px; margin-right:10px}
div.cq-colctrl-lt5-c1 { width: 460px; margin-left: 10px}

/* layout 6 : 25% 25% ( grid4 + grid4 + grid4 + grid4) */
div.cq-colctrl-lt6 { }
div.cq-colctrl-lt6-c0 { width: 220px; margin-right:10px}
div.cq-colctrl-lt6-c1 { width: 220px; margin-left: 10px; margin-right:10px}
div.cq-colctrl-lt6-c2 { width: 220px; margin-left: 10px; margin-right:10px}
div.cq-colctrl-lt6-c3 { width: 220px; margin-left: 10px}


/* -----------------------------------------< START: User Toggle Button >---- */
div.toggle div.status.loading {
    background: url("images/loading.gif") no-repeat;
    height: 16px;
    width: 16px;
}
/* --------------------------------------------< END: User Toggle Button >--- */

.campaign_body {
	background-color: black;
	color: white;
}



