
.ie-bottom-rounded td:first-child 
{
	-webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px; 
}

.ie-bottom-rounded td:first-child 
{
	-webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px; 
}

.ie-bottom-rounded td:last-child 
{
	-webkit-border-bottom-right-radius: 8px; 
   	border-bottom-right-radius: 8px; 
}


.ie-top-rounded th:first-child 
{
	-webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px; 
}
.ie-top-rounded th:last-child 
{
	-webkit-border-top-right-radius: 8px; 
   	border-top-right-radius: 8px; 
}

.ie-top-rounded
{
	-webkit-border-top-right-radius: 8px; 
   	border-top-right-radius: 8px; 
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
}

.first-row:first-child 
{
	-webkit-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
}

.first-row:last-child 
{
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
}

.tabulator th, td {
    padding: 0 16px;
    vertical-align: top;
}

.tabulator td {
    padding: 12px 45px 7px 13px !important;

}

.tabulator .tableHeader p
{
	margin-top:5px;
	margin-bottom:5px;
	margin-right:0px;
	margin-left:10px;
}

.tabulator p
{
	margin-top:0px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:10px;
}

.tabulator p span
{
	vertical-align: middle;
}


.tabulator li{
	margin-bottom: 10px !important;
}
.tabulator
{
	margin: 21px 0;
}

.tabulator table {
    width: 100%;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border-collapse: separate;
    table-layout: fixed;
    overflow:hidden;
    background:#fff;
}

.panel .tabulator table {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.tabulator th {
    background: #3e3e3e;
    background: -moz-linear-gradient(top,  #3e3e3e 0%, #0a0a0a 100%, #3e3e3e 100%, #3e3e3e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e3e3e), color-stop(100%,#0a0a0a), color-stop(100%,#3e3e3e), color-stop(100%,#3e3e3e));
    background: -webkit-linear-gradient(top,  #3e3e3e 0%,#0a0a0a 100%,#3e3e3e 100%,#3e3e3e 100%);
    background: -o-linear-gradient(top,  #3e3e3e 0%,#0a0a0a 100%,#3e3e3e 100%,#3e3e3e 100%);
    background: -ms-linear-gradient(top,  #3e3e3e 0%,#0a0a0a 100%,#3e3e3e 100%,#3e3e3e 100%);
    background: linear-gradient(to bottom,  #3e3e3e 0%,#0a0a0a 100%,#3e3e3e 100%,#3e3e3e 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3e', endColorstr='#3e3e3e',GradientType=0 )";
    color: #ffcc00;
    line-height: 36px;
    padding-left: 12px;
}

/* borders and padding for accordion ('.panel') */
.panel .tabulator {
    margin-right:-15px !important;
    margin-left:-15px !important;
}

.panel .tabulator td, .panel .tabulator th {
    border-radius:0 !important;
	-webkit-border-radius:0px !important;
}

.panel .tabulator tr td:first-child {
    border-left:0 !important;
}

.panel .tabulator tr th:first-child {
	border-left: 0 !important;
}

.panel .tabulator tr td:last-child {
    border-right:0 !important;
}

.panel .tabulator tr th:last-child {
	border-right: 0 !important;
}

.panel .tabulator:first-child {
    margin-top:-15px !important;
}

.panel .tabulator:last-child {
    margin-bottom:-15px !important;
}

.panel .tabulator:last-child tr:last-child td {
    border-bottom:0 !important;
}

.panel .tabulator:first-child table {
    margin-top:0 !important;
}

.panel .tabulator:last-child table {
    margin-bottom:0 !important;
}
