<footer class="footer-main">
    <nav>
        <div class="row">
            <ul class="social-links">
                <li class="main-logo"><a href="#" target="_blank"><img src="/footer/clientlibs/images/temp/fox8.png" alt=""/></a></li>
                <li class="social-item"><a href="#" class="circled-icon" target="_blank"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>
                <li class="social-item"><a href="#" class="circled-icon" target="_blank"><svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg></a></li>
                <li class="social-item"><a href="#" class="circled-icon" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
                <li class="social-item"><a href="#" class="circled-icon" target="_blank"><svg class="icon icon-googleplus"><use xlink:href="#icon-googleplus"></use></svg></a></li>
				<li class="social-item"><a href="#" class="circled-icon" target="_blank"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li>
            </ul>
            <div class="footer-links">
                <div class="footer-item"><a href="#">About Us</a></div>
                <div class="footer-item"><a href="#">Privacy Policy</a></div>
                <div class="footer-item"><a href="#">Terms &amp; Conditions</a></div>
                <div class="footer-item"><a href="#">Win</a></div>
                <div class="footer-item"><a href="#">Footer1</a></div>
                <div class="footer-item"><a href="#">Footer2</a></div>
                <div class="footer-item"><a href="#">Footer3</a></div>
                <div class="footer-item"><a href="#">Footer4</a></div>
            </div>
        </div>
    </nav>
    <div class="footer-bottom">
        <div class="row">
            <div class="footer-logos">
                <a href="#"><img class="foxtel-logo" src="/footer/clientlibs/images/temp/foxtel_logo_2.png" alt=""/></a>
            </div>
            <div class="footer-copyright">&copy; Foxtel 2014</div>
        </div>
    </div>
</footer>