
.content-image {
    padding-top: 12px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.content-image.image-right img {
    float: right;
}

.content-image .pull-left {
    margin: 0 15px 15px 0;
}

.content-image .pull-right {
    margin: 0 0 15px 15px;
}

.content-image .pull-left + .content {
    margin-left: 81px;
}

.content-image .pull-right + .content {
    margin-right: 81px;
}


.content ol li
{
	list-style-type:decimal;	
	margin-left: 20px;
}

.content ul li
{
	background: url(../../../images/li-bg.png) no-repeat 0 7px;	
}

@media (max-width: 767px)
{
    .content-image {
        height: auto;
        line-height: normal;
        margin-bottom: 17px;
    }
}