﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" data-ng-app="commSec">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CommSec</title>
    <link rel="Stylesheet" href="../css/shared/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/shared/common.css" />
    <link rel="Stylesheet" href="../css/components/announcement/structure.css" />
    <link rel="Stylesheet" href="../css/components/announcement/skin.css" />
    <link rel="Stylesheet" href="../css/components/login/structure.css" />
    <link rel="Stylesheet" href="../css/components/login/skin.css" />
    <link rel="Stylesheet" href="../css/components/global-nav/structure.css" />
    <link rel="Stylesheet" href="../css/components/global-nav/skin.css" />
    <link rel="Stylesheet" href="../css/components/content-module/structure.css" />
    <link rel="Stylesheet" href="../css/components/content-module/skin.css" />
    <link rel="Stylesheet" href="../css/components/login-m/structure.css" />
    <link rel="Stylesheet" href="../css/components/login-m/skin.css" />
    <script src="../js/shared/angular.min.js"></script>
    <script src="../js/components/app/controllers.js"></script>
    <!--[if lt IE 9]>
    <script src="../js/shared/html5shiv.js"></script>
    <script src="../js/shared/respond.min.js"></script>
    <![endif]-->
</head>
<body data-nav-parent="Products" data-nav-child="Margin Lending">
    <div class="wrapper" data-ng-controller="SiteController">
        <div class="page-left">
            <!-- ANGULAR JS NAV IMPLEMENTATION -->
            <!-- BEGIN global-nav -->
            <section class="mob-global-nav collapsible-links" data-ng-controller="SiteNavController">
                <ul class="nav list-inline">
                    <li data-ng-repeat="navitem in rawnav" data-ng-class="activeClass(navitem.pageInfo.jcrTitle, 'data-nav-parent')">
                        <a href="#" data-ng-bind="navitem.pageInfo.jcrTitle"></a>
                        <ul>
                            <li data-ng-repeat="child in navitem.childPages" data-ng-class="activeClass(child.pageInfo.jcrTitle, 'data-nav-child')">
                                <a href="{{child.pageInfo.pagePath}}" data-ng-bind-html="child.pageInfo.jcrTitle"></a>
                            </li>
                            <li data-ng-repeat="child in navitem.subCols"></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- END global-nav -->
            <!-- END ANGULAR JS NAV IMPLEMENTATION -->
        </div>
        <div class="page-right">
            <!-- BEGIN announcements -->
            <section data-ng-controller="AnnouncementsController" class="announcements">
                <article class="announcement closeable priority-{{item.priority}}" data-ng-repeat="item in announcements | orderBy:'priority'" data-ng-show="$first">
                    <div class="container">
                        <span data-ng-bind-html="item.text"></span>
                        <a href="#" class="btn-close" data-ng-click="removeItem(item, $event)"></a>
                    </div>
                </article>
            </section>
            <!-- END announcements -->

            <!-- BEGIN global-nav MOBILE -->
            <section class="global-nav visible-xs" data-spy="affix">
                <ul class="top-nav list-inline">
                    <li>
                        <a href="#" class="hamburger"></a>
                    </li>
                    <li class="container-logo">
                        <a href="#"><img src="../images/CommSec-logo.png" alt="CommSec" /></a>
                    </li>
                    <li>
                        <a href="#" class="nav-search"></a>
                    </li>
                    <li>
                        <a href="#" class="nav-login"></a>
                    </li>
                </ul>
                <form class="search container">
                    <input type="text" placeholder="Enter search word" />
                    <button></button>
                    <div class="module-overlay"></div>
                </form>
            </section>
            <!-- END global-nav MOBILE -->

            <!-- BEGIN content-module - grey -->
            <section class="content-module dark-grey-bg bdr-btm bdr-e5e5e5 login-m">
                <div class="container">
                    <p>For best experience on the CommSec secure site, we recommend you download the CommSec app.</p>
                    <ul class="download">
                        <li><a href="#"><img src="../images/placeholders/login-m/btn_app-store.png" alt="" /></a></li>
                        <li><a href="#"><img src="../images/placeholders/login-m/btn_google-play.png" alt="" /></a></li>
                        <div class="clearfix"></div>
                    </ul>
                    <p><img src="../images/placeholders/login-m/screenshots.png" alt="" /></p>
                </div>
            </section>
            <!-- END content-module -->

            <!-- BEGIN content-module - black -->
            <section class="content-module black-bg bdr-btm bdr-e5e5e5 login-m">
                <div class="container">
                    <fieldset class="form-login">
                        <legend>Login to CommSec</legend>
                        <fieldset>
                            <label id="lbl-clientId" for="txt-clientId" class="sr-only">Client ID</label>
                            <input type="text" placeholder="Client ID" id="txt-clientId" />
                        </fieldset>
                        <fieldset>
                            <label id="lbl-password" for="txt-password" class="sr-only">Password</label>
                            <input type="password" placeholder="Password" id="txt-password" />
                        </fieldset>
                        <p>You cannot reset your password on a mobile. This can be done using a desktop or tablet or by calling the call centre.</p>
                        <p><button class="cta-rounded btn-yellow">LOGIN TO COMMSEC</button></p>
                    </fieldset>
                </div>
            </section>
            <!-- END content-module -->

            <!-- BEGIN content-module - grey -->
            <section class="content-module dark-grey-bg bdr-btm bdr-e5e5e5 login-m">
                <div class="container">
                    <h1>Not yet a CommSec Client?</h1>
                    <p>Nunc scelerisque magna nec nibh porta rutrum eget id dui. Sed eu porttitor sem.</p>
                    <p><a href="#" class="cta-rounded btn-yellow">JOIN COMMSEC</a></p>
                </div>
            </section>
            <!-- END content-module -->

            <div class="module-overlay"></div>
        </div>
    </div>

    <script src="../js/shared/jquery-1.10.2.min.js"></script>
    <script src="../js/shared/jquery.colorbox.js"></script>
    <script src="../js/shared/angular-resource.min.js"></script>
    <script src="../js/shared/angular-sanitize.min.js"></script>
    <script src="../js/components/app/services.js"></script>
    <script src="../js/shared/bootstrap.js"></script>
    <script src="../js/shared/main.js"></script>
    <script src="../js/components/mega-nav.js"></script>
    <script src="../js/components/global-nav.js"></script>
    <script src="../js/components/login.js"></script>
</body>
</html>