﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" data-ng-app="commSec">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CommSec</title>
    <link rel="Stylesheet" href="../css/shared/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/shared/common.css" />
    <link rel="Stylesheet" href="../css/components/announcement/structure.css" />
    <link rel="Stylesheet" href="../css/components/announcement/skin.css" />
    <link rel="Stylesheet" href="../css/components/login/structure.css" />
    <link rel="Stylesheet" href="../css/components/login/skin.css" />
    <link rel="Stylesheet" href="../css/components/global-nav/structure.css" />
    <link rel="Stylesheet" href="../css/components/global-nav/skin.css" />
    <link rel="Stylesheet" href="../css/components/carousel/structure.css" />
    <link rel="Stylesheet" href="../css/components/carousel/skin.css" />
    <link rel="Stylesheet" href="../css/components/content-module/structure.css" />
    <link rel="Stylesheet" href="../css/components/content-module/skin.css" />
    <link rel="Stylesheet" href="../css/components/share-this-page/structure.css" />
    <link rel="Stylesheet" href="../css/components/share-this-page/skin.css" />
    <link rel="Stylesheet" href="../css/components/page-nav/structure.css" />
    <link rel="Stylesheet" href="../css/components/page-nav/skin.css" />
    <link rel="Stylesheet" href="../css/components/accordian/structure.css" />
    <link rel="Stylesheet" href="../css/components/accordian/skin.css" />
    <link rel="Stylesheet" href="../css/components/top-page/structure.css" />
    <link rel="Stylesheet" href="../css/components/top-page/skin.css" />
    <link rel="Stylesheet" href="../css/components/tabulator/structure.css" />
    <link rel="Stylesheet" href="../css/components/tabulator/skin.css" />
    <link rel="Stylesheet" href="../css/components/footer/structure.css" />
    <link rel="Stylesheet" href="../css/components/footer/skin.css" />
    <link rel="Stylesheet" href="../css/components/contact-us/skin.css" />
    <link rel="Stylesheet" href="../css/components/contact-us/structure.css" />
    <link rel="Stylesheet" href="../css/components/new-to-trading/structure.css" />
    <link rel="Stylesheet" href="../css/components/new-to-trading/skin.css" />
    <link rel="Stylesheet" href="../css/components/slide-up/structure.css" />
    <link rel="Stylesheet" href="../css/components/slide-up/skin.css" />
    <script src="../js/shared/angular.min.js"></script>
    <script src="../js/components/app/controllers.js"></script>
    <!--[if lt IE 9]>
    <script src="../js/shared/html5shiv.js"></script>
    <script src="../js/shared/respond.min.js"></script>
    <link rel="Stylesheet" href="../css/components/new-to-trading/structure-ie8.css" />
    <![endif]-->
</head>
<body data-nav-parent="Products" data-nav-child="Margin Lending">
    <div class="wrapper" data-ng-controller="SiteController">
        <div class="page-left">
            <!-- ANGULAR JS NAV IMPLEMENTATION -->
            <!-- BEGIN global-nav -->
            <section class="mob-global-nav collapsible-links" data-ng-controller="SiteNavController">
                <ul class="nav list-inline">
                    <li data-ng-repeat="navitem in rawnav" data-ng-class="activeClass(navitem.pageInfo.jcrTitle, 'data-nav-parent', 'active active-page')">
                        <a href="#" data-ng-bind="navitem.pageInfo.jcrTitle"></a>
                        <ul>
                            <li data-ng-repeat="child in navitem.childPages" data-ng-class="activeClass(child.pageInfo.jcrTitle, 'data-nav-child', 'active')">
                                <a href="{{child.pageInfo.pagePath}}" data-ng-bind-html="child.pageInfo.jcrTitle"></a>
                            </li>
                            <li data-ng-repeat="child in navitem.subCols"></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- END global-nav -->
            <!-- END ANGULAR JS NAV IMPLEMENTATION -->
        </div>

            <div id="coin-fixed" class="coin coin-flip-0 coin-top-150 coin-layer-1"></div>

            <!-- BEGIN login -->
           <section class="login hidden-xs">
            <div class="container">
                <a href="#" class="logo pull-left"><img src="../images/CommSec-logo-sml.png" alt="CommSec" /></a>
                <form id="login-form" class="pull-right form-inline clearfix" action="https://commsec.dev01.commsec-it.cba/Public/HomePage/Login.aspx">
                    <fieldset class="fs-login-main hidden-xs">
                        <legend class="hide">Sign in</legend>
                        <div id="remember-cid-wrapper" class="fs-login remember-cid-wrapper" >
		                 	<label id="remeber-client-id-label" for="ctl00_cpContent_ckSaveID" class="remeber-client-id-label">Remember Client ID</label>           
						    <input id="ctl00_cpContent_ckSaveID" class="cbToggle" type="checkbox" name="ctl00$cpContent$ckSaveID" />  <label for="ctl00_cpContent_ckSaveID" class="cbToggleItem"></label>
						</div>
                        <fieldset class="fs-login">
                            <label class="sr-only" for="txt-clientId" id="lbl-clientId">Client ID</label>
                            <input type="text" placeholder="Client ID" id="txt-clientId" autofocus="autofocus" />
                            <a class="ForgotUn" rel="popover" data-toggle="popover"
                            data-content="<div class='popover-content-text' >Call us on <b>13 15 19</b>. Please note you will be asked some identification questions prior to being provided your Client ID.</div> " data-placement="bottom" href="#">Forgot?</a>
                        </fieldset>
                     	<fieldset class="fs-login">
                            <label class="sr-only" for="txt-password" id="lbl-password">Password</label>
                            <input type="password" placeholder="Password" id="txt-password" />
                            <a class="iframe cboxElement" href="http://en.wikipedia.org/wiki/Wiki">Forgot?</a>
                        </fieldset>
                        <div class="btn-group login-right">
							<button name="ctl00$cpContent$btnLogin" id="btn-login"  class="btn btn-primary btn-login btn-carrot">LOGIN</button>
				          	<button id="btnGroupVerticalDrop2" type="button" class="collapsed btn btn-primary  dropdown-toggle" data-toggle="dropdown"></button>
				          	<ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop2">
								<li class="take-me-to-link" id="linkvlaue"><a href="#">A</a></li>
								<li class="take-me-to-link" id="a"><a href="#">B</a></li>
								<li class="take-me-to-link"><a href="#">C</a></li>
		          			</ul>
		        		</div>
						<input type="hidden" name="ctl00$cpContent$btnLogin" value="" />
                        <input type="hidden" id="dllHelptext" value="START ME IN" />
                    </fieldset>
                </form>
            </div>
        </section>
            <!-- END login -->

            <!-- BEGIN global-nav MOBILE -->
            <section class="global-nav visible-xs" data-spy="affix">
                <ul class="top-nav list-inline">
                    <li>
                        <a href="#" class="hamburger"></a>
                    </li>
                    <li class="container-logo">
                        <a href="#"><img src="../images/CommSec-logo.png" alt="CommSec" /></a>
                    </li>
                    <li>
                        <a href="#" class="nav-search"></a>
                    </li>
                    <li>
                        <a href="#" class="nav-login"></a>
                    </li>
                </ul>
                <form class="search container">
                    <input type="text" placeholder="Enter search word" />
                    <button></button>
                    <div class="module-overlay"></div>
                </form>
            </section>
            <!-- END global-nav MOBILE -->

            <!-- ANGULAR JS NAV IMPLEMENTATION -->
            <!-- BEGIN global-nav -->
            <div class="global-nav-wrapper" data-spy="affix">
                <section class="global-nav hidden-xs" data-ng-controller="MegaNavController">
                <div class="inner">
                    <div class="container">
                        <ul class="nav">
                            <li class="logo">
                                <a href="#"><img src="../images/CommSec-logo.png" alt="CommSec" /></a>
                            </li>
                            <li data-ng-repeat="navitem in nav" data-ng-class="activeClass(navitem.title, 'data-nav-parent', 'active')">
                                <span data-ng-bind="navitem.title"></span>
                                <div class="mega-sub-container">
                                    <div class="container">
                                        <div class="css-table">
                                            <div class="col" data-ng-repeat="child in navitem.subCols">
                                                <span data-ng-bind-html="child.overview"></span>
                                                <ul>
                                                    <li data-ng-repeat="page in child.subItems">
                                                        <p><a href="{{page.link}}" data-ng-bind-html="page.title"></a><br data-ng-show="page.description" />
                                                            <span data-ng-bind-html="page.description"></span>
                                                        </p>
                                                    </li>
                                                </ul>
                                                <p data-ng-show="child.featureImage"><a href="{{child.featureImage.link}}"><img data-ng-src="{{child.featureImage.path}}" alt="" /></a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-close"><span>CLOSE</span></a>
                                </div>
                            </li>
                            <li class="nav-search">
                                <form>
                                    <div class="input-group">
                                        <input type="text" placeholder="Search" />
                                        <button class="search-submit" type="submit"></button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            </div>
            <!-- END global-nav -->
            <!-- END ANGULAR JS NAV IMPLEMENTATION -->

            <!-- BEGIN New to trading -->
            <section class="content-module bdr-btm bdr-302c2d hero-banner black-bg scene" id="section0" data-scroll-pause="false" data-scroll-offset="57" data-0="top: 0%;" data-400="top: 0%;" data-600="top: -100%;">
                <div class="container">
                    <div class="css-table row">
                        <article class="col col-sm-6">
                            <h1>New to trading?</h1>
                            <p>The stock market can seem overwhelming, but it’s easy to get started with CommSec.</p>
                            <p><a href="#" class="get-started">get started</a></p>
                        </article>
                        <article class="col col-sm-6 col-center">
                            <div class="relative-container hidden-xs">
                                <div id="coin0" class="coin coin-flip-0 coin-top-150 coin-layer-1"></div>
                            </div>
                            <div class="visible-xs">
                                <span class="pf-image" data-picture data-alt="One dollar coin">
                                    <span data-src="../images/new-to-trading/coin_1.png"></span>
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <!-- END New to trading -->

            <!-- BEGIN page-navigation -->
            <nav id="nav" class="page-nav scrollspy hidden-xs" data-spy="affix">
                <div class="container">
                    <ul class="css-table pull-left nav navbar-nav">
                        <li class="col active"><a href="#section1">Trading basics</a></li>
                        <li class="col"><a href="#section4">Why CommSec</a></li>
                        <li class="col"><a href="#section5">Features</a></li>
                        <li class="col"><a href="#section7">Pricing</a></li>
                        <li class="col"><a href="#section8">Getting Started</a></li>
                    </ul>
                    <div class="pull-right">
                        <a href="#" class="cta-rounded"><span>JOIN TODAY</span></a>
                    </div>
                </div>
            </nav>
            <!-- END page-navigation -->

            <!-- BEGIN cta-bar -->
            <nav id="nav1" class="page-nav no-animate scrollspy visible-xs" data-spy="affix">
                <div class="container">
                    <a href="#" class="cta-rounded width-85pc"><span>JOIN TODAY</span></a>
                </div>
            </nav>
            <!-- END cta-bar -->

            <!-- BEGIN page-navigation-mob -->
            <nav id="nav-mob" class="visible-xs">
                <div class="page-nav-mob collapsed" data-list-length="5">
                    <div class="page-nav-mob-inner">
                        <a href="#" class="toggle plus">MORE</a>
                        <div class="panel panel-default">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#section1">Trading basics</a></li>
                                <li class="list-group-item"><a href="#section4">Why CommSec</a></li>
                                <li class="list-group-item"><a href="#section5">Features</a></li>
                                <li class="list-group-item"><a href="#section7">Pricing</a></li>
                                <li class="list-group-item"><a href="#section8">Getting Started</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- END page-navigation-mob -->

            <!-- BEGIN What is a share? -->
            <section class="content-module white-bg scene" id="section1" data-scroll-pause="true" data-0="top: 100%;" data-400="top: 100%;" data-600="top: 0%;" data-1800="top: 0%;" data-2200="top: -100%;">
                <div class="container">
                    <div class="row css-table">
                        <article class="col col-sm-6">
                            <h2>What is a share?</h2>
                            <p>A share represents a part ownership of a business. When you buy a share in a publicly listed company, you become a part-owner of that company.</p>
                        </article>
                        <article class="col col-sm-6 col-center">
                            <div class="relative-container hidden-xs">
                                <!--<p id="f1Container" style="width: 450px; height: 450px" class="coin-layer-2"></p>
                                <div id="coin1" class="coin hidden coin-layer-1"></div>-->
                                <div id="pie" class="pie pie-0 hidden"></div>
                            </div>
                            <div class="visible-xs">
                                <span class="pf-image" data-picture data-alt="Slice of the pie">
                                    <span data-src="../images/new-to-trading/pie.png"></span>
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <!-- END What is a share? -->

        <!-- BEGIN What is a share? -->
            <section class="content-module black-bg scene" id="section3" data-scroll-pause="true" data-1800="top: 100%;" data-2200="top: 0;">
                <div class="container">
                    <div class="row css-table">
                        <article class="col col-sm-6">
                            <h2>3333333</h2>
                            <p>33333333 2121A share represents a part ownership of a business. When you buy a share in a publicly listed company, you become a part-owner of that company.</p>
                        </article>
                        <article class="col col-sm-6 col-center">
                            <div class="relative-container hidden-xs">
                                <p id="P1" style="width: 450px; height: 450px" class="coin-layer-2"></p>
                                <div id="Div1" class="coin hidden coin-layer-1"></div>
                            </div>
                            <div class="visible-xs">
                                <span class="pf-image" data-picture data-alt="Slice of the pie">
                                    <span data-src="../images/new-to-trading/pie.png"></span>
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <!-- END What is a share? -->


            

            <div class="module-overlay"></div>
        <span class="responsive-mobile visible-xs"></span>
    </div>

    <script src="../js/shared/jquery-1.10.2.min.js"></script>
    <script src="../js/shared/jquery.colorbox.js"></script>
    <script src="../js/shared/angular-resource.min.js"></script>
    <script src="../js/shared/angular-sanitize.min.js"></script>
    <!--[if lte IE 9]>
    <script src="../js/ie.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="../js/ie8.js"></script>
    <![endif]-->
    <!--<script data-main="../js/components/ntt-loader" src="../js/shared/require.js"></script>-->
    <script src="../js/components/app/services.js"></script>
    <!--<script src="../js/shared/greensock/TweenMax.min.js"></script>
    <script src="../js/shared/jquery.scrollmagic.js"></script>
    <script src="../js/components/scrollmagic-ntt.js"></script>-->
    <script src="../js/shared/skrollr.min.js"></script>
    <script src="../js/shared/runtime.js"></script>
    <script src="../js/shared/waypoints.min.js"></script>
    <script src="../js/components/scroller-ntt.js"></script>
    <script src="../js/shared/bootstrap.js"></script>
    <script src="../js/shared/jquery.placeholder.js"></script>
    <script src="../js/shared/main.js"></script>
    <script src="../js/components/mega-nav.js"></script>
    <script src="../js/components/page-nav.js"></script>
    <script src="../js/components/carousel.js"></script>
    <script src="../js/components/footer.js"></script>
    <script src="../js/components/share-this-page.js"></script>
    <script src="../js/components/top-page.js"></script>
    <script src="../js/components/login.js"></script>
</body>
</html>