
#footer h1, #footer h2 {
    color:#fff;
}

.footer-links a {
    color:#aaa;
}

.footer-index-links>ul>li>a {
    color:#fff;
}

.footer-index-links ul ul li a {
    color:#aaa;
}

.footer-index-links ul>li.active-page>a, 
.footer-index-links ul>li.active-page>ul>li.active>a {
    color:#ffcc00;
}

@media screen and (max-width: 767px) {
    .footer-index-links>ul>li>a:after {
        position:relative;
    }

    .footer-index-links>ul>li>a:after {
        content: ' ';
        display: block;
        position: absolute;
        width:12px;
        height:7px;
        background: url(../../../images/sprite-icons.png) no-repeat -87px -60px;
        right:15px;
        top:6px;
    }

    .footer-index-links>ul>li.active>a:after {
        background: url(../../../images/sprite-icons.png) no-repeat -87px -67px;
    }
}
