
#footer {
    font-size:12px;
    padding-bottom:50px;
}

#footer ul {
    list-style:none; 
    margin:0; 
    padding:0;
}

#footer h2 {
    margin:0;
    padding:0;
    font-size:12px;
}

.footer-container {
    padding-top:20px;
}

.footer-links li {
    float:left;
    background: none;
    padding: 0;
}

.footer-links li {
    padding-left:6px;
}

.footer-links li:first-child {
    padding-left: 0;
}

.footer-links li:before {
    content:'|';
    color:#aaa;
    padding-right:6px;
}

.footer-links li:first-child:before {
    content: '';
    padding-right: 0;
}

.footer-list.footer-download {
    clear:both;
}

.footer-list li {
    float:left;
    background: none;
    padding: 0;
}

.footer-list li {
    margin-left:10px;
}

.footer-list li:first-child {
    margin-left: 0;
}

.footer-index-links>ul>li>a {
    font-size:16px; 
    display:block;
}

.footer-download.footer-list {
    padding-bottom:10px;
}

.footer-download.footer-list:last-child {
    padding-bottom:20px;
}

#footer p a {
    color:#aaa;
    text-decoration:underline;
}

@media screen and (max-width: 767px) {
    /* MOBILE ONLY */
    #footer .row.dark-grey-bg {
        background:none;
    }

    .footer-logo, .footer-links {
        padding-bottom:20px;
    }

    .footer-links li {
        padding-right:3px;
    }

    .footer-links li:nth-child(5) {
        clear:both; 
        padding-left:0; 
    }

    .footer-links li:nth-child(5):before {
        content:'';
        padding-right:0px;
    }

    .footer-list h2 {
        line-height:inherit;
        margin-bottom:6px;
    }

    .footer-container,
    .footer-index-links>ul>li:not(:last-child)   {
        border-bottom:solid 1px #302c2d;
        padding-bottom:20px;
        padding-right:0 !important;
    }

    .footer-index-links {
        margin-bottom:20px;
    }
    
    .footer-index-links > ul > li {
        background: none;
    }
    
    .footer-index-links>ul>li:not(:last-child)  {
        margin-bottom:20px;
    }

    .footer-index-links>ul>li>ul {
        display:none;
    }

    .footer-index-links>ul>li.active>ul {
        display:block;
    }

    .footer-index-links>ul>li>ul>li {
        margin-top:6px;
        background: none;
        padding: 0;
    }

    .footer-download.footer-list:last-child {
        padding-bottom:0px;
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    /* TABLET 'PORTRAIT' ONLY */
    .footer-index-links > ul > li:nth-child(5) {
        clear: both;
    }
}

@media screen and (min-width: 768px) {
    /* TABLET 'PORTRAIT' + */
    .footer-list h2, .footer-list li, .footer-links li {
        line-height:38px; 
        vertical-align:middle;
    }

    .footer-index-links {
        margin-top:15px;
    }

    .footer-index-links>ul>li {
        margin-bottom:15px;
        background: none;
    }

    .footer-index-links>ul>li>ul>li {
        margin-top:10px;
        background:none;
        padding:0;
    }

    .footer-container .footer-list.footer-download:first-child {
        margin-top:-10px;
    }

    #footer .footer-list .col-md-2 h2 {
        padding-top: 12px; line-height:inherit;
    }
}

@media screen and (min-width: 992px) {
    .footer-follow.footer-list .row {
        float:right;
    }

    .footer-follow.footer-list .col-md-4, .footer-follow.footer-list .col-md-8 {
        width:auto;
        padding-left:0;
    }
}
