@import "../../../../../../etc/designs/foxtel/common/clientlibs/scss/includes/includes";

$article-copy-color: #666;
$article-padding-bottom: 21px;

.content-pillars {
  .button-arrow {
    margin-bottom: rem-calc(14);
    margin-top: 0;
    float: right;
    text-transform: none;
    &.visible-large {
      display: none;
    }
    @include media-query($large-up) {
      margin-bottom: rem-calc(26);
      &.visible-large {
        display: block;
      }
      &.visible-small {
        display: none;
      }
    }
  }
  header {
    @include clearfix;
    .content-pillars-heading {
      font-size: rem-calc(22);
      font-family: $font-family_heading-primary;
      display: inline-block;
      margin-top: rem-calc(3);
      margin-bottom: rem-calc(17);
      @include media-query($large-up) {
        font-size: rem-calc(28);
        margin-top: rem-calc(7);
      }
    }
  }
  .row {
    clear: both;
    @include component-grid-row;
    @include media-query($large-up) {
      margin-bottom: -$article-padding-bottom;
    }

    & + .button-arrow {
      float: left;
    }
    article {
      @include component-grid-column($columns: 6);
      @include component-grid-column-gutters;
      @include image-scale;
      padding-bottom: rem-calc($article-padding-bottom);
      &:nth-child(4) {
        clear: left;
      }
      .heading {
        font-size: rem-calc(16);
        font-family: $font-family_heading-tertiary;
        margin-bottom: rem-calc(6);
        line-height: 1.4;
        @include transition(opacity 0.5s);
        @include media-query($medium-up) {
          font-size: rem-calc(18);
          line-height: inherit;
        }

        &:hover {
          opacity: 0.8;
        }
      }
      picture {
        margin-bottom: rem-calc(10);
        display: block;
        width: 100%;
        overflow: hidden;
        @include media-query($medium-up) {
          margin-bottom: rem-calc(15);
        }

        img {
          @include transition(all 1s);
        }
      }
      p {
        color: $article-copy-color;
        font-size: rem-calc(14);
        display: none;
        @include media-query($medium-up) {
          display: block;
        }
      }
      @include media-query($large-up) {
        @include component-grid-column($columns: 4);
        &:nth-child(4) {
          clear: none;
        }
        &:nth-child(3) {
          clear: left;
        }
      }

      @include media-query($xlarge-up) {
        @include component-grid-column($columns: 2);
        &:nth-child(3) {
          clear: none;
        }
      }

      &.feature {
        p {
          display: block;
        }
        @include component-grid-column($columns: 12);
        @include media-query($large-up) {
          @include component-grid-column($columns: 8);
        }

        @include media-query($xlarge-up) {
          @include component-grid-column($columns: 4);
        }

        & + article {
          @include media-query($large-up) {
            @include component-grid-column($columns: 4);
          }

          @include media-query($xlarge-up) {
            @include component-grid-column($columns: 2);
          }
        }
      }
    }
  }
}