
.content-module h1,
.content-module h2 {
    color: #231f20;
}

.content-module.black-bg h1,
.content-module.black-bg h2,
.content-module.black-bg h3,
.content-module.dark-grey-bg h1,
.content-module.dark-grey-bg h2,
.content-module.dark-grey-bg h3,
.content-module.black-bg h1 a,
.content-module.black-bg h2 a,
.content-module.black-bg h3 a,
.content-module.dark-grey-bg h1 a,
.content-module.dark-grey-bg h2 a,
.content-module.dark-grey-bg h3 a
{
    color: #ffcc00;
}

.content-module.black-bg p {
    color: #aaa;
}

.content-module.black-bg .cta-strip p {
    color:#fff;
}

.highlights .label {
    color:#000;
}

.content-module.black-bg.highlights p, .content-module.black-bg.highlights h2 {
    color:#fff;
}
