
.content-module {
    padding: 40px 0 0 0;
    width: 100%;
}

.content-module.active {
    z-index: 4;
}

.content-module article, .content-module .panel-group, .content-module .css-table, .content-module section {
    margin:0 0 32px;
}

.content-module.dividers article {
    border-left: 1px solid #dadada;
}

.content-module.half-padding {
    padding: 19px 0;
}

.content-module h1 {
    margin: 0 0 30px; 
    padding:0;
}

.content-module h2 {
    padding:0;
}

.content-module img {
    max-width: 100%;
}

.content-module .txt-img img {
    display: block;
    height: auto;
}

.content-module .txt-img {
    padding-left: 19px;
    position: relative;
}
   
.content-module .txt-img img:first-child {
    position: absolute;
    left: 0;
    top: 3px;
}

.content-module .row-fluid {
    margin-top: 3px;
}

.content-module .col {
    padding: 0 40px 0 20px;
}

.content-module .row:last-child>*[class^="col-"]:last-child>*:last-child {
    margin-bottom:0;
}

.col-center {
    text-align:center;
}

.col-center > * {
    text-align:left;
    margin-left: auto;
    margin-right:auto;
    display:block;
}

.cta-strip {
}

.content-module.extra-padding {
    padding: 80px 0 33px;
}

.content-module.cta-strip.black-bg h2 {
    margin-bottom: 12px;
    color: #fff;
}

.content-module.cta-strip.black-bg p {
    margin-bottom: 22px;
    color: #fff;
}

.content-module.black-bg.cta-strip article:first-child p {
    text-align:right;
    color:#fff;
    line-height:44px;
    vertical-align:middle;
}

.cta-strip .cta-rounded {
    margin-top:0;
}

.content-module .label {
    color:#000; 
    font-weight:normal; 
    position:absolute; 
    top:-25px;
}

.content-module .label strong {
    font-weight:bold;
}

.content-module[style*='url'] article > *:first-child {
    position:relative;
    margin-top:20px; 
}

.column-header
{
	margin-left:15px;
}

/* NOTE: Add media specific common styles here */
@media (max-width: 767px) {

    .content-module.extra-padding {
        padding-top: 50px;
    }
    
    .content-module .container > .css-table {
        margin: 0 -35px;
        display: block;
        width: inherit;
    }

    .content-module .container > .css-table .col {
        width: 100%;
        display: block;
        border-left: none;
        border-bottom: 1px solid #e5e5e5;
        padding: 7px 35px 35px;
    }

    .content-module .css-table .col:first-child {
        padding-top: 3px;
    }

    .content-module .css-table .col:last-child {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    /* when elements are stacked, make sure there is bottom padding */
    .content-module .row {
        padding-bottom:0px;
    }

    .content-module {
        background-image:none !important;
    }

    .content-module .label {
        position:inherit; top:inherit;
    }

    .content-module.black-bg.cta-strip article:first-child p {
        text-align:left;
        margin-bottom: 15px;
    }

    .content-module.cta-strip article:first-child {
        margin-bottom:10px;
    }

    .content-module article {
        clear:both;
    }
}

@media (max-width: 991px) {
}

@media (min-width: 992px) {
}
