/**
 * Core variables and mixins used across the base page configuration, and all components.
 * IMPORTANT: No actual generated CSS should be produced by this file, only variables and mixins (variables and
 * mixins do not generate any CSS) . This is because this file is included in every components file, so any CSS generated
 * will be included multiple times.
 */
/**
 * Non theme-specific colors used across the site. These colours remain the same across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/* Core colors */
/**
 * All themable variables. These are set to basic default values, and overridden by the current theme.
 * The base defaults represent the FEL (Foxtel Experience Language) theme,
 * Ensure that all specified variables are given the '!default' value, so they can be correctly
 * overridden by the theme.
 */
@font-face {
  font-family: "ProximaNova-Light";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.ttf") format("truetype"); }
@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.ttf") format("truetype"); }
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.ttf") format("truetype"); }
/**
 * Movies site theme settings.
 */
/**
 * CSS Generated icons used across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/**
 * Core grid and breakpoint values.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
 /**
* Core mixins used across all sites. Ensure that new mixins are added here only as a last resort. Foundation provides a
* set of mixins which should be used instead of creating your own.
* This file is included in multiple other files, ensure that only mixins and variables are defined here.
*/
/**
 * Set the size of an icon with pixels
 * @type {Number} Size of icon in pixels, converted automatically to rems
 */
/**
 * Used to space items consistently on the baseline grid with a margin.
 */
/**
 * Used to space items consistently on the baseline grid with padding.
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Use to create cross-browser (IE compatible) PX/REM values
 */
 /**
* Site navigation styling, common across nav elements
*/
.navigation a {
  color: white;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: color 0.6s ease;
  -o-transition: color 0.6s ease;
  transition: color 0.6s ease; }
  .navigation a:hover {
    color: white; }
.navigation .primary-nav {
  position: relative;
  z-index: 2; }
  .navigation .primary-nav .window {
    background: #020202;
    overflow: hidden;
    position: relative; }
    .navigation .primary-nav .window:after {
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 100%;
      content: ' ';
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
      background: -moz-linear-gradient(left, transparent 0%, black 56%, black 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(56%, black), color-stop(100%, black));
      background: -webkit-linear-gradient(left, transparent 0%, black 56%, black 100%);
      background: -o-linear-gradient(left, transparent 0%, black 56%, black 100%);
      background: -ms-linear-gradient(left, transparent 0%, black 56%, black 100%);
      background: linear-gradient(left, transparent 0%, black 56%, black 100%); }
@-moz-keyframes slideNav {
  0% {
    -moz-transform: translateX(-200px); }
  100% {
    -moz-transform: translateX(0); } }
@-webkit-keyframes slideNav {
  0% {
    -webkit-transform: translateX(-200px); }
  100% {
    -webkit-transform: translateX(0); } }
@keyframes slideNav {
  0% {
    transform: translateX(-200px); }
  100% {
    transform: translateX(0); } }
  .navigation .primary-nav .nav-bar {
    white-space: nowrap;
    margin: 0;
    padding-left: 16px; }
    .navigation .primary-nav .nav-bar li {
      display: inline-block;
      padding: 14px 0 17px;
      margin: 0 24px;
      font-size: 18px; }
      .navigation .primary-nav .nav-bar li:first-child {
        margin-left: 0; }
      .navigation .primary-nav .nav-bar li.active a {
        color: white; }
    .navigation .primary-nav .nav-bar.animate-in {
      -moz-animation-name: slideNav;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: ease-in-out-cubic;
      -moz-animation-duration: 1s;
      -webkit-animation-name: slideNav;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-in-out-cubic;
      -webkit-animation-duration: 1s;
      animation-name: slideNav;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out-cubic;
      animation-duration: 1s;
      cursor: move; }

/**
 * Specify which Foundation modules are required
 */
.component-felnavigation {
  background: #111111;
  width: 100%;
  color: #fff;
  height: 140px; }
  @media only screen and (min-width: 641px) {
    .component-felnavigation {
      height: 80px; } }
  .component-felnavigation .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1460px; }
    .component-felnavigation .container:before, .component-felnavigation .container:after {
      content: " ";
      display: table; }
    .component-felnavigation .container:after {
      clear: both; }
  .component-felnavigation .inner {
    width: 100%;
    float: left; }
    @media only screen {
      .component-felnavigation .inner {
        padding-left: 8px;
        padding-right: 8px; } }
    @media only screen and (min-width: 641px) {
      .component-felnavigation .inner {
        padding-left: 12px;
        padding-right: 12px; } }
    @media only screen and (min-width: 769px) {
      .component-felnavigation .inner {
        padding-left: 12px;
        padding-right: 12px; } }
    @media only screen and (min-width: 1025px) {
      .component-felnavigation .inner {
        padding-left: 12px;
        padding-right: 12px; } }
    @media only screen and (min-width: 1461px) {
      .component-felnavigation .inner {
        padding-left: 15px;
        padding-right: 15px; } }
  .component-felnavigation .logo {
    margin-top: 25px; }
    @media only screen and (min-width: 641px) {
      .component-felnavigation .logo {
        float: left; } }
  .component-felnavigation .select-container {
    position: relative;
    margin: 0 auto;
    float: none;
    width: 100%; }
    @media only screen and (min-width: 641px) {
      .component-felnavigation .select-container {
        width: 318px;
        margin: 0;
        float: right; } }
    .component-felnavigation .select-container:after {
      font-family: FontAwesome;
      position: absolute;
      content: "\f107";
      color: white;
      right: 22px;
      top: 28px;
      font-size: 25px; }
  .component-felnavigation select {
    margin-top: 17px;
    background: black;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    height: 46px;
    outline: none;
    padding-left: 20px; }

/*# sourceMappingURL=felnavigation.css.map */
