/**
 * Styling for the footer, which appears at the bottom of each page.
 */
/**
 * Core variables and mixins used across the base page configuration, and all components.
 * IMPORTANT: No actual generated CSS should be produced by this file, only variables and mixins (variables and
 * mixins do not generate any CSS) . This is because this file is included in every components file, so any CSS generated
 * will be included multiple times.
 */
/**
 * This mixin must be used instead of directly calling media queries. This is so we can write two sets of CSS - one with media queries,
 * and one without. This is controlled with the global $ignore-media-queries variable. Based on: https://jakearchibald.github.io/sass-ie/
 */
/**
 * Non theme-specific colors used across the site. These colours remain the same across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/* Core colors */
/**
 * All themable variables. These are set to basic default values, and overridden by the current theme.
 * The base defaults represent the FEL (Foxtel Experience Language) theme,
 * Ensure that all specified variables are given the '!default' value, so they can be correctly
 * overridden by the theme.
 */
@font-face {
  font-family: "ProximaNova-Light";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/**
 * Movies site theme settings.
 */
/**
 * CSS Generated icons used across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/**
 * Core grid and breakpoint values.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
 /**
* Core mixins used across all sites. Ensure that new mixins are added here only as a last resort. Foundation provides a
* set of mixins which should be used instead of creating your own.
* This file is included in multiple other files, ensure that only mixins and variables are defined here.
*/
/**
 * Set the size of an icon with pixels
 * @type {Number} Size of icon in pixels, converted automatically to rems
 */
/**
 * Used to space items consistently on the baseline grid with a margin.
 */
/**
 * Used to space containers equally
 */
/**
 * Used to space items consistently on the baseline grid with padding.
 */
/**
 * Used to add the correct left/right negative margins to component rows containing columns
 */
/**
 * Used to add appropriate grid column widths to component items
 */
/**
 * Used to add the correct left/right padding to component columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Used to add the correct left/right margin to columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Stop text from being highlighted
 */
/**
 * FT specific mixins
 */
/**
 * Use to create cross-browser (IE compatible) PX/REM values
 */
/**
 * Specify which Foundation modules are required
 */
meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

.footer-main {
  color: white;
  position: relative;
  background: #181818;
  border-top: 1px solid #636363;
  display: block;
  @at-root .wings & {
    padding-left: 150px;
    padding-right: 150px; }
 }
  .footer-main a {
    color: white;
    color: rgba(255, 255, 255, 0.5);
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    text-decoration: none;
    letter-spacing: 0.5px;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    border-bottom: none;
    -webkit-transition: color 0.6s ease;
    -o-transition: color 0.6s ease;
    transition: color 0.6s ease; }
    .footer-main a:hover {
      color: white; }
    .footer-main a i {
      font-family: FontAwesome !important; }
  .footer-main .row {
    padding-left: 16px;
    padding-right: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-top: 40px;
    padding-bottom: 36px; }
  .footer-main .footer-bottom {
    background: black;
    padding-top: 12px;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-bottom: 13px; }
    .footer-main .footer-bottom:before, .footer-main .footer-bottom:after {
      content: " ";
      display: table; }
    .footer-main .footer-bottom:after {
      clear: both; }
    .footer-main .footer-bottom .row {
      padding-top: 0;
      padding-bottom: 0; }
  .footer-main .footer-logos {
    float: left; }
    .footer-main .footer-logos .foxtel-logo {
      opacity: 0.5;
      -webkit-transition: opacity 0.6s ease;
      -o-transition: opacity 0.6s ease;
      transition: opacity 0.6s ease; }
      .footer-main .footer-logos .foxtel-logo:hover {
        opacity: 1; }
  .footer-main .footer-copyright {
    float: right;
    font-size: 12px;
    font-style: italic;
    color: #959595;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.5px; }
  .footer-main .main-logo {
    display: block;
    margin-bottom: 24px;
    margin-bottom: 24px;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    top: -13px;
    margin-right: 18px;
    padding-right: 26px; }
    .footer-main .main-logo:before {
      display: none; }
    .footer-main .main-logo:before {
      top: 50%;
      position: absolute;
      right: 0;
      display: block;
      opacity: 0.5;
      content: ' ';
      background-color: #a8a8a8;
      width: 4px;
      height: 4px;
      border-radius: 100%; }
    .footer-main .main-logo img {
      max-height: 24px;
      max-height: 32px; }
  .footer-main .social-links {
    text-align: center;
    margin: 0;
    list-style: none;
    float: left; }
  .footer-main .social-item {
    display: inline-block;
    width: 32px;
    margin-right: 11px;
    margin-top: 10px;
    text-align: center; }
    .footer-main .social-item:last-child {
      margin-right: 0; }
    .footer-main .social-item a {
      display: block;
      line-height: 26px;
      padding: 0;
      opacity: 0.8;
      color: rgba(255, 255, 255, 0.3);
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .footer-main .social-item a .icon {
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -8px;
        fill: white;
        color: rgba(255, 255, 255, 0.3);
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .footer-main .social-item a:hover {
        opacity: 1;
        background: white; }
        .footer-main .social-item a:hover .icon {
          color: white;
          fill: #181818; }
  .footer-main .footer-links {
    text-align: center;
    padding-top: 19px;
    padding-top: 19px;
    padding-top: 0;
    float: right;
    max-width: 60%;
    text-align: right; }
    .footer-main .footer-links .footer-item {
      display: inline-block;
      text-align: center;
      position: relative;
      line-height: 32px;
      font-size: 16px;
      padding-right: 15px;
      margin-right: 7px;
      padding-left: 32px;
      margin-left: 24px;
      padding-right: 0;
      margin-right: 0; }
      .footer-main .footer-links .footer-item:before {
        background-color: #a8a8a8;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -2px;
        opacity: 0.5;
        content: ' ';
        left: 0;
        right: auto; }
      .footer-main .footer-links .footer-item:first-child:before {
        display: none; }
      .footer-main .footer-links .footer-item:last-child {
        padding-right: 0;
        margin-right: 0; }
        .footer-main .footer-links .footer-item:last-child:before {
          display: none;
          display: block; }

.ie8 .footer-main .social-item a:hover {
  color: black !important; }
