/**
 * Styles for global navigation component.
 */

@import "../../../../../../etc/designs/foxtel/common/clientlibs/scss/includes/includes";

//NOTE : OLD styles
$topbar-height: 80px;
$nav-section-padding: 15px;
$header-bgclor: #181818;
$header-height: 100px;
$header-icon-clr: #8c8c8c;
$item-border-color: #313131;
$header-icon-clr: #8c8c8c;

//NOTE : END OLD styles

$global-nav-height: 60px;
$primary-nav-bgcolor: #020202;
$menu-alternate-bgcolor: #282828;
$default-transition-str: all 0.3s ease-out;
$expanded-nav-transition-str: all 0.3s ease-out;
$content-display-transition-str: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
$content-drop-amount: -30px;

.hider-wrapper {
  position: fixed;
  z-index: 2;
  top: -30%;
  height: 130%;
  width: 100%;
  display: none;
  .hider {
    height: 100%;
    width: 100%;
    background: $dark-color;
  }
}

.globalnavigation {
  //margin-top: $global-nav-height;
  .scroll-left, .scroll-right {
    display: none;
  }
  &.navigation .primary-nav {
    background: $primary-nav-bgcolor;
    width: 100%;
    // NOTE: As per discussion, making global nav NOT fixed for now...
    //position: fixed;
    @include media-query($large-up) {
      position: relative;
    }

    position: relative;
    z-index: 4000;
    .window {
      position: relative;
      z-index: 3;
      &:after {
        display: none !important;
      }
    }
    .menu-button {
      position: absolute;
      z-index: 3;
      top: 0;
      right: 0;
      bottom: 0;
      background: $menu-alternate-bgcolor;
      padding: rem-calc(18) rem-calc(22) rem-calc(22);
      cursor: pointer;
      white-space: nowrap;
      @include media-query($large-up) {
        width: 124px;
      }

      @include transition($default-transition-str);
      .caption {
        color: $light-color;
        font-size: rem-calc(14);
        float: left;
        position: relative;
        z-index: 2;
        letter-spacing: 0.5px;
        margin-left: 32px;
        &.close {
          display: none;
        }
      }
      &:after {
        content: '';
        display: block;
        background: #ccc;
        position: absolute;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0;
        z-index: 1;
        @include transition($default-transition-str);
      }
      &:before {
        position: absolute;
        top: 0;
        left: -25px;
        width: 25px;
        height: 100%;
        content: ' ';
        //NOTE: Include compass?
        //@include background-image(linear-gradient(to right, rbga(0, 0, 0, 0), #000));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(56%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
        background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
        background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
        background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
      }
      &:hover {
        .hamburger span {
          @include media-query($large-up) {
            background: $dark-color;
          }
        }
        .caption {
          @include media-query($large-up) {
            color: $dark-color;
          }
        }
        &:after {
          top: -100%;
          @include media-query($large-up) {
            top: 0;
          }
        }
      }
      &.open {
        .caption {
          &.close {
            display: block;
          }
          &.all {
            display: none;
          }
        }
        .hamburger span {
          &:first-child {
            @include rotate(45deg);
            top: 7px;
          }
          &:nth-child(2) {
            @include rotate(-45deg);
            top: 1px;
          }
          &:last-child {
            opacity: 0;
          }
        }
        &:after {
          @include media-query($large-up) {
            top: 100%;
          }
        }
        &:hover {
          .hamburger span {
            background: $light-color;
          }
          .caption {
            color: $light-color;
          }
        }
      }
      .hamburger {
        position: absolute;
        z-index: 2;
      }
      .hamburger span {
        display: block;
        background: $light-color;
        width: 20px;
        height: 2px;
        position: relative;
        margin-top: 4px;
        border-radius: 3px;
        @include transition($default-transition-str);
      }
    }
    .touch .menu-button {
      &:hover {
        &:after {
          top: -100%;
        }
      }
    }
  }
  &.open .primary-nav .window {
    position: fixed !important;
    top: 0 !important;
    z-index: 6000;
    @include media-query($medium-up) {
      position: relative !important;
      top: auto !important;
      z-index: 3;
    }
  }
  .expanded-nav {
    // NOTE: As per discussion, making global nav NOT fixed for now...
    //position: fixed;
    // set higher to ensure epg grid overlays dont appear infront of it
    //top: -300%;
    @include transition($expanded-nav-transition-str);
    @include translate(0, -110%);
    visibility: hidden;
    position: absolute;
    border-top: 1px solid $item-border-color;
    background: $dark-color;
    overflow: hidden;
    display: none;
    z-index: 2;
    // bottom: 0;
    // height: 0;
    width: 100%;
    @at-root    .wings & {
      @include media-query($wing-media-query) {
        margin-left: -$wing-width;
      }
    }
    &.open {
      @include translate(0, 0%);
      visibility: visible;
      position: fixed;
      top: 0;
      bottom: 0;
      padding-top: rem-calc(60);
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 2900;
      background: #020202;
      @include media-query($medium-up) {
        position: absolute;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        width: 100%;
        height: auto;
        padding-top: 0;
      }

      .nav-scroller-wrapper {
        position: relative;
        // z-index: 1;
        width: 100%;
        height: 100%;
        // width: 320px;
        // height: 640px;
        overflow: hidden;
      }
      .nav-scroller {
        // overflow-y: scroll;
        // height: 100%;
        // height: 1200px;
        width: 100%;
        position: relative;
        // z-index: 1;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
        overflow: hidden;
        opacity: 1;
        // allow extra padding to offset the close button up the top
        padding-bottom: rem-calc(60);
        .row {
          clear: both;
          overflow: hidden;
          @include media-query($medium-up) {
            overflow: visible;
          }
        }
        @include media-query($medium-up) {
          background: $dark-color;
          padding-bottom: 0;
          // height: auto;
          // overflow-y: hidden;
        }
      }
    }
    //opacity: 0;
    &.locked {
      transition: none;
      transition-timing-function: none;
    }
    ul {
      margin: 0;
    }
    > ul > li {
      border-bottom: 1px solid $item-border-color;
      position: relative;
      overflow: hidden;
      @include media-query($xlarge-up) {
        /* required for IE */
        min-height: 80px;
        .row {
          display: table;
        }
      }
    }
    li {
      list-style: none;
      overflow: hidden;
      @include clearfix;
    }
    // TODO: Extract button styling into common sass (buttons)
    .left-pane {
      background: $dark-color;
      border-bottom: 1px solid $item-border-color;
      font-size: rem-calc(20);
      @include column-gutters;
      @include clearfix;
      padding-top: rem-calc(16);
      padding-bottom: rem-calc(16);
      @include media-query($large-up) {
        display: table-cell;
        vertical-align: top;
        width: 15%;
        min-width: 285px;
        border: none;
        padding-top: rem-calc(28);
        padding-bottom: rem-calc(26);
        > * {
          opacity: 0;
          position: relative;
          top: $content-drop-amount;
          //@include transition($content-display-transition-str);

        }
      }

      a {
        color: $light-color;
        font-size: rem-calc(18);
        position: relative;
        display: inline-block;
      }
      p {
        font-size: rem-calc(13);
        color: rgba(153, 153, 153, 0.4);
      }
      .sponsor {
        float: right;
        p {
          display: none;
        }
        img {
          max-width: 101px;
        }
        @include media-query($large-up) {
          margin-top: rem-calc(39);
          float: none;
          p {
            display: block;
          }
        }
      }
    }
    &.open .left-pane {
      @include media-query($large-up) {
        > * {
          opacity: 1;
          top: 0;
        }
      }
    }
    .right-pane {
      background: $menu-alternate-bgcolor;
      @include column-gutters;
      @include clearfix;
      padding-top: rem-calc(17);
      padding-bottom: rem-calc(8);
      @include media-query($large-up) {
        display: table-cell;
        position: relative;
        vertical-align: top;
        width: 85%;
        /* required for IE */
        min-height: 112px;
        border: none;
        padding: rem-calc(28) rem-calc(53) rem-calc(26);
        &:after {
          content: ' ';
          position: absolute;
          top: 0;
          bottom: 0;
          right: -2000px;
          width: 2000px;
          /* required for IE */
          min-height: 600px;
          display: block !important;
          background: $menu-alternate-bgcolor;
        }
        > * {
          opacity: 0;
          position: relative;
          top: $content-drop-amount;
          //@include transition($content-display-transition-str);

        }
      }

      .button-arrow {
        text-transform: uppercase;
      }
      li {
        width: 50%;
        float: left;
        font-size: rem-calc(14);
        margin-bottom: rem-calc(9);
        padding-right: 10%;
        line-height: 1.3;
        &:nth-child(odd) {
          // clear: left;

        }
        @include media-query($large-up) {
          width: 50%;
          font-size: rem-calc(18);
          &:nth-child(odd) {
            // clear: left;

          }
        }

        @include media-query($xlarge-up) {
          width: 33%;
          &:nth-child(odd) {
            clear: none;
          }
          &:nth-child(5n-1) {
            clear: left !important;
          }
        }
      }
    }
  }
  &.open .right-pane {
    @include media-query($large-up) {
      > * {
        opacity: 1;
        top: 0;
      }
    }
  }
  &.loaded .expanded-nav {
    display: block;
  }
}

.ie8 {
  .globalnavigation .primary-nav .menu-button.open .hamburger span {
    display: none;
  }
  .expanded-nav {
    top: -350%;
    &.open {
      top: auto;
    }
  }
}

.globalnavigation.open .nav-bar {
  visibility: hidden;
}

/*
.primary-nav.sticky {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 999;
}

.nav-item {
  color: $global-navigation-font-color;
  float: left;
  list-style-type: none;
  text-transform: capitalize;
  position: relative;
  a {
    color: $global-navigation-primary-color;
    text-decoration: none;
    font-size: 18px;
    &:hover {
      @include media-query($large-up) {
        color: #ccc;
      }
    }
    h2 {
      font-size: 1.3em;
      color: $global-navigation-primary-color;
      padding-left: $nav-section-padding;
      border-bottom: 1px solid $global-navigation-font-color;
      background: #333;
      margin-top: 0;
    }
  }
}

.primary-nav {
  position: relative;
  width: 100%;
  height: $topbar-height;
  line-height: $topbar-height;
  background: $global-navigation-background-color;
  overflow: hidden;
  .nav-section {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  .nav-item {
    margin: 0 12px;
    height: 100%;
    line-height: 4.5;
  }
  .toggle-menu {
    position: absolute;
    background: #333;
    color: #fff;
    top: 0;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: #333;
    cursor: pointer;
    @include media-query($large-up) {
      width: 160px;
    }
    a {
      color: white;
    }
    span.menu-lbl {
      position: absolute;
      width: 100%;
      padding-left: 30%;
      padding-top: 20%;
      @include media-query($large-up) {
        padding-left: 40%;
        top: 0;
        width: 100%;
        padding-top: 0;
      }
    }
    div.nav-menu-close {
      font-size: 25px;
      position: absolute;
      padding-left: 45%;
      width: 100%;
    }
    color: $topbar-menu-link-color;
    & {
      @include hamburger(16px, false, 0, 1px, 6px, $topbar-menu-icon-color, $topbar-menu-icon-color, false);
    }
    span {
      cursor: pointer;
    }
    span.menu-lbl::before {
      content: "ALL";
      @include media-query($large-up) {
        content: "OPEN ALL";
      }
    }
    span.menu-lbl::after {
      top: 20%;
      margin: 0;
      right: 35%;
      @include media-query($large-up) {
        top: 40%;
        left: 20%;
      }
    }
  }
  .dimmer-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 100%;
    background: black;
    z-index: 100;
    .dimmer {
      display: block;
      position: absolute;
      width: 55px;
      height: 100%;
      left: -30px;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(56%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
      background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
      background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
      background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
      content: "";
      @include media-query($large-up) {
        display: none;
      }
    }
  }
}*/

// end primary-nav
/*.full-screen-menu {
  background: $global-navigation-background-color;
  position: absolute;
  z-index: 10;
  width: 100%;
/*  overflow-y: scroll;
  bottom: 0;*/
/*  .nav-section {
    clear: both;
    padding: 0;
    margin-left: 0;
    .nav-item {
      float: none;
      margin-bottom: 20px;
      .shows-column {
        text-transform: capitalize;
        margin-top: 20px;
      }
      .adbanner {
        position: absolute;
        top: -17px;
        right: 0px;
      }
    }
  }
  .nav-row {
    @include grid-row;
    max-width: 100%;
    margin-top: 10px;
    .nav-shows-col2 {
      @include grid-column(6);
    }
    .nav-shows-col {
      @include media-query($large-up) {
        @include grid-column(6);
      }
    }
    .nav-min-2col {
      @include grid-column(6);
      &:nth-child(3), &:nth-child(4) {
        display: none;
      }
      @include media-query($large-up) {
        @include grid-column(3);
        &:nth-child(3), &:nth-child(4) {
          display: block;
        }
      }
    }
  }
  .nav-section-header {
    color: $global-navigation-primary-color;
    font-size: 14px;
    text-transform: uppercase;
  }
  .nav-section-footer {
    text-transform: uppercase;
    color: $global-navigation-primary-color;
    padding-left: $nav-section-padding;
    margin: 30px 0;
  }
  .nav-menu-close {
    color: $global-navigation-primary-color;
  }
  button.nav-menu-close {
    background: $global-navigation-background-color;
    border: 1px solid $global-navigation-font-color;
    padding: 5px 30px;
    &:hover {
      background: tint($global-navigation-background-color, 10%);
      border: 1px solid white;
    }
  }
}

.mainbody {
  background: white;
}


.nav-header {
  background: $header-bgclor;
  width: 100%;
  height: $header-height;
  background-image: url("/static-images/foxtellogo.png");
  background-size: 135px 34px;
  background-repeat: no-repeat;
  background-position: 10%;
  color: #fff;
  position: relative;
  .searchbox {
    border: 1px solid $header-icon-clr;
    width: 300px;
    height: 45px;
    float: right;
    margin: 25px 160px;
    font-family: Verdana;
    position: relative;
    font-size: 0.9rem;
    display: none;
    @include media-query($large-up) {
      display: block;
    }

    .switchthemes {
      margin: 10px;
      color: $header-icon-clr;
      font-style: italic;
    }
  }
  .searchicon {
    position: absolute;
    top: 40px;
    right: 15px;
    font-size: 17px;
    a {
      color: $header-icon-clr;
    }
    i.fa-search {
      margin: -10px 20px;
      font-size: 2em;
      @include media-query($large-up) {
        font-size: 1em;
      }
    }
    @include media-query($large-up) {
      display: block;
      top: 25px;
      right: 0px;
    }
  }
}*/