<!--(bake /content/src/main/content/jcr_root/apps/foxtel-channels/components/globalnavigation/globalnavigation.html)-->
<div class="blurred-content search-page">
	<section class="container-large-body-sidebar">
		<div class="container-background">
			<div class="container-content no-pad-bot-lrg">
				<div class="container-large-body">
					<span class="heading-resultsfor">Results for...</span>
					<div class="search-area">
						<form id="search-content-page" class="search" action="search.html">
							<label class="search-show" for="txt-search-page">
								<svg class="icon icon-mag-glass"><use xlink:href="#icon-mag-glass"></use></svg>
							</label>
							<div class="search-field">
								<input id="txt-search" name="txt-search-page" class="typeahead" data-cseid="002016073463087679508:glcflpx8tlg" value="supernatural" type="text" placeholder="Search" />
							</div>
							<button type="reset" class="btn-reset">
								<svg class="icon icon-close"><use xlink:href="#icon-close"></use></svg>
							</button>
							<input type="submit" class="hide" />
						</form>
						<div class="search-correction">
							<div class="inner-wrap">
								<div class="left-col">
									<p>Corrected: Showing results for: <i>The Recruit</i></p>
									<p>Search instead for: <a href="#"><i>The Recriut</i></a></p>
								</div>
								<p class="number-results">100+ results</p>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="container-sidebar hide-small">
					<a href="#" class="advert-image"><img src="/static-images/ad.jpg" alt="" /></a>
				</div>-->
			</div>
		</div>
	</section>

	<section class="container-full-width-single-column no-bottom-spacing no-top-spacing">
		<div class="container-background">
			<div class="container-wrapper">
				<div class="filter-wrapper">
					<ul class="search-filter">
						<li class="active"><a href="#"><span>All</span></a></li>
						<li><a href="#"><span>News</span></a></li>
						<li><a href="#"><span>Videos</span></a></li>
						<li><a href="#"><span>Gallery</span></a></li>
						<li><a href="#"><span>Review</span></a></li>
						<li><a href="#"><span>TV Show</span></a></li>
						<li><a href="#"><span>Profile</span></a></li>
						<li><a href="#"><span>Page</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="container-large-body-sidebar">
		<div class="container-wrapper">
			<div class="container-background alternate-row">
				<div class="container-content">
					<div class="container-sidebar search-result">
						<figure>
							<a href="#"><img src="/static-images/the-recruit.jpg" alt="" /></a>
							<figcaption>Movie</figcaption>
						</figure>
						<div class="info">
							<h3><a href="#">The Recruit</a></h3>
							<p>The Recruit is a 2003 American-German spy thriller film, directed by Roger Donaldson and starring Al Pacino, Colin Farrell and Bridget Moynahan. It was produced by Epsilon Motion Pictures and released in North America by Buena Vista Pictures on January 31, 2003. The film received mixed reviews from movie critics worldwide.</p>
							<div class="time-stamp">
								<svg class="icon icon-clock"><use xlink:href="#icon-clock"></use></svg><span>Thursday: 7:30pm</span>
							</div>
						</div>
					</div>
					<div class="container-large-body">
						<div class="search-sort">
							<p>Showing 1 - 10</p>
							<div class="sorting">
								<a href="#" class="active"><svg class="icon icon-sort-chevron"><use xlink:href="#icon-sort-chevron"></use></svg> Relevance</a>
								<a href="#"><svg class="icon icon-sort-chevron"><use xlink:href="#icon-sort-chevron"></use></svg> Date</a>
							</div>
						</div>
						<ul class="search-listings">
							<li>
								<h4><a href="#">The Recruit</a></h4>
								<p>The Recruit is a 2003 American-German spy thriller film, directed by Roger Donaldson and starring Al Pacino, Colin Farrell and Bridget Moynahan. It was produced by Epsilon Motion Pictures during some down time the Recruits come face to face with their fears in a lesson on courage.</p>
								<svg class="media-type icon icon-movie circled"><use xlink:href="#icon-movie"></use></svg>
							</li>
							<li>
								<h4><a href="#">Latest - Recruit turns the tables on AFL Draft</a></h4>
								<p>The winner of The Recruit will receive pitches from clubs which want to draft him after AFL club recruiters place the crown on one of the final three contestants. He may only select a club which declares interest in listing him. Clubs will vote 3-2-1 in a secret ballot before the winner turns the tables in the AFL.</p>
								<svg class="media-type icon icon-page circled"><use xlink:href="#icon-page"></use></svg>
							</li>
							<li>
								<h4><a href="#">Daniel Spector reviews The Recruit</a></h4>
								<p>The winner of The Recruit will receive pitches from clubs which want to draft him after AFL club recruiters place the crown on one of the final three contestants. He may only select a club which declares interest in listing him. Clubs will vote 3-2-1 in a secret ballot before the winner turns the tables in the AFL.</p>
								<svg class="media-type icon icon-review circled"><use xlink:href="#icon-review"></use></svg>
							</li>
							<li class="has-feature">
								<h4><a href="#">The Recruit - Behind the scenes pre...</a></h4>
								<a href="#" class="feature video">
									<svg class="media-type icon icon-play"><use xlink:href="#icon-play"></use></svg>
									<img src="/static-images/search-video.jpg" alt="" />
								</a>
								<p>The winner of The Recruit will receive pitches from clubs which want to draft him after AFL club recruiters place the crown on one of the final three contestants. He may only select a club which declares interest in listing him.</p>
							</li>
							<li class="has-feature">
								<h4><a href="#">Gallery: Draft day for the Recruits</a></h4>
								<a href="#" class="feature gallery"><img src="/static-images/search-gallery.jpg" alt="" /></a>
								<p>AFL scouts were yesterday briefed on the trailblazing format, which will take place at... Crown on September 17  in front of a function.</p>
							</li>
							<li>
								<h4><a href="#">The Recruit - Season 2</a></h4>
								<p>The winner of The Recruit will receive pitches from clubs which want to draft him after AFL club recruiters place the crown on one of the final three contestants. He may only select a club which declares interest in listing him. Clubs will vote 3-2-1 in a secret ballot before the winner turns the tables in the AFL.</p>
								<svg class="media-type icon icon-tv-show circled"><use xlink:href="#icon-tv-show"></use></svg>
							</li>
							<li>
								<h4><a href="#">User Profile - Colin Farrel</a></h4>
								<p>The winner of The Recruit will receive pitches from clubs which want to draft him after AFL club recruiters place the crown on one of the final three contestants. He may only select a club which declares interest in listing him. Clubs will vote 3-2-1 in a secret ballot before the winner turns the tables in the AFL.</p>
								<svg class="media-type icon icon-profile circled"><use xlink:href="#icon-profile"></use></svg>
							</li>
							<li class="no-pad-right">
								<!--<a href="#" class="button-arrow down-motion"><span>More results</span><svg class="icon icon-chevron-down"><use xlink:href="#icon-chevron-down"></use></svg></a>-->
								<a href="/search.html?txt-search=test&amp;offset=0&amp;limit=10" class="button-arrow left-motion x-previous"><span>Previous</span><svg class="icon icon-chevron-left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use></svg></a>
								<a href="/search.html?txt-search=test&amp;offset=20&amp;limit=10" class="button-arrow x-next"><span>Next</span><svg class="icon icon-chevron-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use></svg></a>
							</li>
						</ul>
						<article class="search-related">
							<h4>Related Searches</h4>
							<ul>
								<li><a href="#">The Recruit Season 1</a></li>
								<li><a href="#">The Recruit Finalists</a></li>
								<li><a href="#">The Recruit Season 2</a></li>
								<li><a href="#">The Recruit Latest News</a></li>
								<li><a href="#">The Recruit Contestants</a></li>
								<li><a href="#">The Recruit Finalists</a></li>
								<li><a href="#">The Recruit Episode Guide</a></li>
							</ul>
						</article>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container-split-two-four">
		<div class="container-background">
			<div class="container-content search-additional">
				<h4>You may also be interested in...</h4>
				<ul class="container-split-body">
					<li>
						<a href="#"><img src="/static-images/also-interested.jpg" alt="" /></a>
						<h5><a href="#">Top of the Lake</a></h5>
						<p>2013 television miniseries written by Jane Campion and Gerard Lee, and directed by Campion and Garth Davis.</p>
					</li>
					<li>
						<a href="#"><img src="/static-images/also-interested.jpg" alt="" /></a>
						<h5><a href="#">True Detective</a></h5>
						<p>True Detective is an American television crime drama series on HBO created and written by Nic Pizzolatto.</p>
					</li>
					<li>
						<a href="#"><img src="/static-images/also-interested.jpg" alt="" /></a>
						<h5><a href="#">Fargo</a></h5>
						<p>Fargo is an American dark comedy-crime drama television series created and written by Noah Hawley. The show is inspired by the 1996 film of.</p>
					</li>
					<li>
						<a href="#"><img src="/static-images/also-interested.jpg" alt="" /></a>
						<h5><a href="#">Luther</a></h5>
						<p>AFL scouts were yesterday briefed on the trailblazing format, which will take place at Crown on September 17.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>