
.share-box-inner {
    background:#000;
}

.share-cta, .share-box li span {
color: #777;
}

.share-cta:hover, .share-box li:hover a, .share-cta:hover, .share-box li:hover span {
    color:#fff; text-decoration:none;
}
