
.share-page-wrapper
{
    padding-bottom:10px;
}

.share-page-wrapper ul
{
	list-style-type:none;
	-webkit-padding-start:0;
	-webkit-margin-before:0;
	-webkit-margin-after:0;	

}

.share-page-wrapper ul li:first-child {
    padding-left: 0;
}

.share-page-wrapper ul li {
    padding-left: 10px;
}

.share-page-wrapper li
{
	float:left;
}

.share-page-wrapper ul li p {
    margin:0; padding:0;
}

.share-page-wrapper label
{
    line-height:27px;
    vertical-align:middle;
}

.share-page-wrapper li input
{
	vertical-align: middle;
}

.share-hero {
}

.share-box {
    position:relative;
    display:none;
}

.share-box-inner {
    position:absolute;
    z-index:12;
    border:solid 2px #312d2e;
    top:-1px;
    right:-16px;
}

.share-box-inner ul {
    width:44px;
    padding:8px 0 0 0;
}

.share-box-inner ul {
    display:none;
    list-style:none;
    margin:0;
}

a.share-cta {
    display:block;
    line-height:38px; 
    height:38px;
    width:44px;
    padding:8px 0 0 0;
}

a.share-cta:before {
    width:27px;
    height:38px;
    background:url(../../../images/sprite-icons.png) no-repeat 0 -104px;
    content:' ';
    display:block;
    float:left;
    margin:0 8px 8px 0;
}

body:not(.touch) .share-box-inner:hover ul, .share-box-inner.expanded ul  {
    display:block;
}

html[data-useragent*="MSIE 8"] .share-box-inner:hover ul {
    display:block;
}

.share-box li   {
    line-height:24px; 
}

.share-box li, a.share-cta {
    padding-right:8px;
    padding-left:8px;
    vertical-align:middle;
    margin-bottom:8px;
}

.share-box li:hover {
    cursor:pointer;
}

.share-box li   {
    line-height:24px; 
}

.share-box li img, a.share-cta img {
    padding-right: 8px;
}

.share-box li img,.share-box li input    {
    padding-right:8px;
    -webkit-filter: grayscale(100%); /* For Webkit browsers */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

.share-box li:hover img,.share-box li:hover input {
    -webkit-filter: grayscale(0%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.share-hero li.inline {
    height:35px;
}


@media (max-width:767px) {
    .share-page-wrapper ul li:first-child {
        display:none;
    }

    .share-page-wrapper ul li:nth-child(2) {
        padding-left: 0;
    }

    .share-box-inner {
        border-width:1px;
    }

    .hidden-mob {
        display:none; /* different from .hidden-mob, which changes to display:block not mobile */
    }

    .share-box li {
        border-top:solid 1px #312d2e;
        padding-top:8px;
    }
}
@media (min-width:768px) {
    .share-box-inner:hover a.share-cta  {
        display:none;
    }

    .share-box-inner {
        border-radius:6px;
        -webkit-border-radius:6px;
    }

    .share-box-inner {
        top:60px;
        right:0;
    }

    .share-box-inner ul {
        width:130px;
        padding-top:8px;
    }

    a.share-cta {
        width:90px;
    }

    .share-hero li.inline {
        height:27px;
    }

    .share-hero li.inline input {
        float:left !important;
        display: block !important;
        width:35px !important;
        height:27px !important;
    }

    .share-hero li.inline span {
        line-height: 27px !important;
        vertical-align: middle !important;
        display: block !important;
        float: left;
    }
}
