<div class="navigation globalnavigation">
	<div class="primary-nav-wrapper">
	    <nav class="primary-nav">
	        <div class="window row">
	        	<div class="nav-wrapper">
		            <ul class="nav-bar scrollable">
		                <li><a href="#">Shows</a></li>
		                <li><a href="#">TV Guide</a></li>
		                <li><a href="#">Watch Videos</a></li>
		                <li class="active"><a href="#">Competitions</a></li>
		                <li><a href="#">Navigation Item Five</a></li>
		                <li><a href="#">Navigation Item Six</a></li>
		                <li><a href="#">Navigation Item Seven</a></li>
		                <li><a href="#">Navigation Item Eight</a></li>
		                <li><a href="#">Navigation Item Nine</a></li>
		                <li><a href="#">Navigation Item Ten</a></li>
		            </ul>
		            <div class="menu-button">
			            <div class="hamburger">
			                <span></span>
			                <span></span>
			                <span></span>
			            </div>
			            <span class="all caption">ALL</span>
			            <span class="close caption">CLOSE</span>
			        </div>
		       	</div>
	        </div>
	    </nav>
	    <nav class="expanded-nav">
	        <ul class="nav-scroller">
	            <li>
	            	<div class="row">
		                <div class="left-pane">
		                    <a href="#">Shows</a>
		                </div>
		                <div class="right-pane">
		                    <ul>
		                        <li><a href="#">America's Next Top Model</a></li>
		                        <li><a href="#">Pretty Little Liars</a></li>
		                        <li><a href="#">Bates Motel</a></li>
		                        <li><a href="#">Chicago Fire</a></li>
		                        <li><a href="#">The Recruit</a></li>
		                        <li><a href="#">The Tomorrow People</a></li>
		                    </ul>
		                </div>
	            	</div>
	            </li>
	            <li>
	            	<div class="row">
		                <div class="left-pane">
		                    <a href="#">TV Guide</a>
		                    <div class="sponsor">
		                    	<p>Brought to you by</p>
		                    	<a href="#"><img src="/static-images/westpac-logo.png" alt="" /></a>
		                	</div>
		                </div>
		                <div class="right-pane">
		                    <ul>
		                        <li><a href="#">This is a really long navigation item</a></li>
		                        <li><a href="#">This is a proceedingingly long navigation item</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">This is a proceedingingly long navigation item</a></li>
		                        <li><a href="#">This is a really long navigation item</a></li>
		                        <li><a href="#">This is a proceedingingly long navigation item</a></li>
		                        <li><a href="#">This is a really long navigation item</a></li>
		                    </ul>
		                    <a href="#" class="button-arrow"><span>All shows</span><svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg></a>
		                </div>
	            	</div>
	            </li>
	            <li>
	            	<div class="row">
		                <div class="left-pane">
		                    <a href="#">Watch Videos</a>
		                </div>
		                <div class="right-pane">
		                    <ul>
		                        <li><a href="#">Latest Videos</a></li>
		                        <li><a href="#">Popular Videos</a></li>
		                    </ul>
		                    <a href="#" class="button-arrow"><span>More</span><svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg></a>
		                </div>
	            	</div>
	            </li>
	            <li>
	            	<div class="row">
		                <div class="left-pane">
		                    <a href="#">Competitions</a>
		                </div>
		                <div class="right-pane">
		                    <ul>
		                        <li><a href="#">New Competitions</a></li>
		                        <li><a href="#">Past Winners</a></li>
		                    </ul>
		                </div>
	            	</div>
	            </li>
	            <li>
	            	<div class="row">
		                <div class="left-pane">
		                    <a href="#">Navigation Item One</a>
		                </div>
		                <div class="right-pane">
		                    <ul>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                    </ul>
		                </div>
	            	</div>
	            </li>
	            <li>
	            	<div class="row">
		                <div class="left-pane">
		                    <a href="#">Navigation Item One</a>
		                </div>
		                <div class="right-pane">
		                    <ul>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                    </ul>
		                </div>
	            	</div>
	            </li>
	            <li>
	            	<div class="row">
		                <div class="left-pane">
		                    <a href="#">Navigation Item One</a>
		                </div>
		                <div class="right-pane">
		                    <ul>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                    </ul>
		                </div>
	            	</div>
	            </li>
	            <li>
	            	<div class="row">
		                <div class="left-pane">
		                    <a href="#">Navigation Item One</a>
		                </div>
		                <div class="right-pane">
		                    <ul>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                        <li><a href="#">Secondary Page</a></li>
		                    </ul>
		                </div>
	            	</div>
	            </li>
	        </ul>
	    </nav>
	</div>
</div>