<div class="container-single-column content-pillars">
	<div class="container-wrapper">
		<div class="container-content">
			<header>
				<div class="content-pillars-heading">Latest News</div>
				<a href="#" class="button-arrow small mid-grey visible-large">
					<span>More News</span>
					<svg class="icon icon-arrow-right">
		    			<use xlink:href="#icon-arrow-right"></use>
		    		</svg>
				</a>
			</header>
			<div class="row">
				<article class="feature">
					<picture>
						<a href="#"><img src="/static-images/b-feat-1.jpg" alt="" /></a>
					</picture>
					<div class="heading"><a href="#">Pixar's latest release kicks up storm</a></div>
					<p>2013 television miniseries written by Jane Campion and Gerard Lee, and directed by Campion and Garth Davis.</p>
				</article>

				<article>
					<picture>
						<a href="#"><img src="/static-images/b-feat-2.jpg" alt="" /></a>
					</picture>
					<div class="heading"><a href="#">The top 10 animated movies of all time</a></div>
					<p>As voted by Foxtel users accross the network over the </p>
				</article>
				<article>
					<picture>
						<a href="#"><img src="/static-images/b-feat-3.jpg" alt="" /></a>
					</picture>
					<div class="heading"><a href="#">Secret Cinema set to start in Bondi</a></div>
					<p>A UK initiative is about to reach Australian shores in </p>
				</article>
				<article>
					<picture>
						<a href="#"><img src="/static-images/b-feat-4.jpg" alt="" /></a>
					</picture>
					<div class="heading"><a href="#">Pixar's latest release kicks up storm</a></div>
					<p>2013 television miniseries written by Jane Campion and </p>
				</article>
				<article>
					<picture>
						<a href="#"><img src="/static-images/b-feat-5.jpg" alt="" /></a>
					</picture>
					<div class="heading"><a href="#">Rumours of Shrek 4</a></div>
					<p>As voted by Foxtel users accross the network over the last 3 months</p>
				</article>
			</div>
			<a href="#" class="button-arrow small mid-grey visible-small">
				<span>More News</span>
				<svg class="icon icon-arrow-right">
	    			<use xlink:href="#icon-arrow-right"></use>
	    		</svg>
			</a>
		</div>
	</div>
</div>