/**
 * Styles for global navigation component.
 */
/**
 * Core variables and mixins used across the base page configuration, and all components.
 * IMPORTANT: No actual generated CSS should be produced by this file, only variables and mixins (variables and
 * mixins do not generate any CSS) . This is because this file is included in every components file, so any CSS generated
 * will be included multiple times.
 */
/**
 * This mixin must be used instead of directly calling media queries. This is so we can write two sets of CSS - one with media queries,
 * and one without. This is controlled with the global $ignore-media-queries variable. Based on: https://jakearchibald.github.io/sass-ie/
 */
/**
 * Non theme-specific colors used across the site. These colours remain the same across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/* Core colors */
/**
 * All themable variables. These are set to basic default values, and overridden by the current theme.
 * The base defaults represent the FEL (Foxtel Experience Language) theme,
 * Ensure that all specified variables are given the '!default' value, so they can be correctly
 * overridden by the theme.
 */
@font-face {
  font-family: "ProximaNova-Light";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/**
 * Movies site theme settings.
 */
/**
 * CSS Generated icons used across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/**
 * Core grid and breakpoint values.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
 /**
* Core mixins used across all sites. Ensure that new mixins are added here only as a last resort. Foundation provides a
* set of mixins which should be used instead of creating your own.
* This file is included in multiple other files, ensure that only mixins and variables are defined here.
*/
/**
 * Set the size of an icon with pixels
 * @type {Number} Size of icon in pixels, converted automatically to rems
 */
/**
 * Used to space items consistently on the baseline grid with a margin.
 */
/**
 * Used to space containers equally
 */
/**
 * Used to space items consistently on the baseline grid with padding.
 */
/**
 * Used to add the correct left/right negative margins to component rows containing columns
 */
/**
 * Used to add appropriate grid column widths to component items
 */
/**
 * Used to add the correct left/right padding to component columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Used to add the correct left/right margin to columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Stop text from being highlighted
 */
/**
 * FT specific mixins
 */
/**
 * Use to create cross-browser (IE compatible) PX/REM values
 */
/**
 * Specify which Foundation modules are required
 */
meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

.hider-wrapper {
  position: fixed;
  z-index: 2;
  top: -30%;
  height: 130%;
  width: 100%;
  display: none; }
  .hider-wrapper .hider {
    height: 100%;
    width: 100%;
    background: black; }

.globalnavigation .scroll-left, .globalnavigation .scroll-right {
  display: none; }
.globalnavigation.navigation .primary-nav {
  background: #020202;
  width: 100%;
  position: relative;
  z-index: 4000; }
  @media only screen and (min-width: 769px) {
    .globalnavigation.navigation .primary-nav {
      position: relative; } }
  .globalnavigation.navigation .primary-nav .window {
    position: relative;
    z-index: 3; }
    .globalnavigation.navigation .primary-nav .window:after {
      display: none !important; }
  .globalnavigation.navigation .primary-nav .menu-button {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    background: #282828;
    padding: 18px 22px 22px;
    cursor: pointer;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    @media only screen and (min-width: 769px) {
      .globalnavigation.navigation .primary-nav .menu-button {
        width: 124px; } }
    .globalnavigation.navigation .primary-nav .menu-button .caption {
      color: white;
      font-size: 14px;
      float: left;
      position: relative;
      z-index: 2;
      letter-spacing: 0.5px;
      margin-left: 32px; }
      .globalnavigation.navigation .primary-nav .menu-button .caption.close {
        display: none; }
    .globalnavigation.navigation .primary-nav .menu-button:after {
      content: '';
      display: block;
      background: #ccc;
      position: absolute;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      z-index: 1;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
    .globalnavigation.navigation .primary-nav .menu-button:before {
      position: absolute;
      top: 0;
      left: -25px;
      width: 25px;
      height: 100%;
      content: ' ';
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, black 56%, black 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(56%, black), color-stop(100%, black));
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, black 56%, black 100%);
      background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, black 56%, black 100%);
      background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, black 56%, black 100%);
      background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, black 56%, black 100%); }
    @media only screen and (min-width: 769px) {
      .globalnavigation.navigation .primary-nav .menu-button:hover .hamburger span {
        background: black; } }
    @media only screen and (min-width: 769px) {
      .globalnavigation.navigation .primary-nav .menu-button:hover .caption {
        color: black; } }
    .globalnavigation.navigation .primary-nav .menu-button:hover:after {
      top: -100%; }
      @media only screen and (min-width: 769px) {
        .globalnavigation.navigation .primary-nav .menu-button:hover:after {
          top: 0; } }
    .globalnavigation.navigation .primary-nav .menu-button.open .caption.close {
      display: block; }
    .globalnavigation.navigation .primary-nav .menu-button.open .caption.all {
      display: none; }
    .globalnavigation.navigation .primary-nav .menu-button.open .hamburger span:first-child {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 7px; }
    .globalnavigation.navigation .primary-nav .menu-button.open .hamburger span:nth-child(2) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 1px; }
    .globalnavigation.navigation .primary-nav .menu-button.open .hamburger span:last-child {
      opacity: 0; }
    @media only screen and (min-width: 769px) {
      .globalnavigation.navigation .primary-nav .menu-button.open:after {
        top: 100%; } }
    .globalnavigation.navigation .primary-nav .menu-button.open:hover .hamburger span {
      background: white; }
    .globalnavigation.navigation .primary-nav .menu-button.open:hover .caption {
      color: white; }
    .globalnavigation.navigation .primary-nav .menu-button .hamburger {
      position: absolute;
      z-index: 2; }
    .globalnavigation.navigation .primary-nav .menu-button .hamburger span {
      display: block;
      background: white;
      width: 20px;
      height: 2px;
      position: relative;
      margin-top: 4px;
      border-radius: 3px;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
  .globalnavigation.navigation .primary-nav .touch .menu-button:hover:after {
    top: -100%; }
.globalnavigation.open .primary-nav .window {
  position: fixed !important;
  top: 0 !important;
  z-index: 6000; }
  @media only screen and (min-width: 641px) {
    .globalnavigation.open .primary-nav .window {
      position: relative !important;
      top: auto !important;
      z-index: 3; } }
.globalnavigation .expanded-nav {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translate(0, -110%);
  -ms-transform: translate(0, -110%);
  -o-transform: translate(0, -110%);
  transform: translate(0, -110%);
  visibility: hidden;
  position: absolute;
  border-top: 1px solid #313131;
  background: black;
  overflow: hidden;
  display: none;
  z-index: 2;
  width: 100%;
  @at-root .wings & {
    @media only screen and (min-width: 1025px) {
      margin-left: -150px; } }
 }
  .globalnavigation .expanded-nav.open {
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    -o-transform: translate(0, 0%);
    transform: translate(0, 0%);
    visibility: visible;
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 60px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2900;
    background: #020202; }
    @media only screen and (min-width: 641px) {
      .globalnavigation .expanded-nav.open {
        position: absolute;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        width: 100%;
        height: auto;
        padding-top: 0; } }
    .globalnavigation .expanded-nav.open .nav-scroller-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden; }
    .globalnavigation .expanded-nav.open .nav-scroller {
      width: 100%;
      position: relative;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-text-size-adjust: none;
      -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
      -o-text-size-adjust: none;
      text-size-adjust: none;
      overflow: hidden;
      opacity: 1;
      padding-bottom: 60px; }
      .globalnavigation .expanded-nav.open .nav-scroller .row {
        clear: both;
        overflow: hidden; }
        @media only screen and (min-width: 641px) {
          .globalnavigation .expanded-nav.open .nav-scroller .row {
            overflow: visible; } }
      @media only screen and (min-width: 641px) {
        .globalnavigation .expanded-nav.open .nav-scroller {
          background: black;
          padding-bottom: 0; } }
  .globalnavigation .expanded-nav.locked {
    transition: none;
    transition-timing-function: none; }
  .globalnavigation .expanded-nav ul {
    margin: 0; }
  .globalnavigation .expanded-nav > ul > li {
    border-bottom: 1px solid #313131;
    position: relative;
    overflow: hidden; }
    @media only screen and (min-width: 1025px) {
      .globalnavigation .expanded-nav > ul > li {
        /* required for IE */
        min-height: 80px; }
        .globalnavigation .expanded-nav > ul > li .row {
          display: table; } }
  .globalnavigation .expanded-nav li {
    list-style: none;
    overflow: hidden; }
    .globalnavigation .expanded-nav li:before, .globalnavigation .expanded-nav li:after {
      content: " ";
      display: table; }
    .globalnavigation .expanded-nav li:after {
      clear: both; }
  .globalnavigation .expanded-nav .left-pane {
    background: black;
    border-bottom: 1px solid #313131;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px; }
    @media only screen {
      .globalnavigation .expanded-nav .left-pane {
        padding-left: 16px;
        padding-right: 16px; } }
    @media only screen and (min-width: 641px) {
      .globalnavigation .expanded-nav .left-pane {
        padding-left: 24px;
        padding-right: 24px; } }
    @media only screen and (min-width: 769px) {
      .globalnavigation .expanded-nav .left-pane {
        padding-left: 24px;
        padding-right: 24px; } }
    @media only screen and (min-width: 1025px) {
      .globalnavigation .expanded-nav .left-pane {
        padding-left: 24px;
        padding-right: 24px; } }
    @media only screen and (min-width: 1461px) {
      .globalnavigation .expanded-nav .left-pane {
        padding-left: 30px;
        padding-right: 30px; } }
    .globalnavigation .expanded-nav .left-pane:before, .globalnavigation .expanded-nav .left-pane:after {
      content: " ";
      display: table; }
    .globalnavigation .expanded-nav .left-pane:after {
      clear: both; }
    @media only screen and (min-width: 769px) {
      .globalnavigation .expanded-nav .left-pane {
        display: table-cell;
        vertical-align: top;
        width: 15%;
        min-width: 285px;
        border: none;
        padding-top: 28px;
        padding-bottom: 26px; }
        .globalnavigation .expanded-nav .left-pane > * {
          opacity: 0;
          position: relative;
          top: -30px; } }
    .globalnavigation .expanded-nav .left-pane a {
      color: white;
      font-size: 18px;
      position: relative;
      display: inline-block; }
    .globalnavigation .expanded-nav .left-pane p {
      font-size: 13px;
      color: rgba(153, 153, 153, 0.4); }
    .globalnavigation .expanded-nav .left-pane .sponsor {
      float: right; }
      .globalnavigation .expanded-nav .left-pane .sponsor p {
        display: none; }
      .globalnavigation .expanded-nav .left-pane .sponsor img {
        max-width: 101px; }
      @media only screen and (min-width: 769px) {
        .globalnavigation .expanded-nav .left-pane .sponsor {
          margin-top: 39px;
          float: none; }
          .globalnavigation .expanded-nav .left-pane .sponsor p {
            display: block; } }
  @media only screen and (min-width: 769px) {
    .globalnavigation .expanded-nav.open .left-pane > * {
      opacity: 1;
      top: 0; } }
  .globalnavigation .expanded-nav .right-pane {
    background: #282828;
    padding-top: 17px;
    padding-bottom: 8px; }
    @media only screen {
      .globalnavigation .expanded-nav .right-pane {
        padding-left: 16px;
        padding-right: 16px; } }
    @media only screen and (min-width: 641px) {
      .globalnavigation .expanded-nav .right-pane {
        padding-left: 24px;
        padding-right: 24px; } }
    @media only screen and (min-width: 769px) {
      .globalnavigation .expanded-nav .right-pane {
        padding-left: 24px;
        padding-right: 24px; } }
    @media only screen and (min-width: 1025px) {
      .globalnavigation .expanded-nav .right-pane {
        padding-left: 24px;
        padding-right: 24px; } }
    @media only screen and (min-width: 1461px) {
      .globalnavigation .expanded-nav .right-pane {
        padding-left: 30px;
        padding-right: 30px; } }
    .globalnavigation .expanded-nav .right-pane:before, .globalnavigation .expanded-nav .right-pane:after {
      content: " ";
      display: table; }
    .globalnavigation .expanded-nav .right-pane:after {
      clear: both; }
    @media only screen and (min-width: 769px) {
      .globalnavigation .expanded-nav .right-pane {
        display: table-cell;
        position: relative;
        vertical-align: top;
        width: 85%;
        /* required for IE */
        min-height: 112px;
        border: none;
        padding: 28px 53px 26px; }
        .globalnavigation .expanded-nav .right-pane:after {
          content: ' ';
          position: absolute;
          top: 0;
          bottom: 0;
          right: -2000px;
          width: 2000px;
          /* required for IE */
          min-height: 600px;
          display: block !important;
          background: #282828; }
        .globalnavigation .expanded-nav .right-pane > * {
          opacity: 0;
          position: relative;
          top: -30px; } }
    .globalnavigation .expanded-nav .right-pane .button-arrow {
      text-transform: uppercase; }
    .globalnavigation .expanded-nav .right-pane li {
      width: 50%;
      float: left;
      font-size: 14px;
      margin-bottom: 9px;
      padding-right: 10%;
      line-height: 1.3; }
      @media only screen and (min-width: 769px) {
        .globalnavigation .expanded-nav .right-pane li {
          width: 50%;
          font-size: 18px; } }
      @media only screen and (min-width: 1025px) {
        .globalnavigation .expanded-nav .right-pane li {
          width: 33%; }
          .globalnavigation .expanded-nav .right-pane li:nth-child(odd) {
            clear: none; }
          .globalnavigation .expanded-nav .right-pane li:nth-child(5n-1) {
            clear: left !important; } }
@media only screen and (min-width: 769px) {
  .globalnavigation.open .right-pane > * {
    opacity: 1;
    top: 0; } }
.globalnavigation.loaded .expanded-nav {
  display: block; }

.ie8 .globalnavigation .primary-nav .menu-button.open .hamburger span {
  display: none; }
.ie8 .expanded-nav {
  top: -350%; }
  .ie8 .expanded-nav.open {
    top: auto; }

.globalnavigation.open .nav-bar {
  visibility: hidden; }

/*
.primary-nav.sticky {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 999;
}

.nav-item {
  color: $global-navigation-font-color;
  float: left;
  list-style-type: none;
  text-transform: capitalize;
  position: relative;
  a {
    color: $global-navigation-primary-color;
    text-decoration: none;
    font-size: 18px;
    &:hover {
      @include media-query($large-up) {
        color: #ccc;
      }
    }
    h2 {
      font-size: 1.3em;
      color: $global-navigation-primary-color;
      padding-left: $nav-section-padding;
      border-bottom: 1px solid $global-navigation-font-color;
      background: #333;
      margin-top: 0;
    }
  }
}

.primary-nav {
  position: relative;
  width: 100%;
  height: $topbar-height;
  line-height: $topbar-height;
  background: $global-navigation-background-color;
  overflow: hidden;
  .nav-section {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  .nav-item {
    margin: 0 12px;
    height: 100%;
    line-height: 4.5;
  }
  .toggle-menu {
    position: absolute;
    background: #333;
    color: #fff;
    top: 0;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: #333;
    cursor: pointer;
    @include media-query($large-up) {
      width: 160px;
    }
    a {
      color: white;
    }
    span.menu-lbl {
      position: absolute;
      width: 100%;
      padding-left: 30%;
      padding-top: 20%;
      @include media-query($large-up) {
        padding-left: 40%;
        top: 0;
        width: 100%;
        padding-top: 0;
      }
    }
    div.nav-menu-close {
      font-size: 25px;
      position: absolute;
      padding-left: 45%;
      width: 100%;
    }
    color: $topbar-menu-link-color;
    & {
      @include hamburger(16px, false, 0, 1px, 6px, $topbar-menu-icon-color, $topbar-menu-icon-color, false);
    }
    span {
      cursor: pointer;
    }
    span.menu-lbl::before {
      content: "ALL";
      @include media-query($large-up) {
        content: "OPEN ALL";
      }
    }
    span.menu-lbl::after {
      top: 20%;
      margin: 0;
      right: 35%;
      @include media-query($large-up) {
        top: 40%;
        left: 20%;
      }
    }
  }
  .dimmer-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 100%;
    background: black;
    z-index: 100;
    .dimmer {
      display: block;
      position: absolute;
      width: 55px;
      height: 100%;
      left: -30px;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(56%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
      background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
      background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
      background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
      content: "";
      @include media-query($large-up) {
        display: none;
      }
    }
  }
}*/
/*.full-screen-menu {
  background: $global-navigation-background-color;
  position: absolute;
  z-index: 10;
  width: 100%;
/*  overflow-y: scroll;
  bottom: 0;*/
/*  .nav-section {
    clear: both;
    padding: 0;
    margin-left: 0;
    .nav-item {
      float: none;
      margin-bottom: 20px;
      .shows-column {
        text-transform: capitalize;
        margin-top: 20px;
      }
      .adbanner {
        position: absolute;
        top: -17px;
        right: 0px;
      }
    }
  }
  .nav-row {
    @include grid-row;
    max-width: 100%;
    margin-top: 10px;
    .nav-shows-col2 {
      @include grid-column(6);
    }
    .nav-shows-col {
      @include media-query($large-up) {
        @include grid-column(6);
      }
    }
    .nav-min-2col {
      @include grid-column(6);
      &:nth-child(3), &:nth-child(4) {
        display: none;
      }
      @include media-query($large-up) {
        @include grid-column(3);
        &:nth-child(3), &:nth-child(4) {
          display: block;
        }
      }
    }
  }
  .nav-section-header {
    color: $global-navigation-primary-color;
    font-size: 14px;
    text-transform: uppercase;
  }
  .nav-section-footer {
    text-transform: uppercase;
    color: $global-navigation-primary-color;
    padding-left: $nav-section-padding;
    margin: 30px 0;
  }
  .nav-menu-close {
    color: $global-navigation-primary-color;
  }
  button.nav-menu-close {
    background: $global-navigation-background-color;
    border: 1px solid $global-navigation-font-color;
    padding: 5px 30px;
    &:hover {
      background: tint($global-navigation-background-color, 10%);
      border: 1px solid white;
    }
  }
}

.mainbody {
  background: white;
}


.nav-header {
  background: $header-bgclor;
  width: 100%;
  height: $header-height;
  background-image: url("/static-images/foxtellogo.png");
  background-size: 135px 34px;
  background-repeat: no-repeat;
  background-position: 10%;
  color: #fff;
  position: relative;
  .searchbox {
    border: 1px solid $header-icon-clr;
    width: 300px;
    height: 45px;
    float: right;
    margin: 25px 160px;
    font-family: Verdana;
    position: relative;
    font-size: 0.9rem;
    display: none;
    @include media-query($large-up) {
      display: block;
    }

    .switchthemes {
      margin: 10px;
      color: $header-icon-clr;
      font-style: italic;
    }
  }
  .searchicon {
    position: absolute;
    top: 40px;
    right: 15px;
    font-size: 17px;
    a {
      color: $header-icon-clr;
    }
    i.fa-search {
      margin: -10px 20px;
      font-size: 2em;
      @include media-query($large-up) {
        font-size: 1em;
      }
    }
    @include media-query($large-up) {
      display: block;
      top: 25px;
      right: 0px;
    }
  }
}*/
