@import "../../../../../../etc/designs/foxtel/common/clientlibs/scss/includes/includes";

.article-body {
  .row {
    @include component-grid-row;
    position: relative;
  }
  .article-aside {
    @include component-grid-column-gutters;
    @include media-query($medium-up) {
      @include component-grid-column($columns: 3);
      position: absolute;
    }

    @include media-query($xlarge-up) {
      @include component-grid-column($columns: 2);
    }
  }
  .article-content {
    @include media-query($medium-up) {
      @include component-grid-column($columns: 12);
    }

    > * {
      @include component-grid-column-gutters;
      @include media-query($medium-up) {
        margin-left: 25%;
      }

      @include media-query($xlarge-up) {
        margin-right: 25%;
      }
    }
    // Required for editor (extra divs) - FOX-1128
    .editor-reset {
      margin: 0 !important;
      padding: 0 !important;
      &.section {
        > * {
          @include component-grid-column-gutters;
          @include media-query($medium-up) {
            margin-left: 25%;
          }

          @include media-query($xlarge-up) {
            margin-right: 25%;
          }
        }
        .pull {
          margin-left: 0;
          margin-right: 0;
          margin-top: rem-calc(8);
          @include component-grid-column-gutters($divide: true);
          @include media-query($medium-up) {
            @include component-grid-column($columns: 5);
          }

          @include media-query($xlarge-up) {
            @include component-grid-column($columns: 6);
          }
        }
        .pull-right {
          @include column-margins;
          @include media-query($small-only) {
            margin-left: 0;
          }

          @include media-query($medium-up) {
            float: right;
          }
        }
        .pull-left {
          @include column-margins($direction: right);
          @include media-query($small-only) {
            margin-right: 0;
          }

          @include media-query($medium-up) {
            float: left;
          }
        }
      }
    }
    p {
      margin-bottom: 2.5em;
      text-rendering: optimizeLegibility;
    }
    figure {
      margin: 0 0 2em 0;
      @include media-query($medium-up) {
        margin-left: 25%;
      }

      @include media-query($xlarge-up) {
        margin-right: 25%;
      }

      img {
        margin: 0 0 0.7em;
        width: 100%;
      }
      figcaption {
        font-size: rem-calc(14);
        font-style: italic;
        color: #444;
        color: rgba(68, 68, 68, 0.5);
        margin-left: 0;
      }
    }
    .pull {
      margin-left: 0;
      margin-right: 0;
      margin-top: rem-calc(8);
      @include component-grid-column-gutters($divide: true);
      @include media-query($medium-up) {
        @include component-grid-column($columns: 5);
      }

      @include media-query($xlarge-up) {
        @include component-grid-column($columns: 6);
      }
    }
    .pull-right {
      @include column-margins;
      @include media-query($small-only) {
        margin-left: 0;
      }

      @include media-query($medium-up) {
        float: right;
      }
    }
    .pull-left {
      @include column-margins($direction: right);
      @include media-query($small-only) {
        margin-right: 0;
      }

      @include media-query($medium-up) {
        float: left;
      }
    }
  }
}