/**
 * Core variables and mixins used across the base page configuration, and all components.
 * IMPORTANT: No actual generated CSS should be produced by this file, only variables and mixins (variables and
 * mixins do not generate any CSS) . This is because this file is included in every components file, so any CSS generated
 * will be included multiple times.
 */
/**
 * This mixin must be used instead of directly calling media queries. This is so we can write two sets of CSS - one with media queries,
 * and one without. This is controlled with the global $ignore-media-queries variable. Based on: https://jakearchibald.github.io/sass-ie/
 */
/**
 * Non theme-specific colors used across the site. These colours remain the same across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/* Core colors */
/**
 * All themable variables. These are set to basic default values, and overridden by the current theme.
 * The base defaults represent the FEL (Foxtel Experience Language) theme,
 * Ensure that all specified variables are given the '!default' value, so they can be correctly
 * overridden by the theme.
 */
@font-face {
  font-family: "ProximaNova-Light";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.ttf") format("truetype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff") format("woff"); }
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.ttf") format("truetype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff") format("woff"); }
@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.ttf") format("truetype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff") format("woff"); }
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaBold.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaBold.ttf") format("truetype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaBold.woff") format("woff"); }
/**
 * Movies site theme settings.
 */
/**
 * CSS Generated icons used across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/**
 * Core grid and breakpoint values.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
 /**
* Core mixins used across all sites. Ensure that new mixins are added here only as a last resort. Foundation provides a
* set of mixins which should be used instead of creating your own.
* This file is included in multiple other files, ensure that only mixins and variables are defined here.
*/
/**
 * Set the size of an icon with pixels
 * @type {Number} Size of icon in pixels, converted automatically to rems
 */
/**
 * Used to space items consistently on the baseline grid with a margin.
 */
/**
 * Used to space containers equally
 */
/**
 * Used to space items consistently on the baseline grid with padding.
 */
/**
 * Used to add the correct left/right negative margins to component rows containing columns
 */
/**
 * Used to add appropriate grid column widths to component items
 */
/**
 * Used to add the correct left/right padding to component columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Stop text from being highlighted
 */
/**
 * Use to create cross-browser (IE compatible) PX/REM values
 */
 /**
* Site navigation styling, common across nav elements
*/
.navigation a {
  color: white;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 0.5px;
  text-transform: capitalize;
  -webkit-transition: color 0.6s ease;
  -o-transition: color 0.6s ease;
  transition: color 0.6s ease; }
  .navigation a:hover {
    color: white; }
    .navigation a:hover .icon {
      fill: white; }
  .navigation a .icon {
    fill: white;
    fill: rgba(255, 255, 255, 0.4); }
.navigation .primary-nav {
  z-index: 2; }
  .navigation .primary-nav:first-child .window {
    background: #020202;
    overflow: hidden;
    position: relative; }
    @media only screen {
      .navigation .primary-nav:first-child .window {
        padding-left: 16px;
        padding-right: 16px; } }
    @media only screen and (min-width: 641px) {
      .navigation .primary-nav:first-child .window {
        padding-left: 24px;
        padding-right: 24px; } }
    @media only screen and (min-width: 769px) {
      .navigation .primary-nav:first-child .window {
        padding-left: 24px;
        padding-right: 24px; } }
    @media only screen and (min-width: 1025px) {
      .navigation .primary-nav:first-child .window {
        padding-left: 24px;
        padding-right: 24px; } }
    @media only screen and (min-width: 1461px) {
      .navigation .primary-nav:first-child .window {
        padding-left: 30px;
        padding-right: 30px; } }
    .navigation .primary-nav:first-child .window:after {
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: 25px;
      height: 100%;
      content: ' ';
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
      background: -moz-linear-gradient(left, transparent 0%, black 56%, black 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(56%, black), color-stop(100%, black));
      background: -webkit-linear-gradient(left, transparent 0%, black 56%, black 100%);
      background: -o-linear-gradient(left, transparent 0%, black 56%, black 100%);
      background: -ms-linear-gradient(left, transparent 0%, black 56%, black 100%);
      background: linear-gradient(left, transparent 0%, black 56%, black 100%); }
  .navigation .primary-nav .nav-wrapper {
    overflow: hidden; }
    @media only screen and (min-width: 769px) {
      .navigation .primary-nav .nav-wrapper {
        position: relative; } }
@-moz-keyframes slideNav {
  0% {
    -moz-transform: translateX(-200px); }
  100% {
    -moz-transform: translateX(0); } }
@-webkit-keyframes slideNav {
  0% {
    -webkit-transform: translateX(-200px); }
  100% {
    -webkit-transform: translateX(0); } }
@keyframes slideNav {
  0% {
    transform: translateX(-200px); }
  100% {
    transform: translateX(0); } }
  .navigation .primary-nav .nav-bar {
    white-space: nowrap;
    margin: 0;
    position: relative;
    z-index: 1; }
    .navigation .primary-nav .nav-bar li {
      display: inline-block;
      padding: 16px 0 17px 24px;
      margin: 0;
      font-size: 18px; }
      @media only screen and (min-width: 769px) {
        .navigation .primary-nav .nav-bar li {
          padding: 16px 24px 17px; } }
      .navigation .primary-nav .nav-bar li:first-child {
        padding-left: 0; }
      .navigation .primary-nav .nav-bar li.active a {
        color: white; }
    .navigation .primary-nav .nav-bar.animate-in {
      -moz-animation-name: slideNav;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: ease-in-out-cubic;
      -moz-animation-duration: 1s;
      -webkit-animation-name: slideNav;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-in-out-cubic;
      -webkit-animation-duration: 1s;
      animation-name: slideNav;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out-cubic;
      animation-duration: 1s;
      cursor: move; }

/**
 * Specify which Foundation modules are required
 */
meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

.content-pillars {
  padding: 60px 0;
  border-bottom: 1px solid #d8d8d8; }
  .content-pillars header:before, .content-pillars header:after {
    content: " ";
    display: table; }
  .content-pillars header:after {
    clear: both; }
  .content-pillars header .content-pillars-heading {
    font-size: 22px;
    font-family: "ProximaNova-Light", Arial, sans-serif;
    display: inline-block;
    margin-top: 3px; }
    @media only screen and (min-width: 769px) {
      .content-pillars header .content-pillars-heading {
        font-size: 28px;
        margin-top: 7px; } }
  .content-pillars header .button-arrow {
    margin-bottom: 14px;
    margin-top: 0;
    float: right;
    text-transform: none; }
    @media only screen and (min-width: 769px) {
      .content-pillars header .button-arrow {
        margin-bottom: 26px; } }
  .content-pillars .row {
    margin-bottom: -21px;
    clear: both;
    width: auto; }
    @media only screen {
      .content-pillars .row {
        margin-left: -8px;
        margin-right: -8px; } }
    @media only screen and (min-width: 641px) {
      .content-pillars .row {
        margin-left: -12px;
        margin-right: -12px; } }
    @media only screen and (min-width: 769px) {
      .content-pillars .row {
        margin-left: -12px;
        margin-right: -12px; } }
    @media only screen and (min-width: 1025px) {
      .content-pillars .row {
        margin-left: -12px;
        margin-right: -12px; } }
    @media only screen and (min-width: 1461px) {
      .content-pillars .row {
        margin-left: -15px;
        margin-right: -15px; } }
    .content-pillars .row article {
      width: 50%;
      float: left;
      padding-bottom: 21px; }
      @media only screen {
        .content-pillars .row article {
          padding-left: 8px;
          padding-right: 8px; } }
      @media only screen and (min-width: 641px) {
        .content-pillars .row article {
          padding-left: 12px;
          padding-right: 12px; } }
      @media only screen and (min-width: 769px) {
        .content-pillars .row article {
          padding-left: 12px;
          padding-right: 12px; } }
      @media only screen and (min-width: 1025px) {
        .content-pillars .row article {
          padding-left: 12px;
          padding-right: 12px; } }
      @media only screen and (min-width: 1461px) {
        .content-pillars .row article {
          padding-left: 15px;
          padding-right: 15px; } }
      .content-pillars .row article.clear-small {
        clear: left; }
      .content-pillars .row article:hover picture img {
        -webkit-transform: scale(1.06);
        -ms-transform: scale(1.06);
        -o-transform: scale(1.06);
        transform: scale(1.06); }
      .content-pillars .row article .heading {
        font-size: 18px;
        font-family: "ProximaNova-Semibold", Arial, sans-serif;
        margin-bottom: 6px;
        -webkit-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s; }
        .content-pillars .row article .heading:hover {
          opacity: 0.8; }
      .content-pillars .row article picture {
        margin-bottom: 15px;
        display: block;
        width: 100%;
        overflow: hidden; }
        .content-pillars .row article picture img {
          -webkit-transition: all 1s;
          -o-transition: all 1s;
          transition: all 1s; }
      .content-pillars .row article p {
        color: #666; }
      @media only screen and (min-width: 769px) {
        .content-pillars .row article {
          width: 33.33333%;
          float: left; }
          .content-pillars .row article.clear-med {
            clear: left; }
          .content-pillars .row article.clear-small {
            clear: none; } }
      @media only screen and (min-width: 1025px) {
        .content-pillars .row article {
          width: 16.66667%;
          float: left; }
          .content-pillars .row article.clear-med {
            clear: none; } }
      .content-pillars .row article.feature {
        width: 100%;
        float: left; }
        @media only screen and (min-width: 769px) {
          .content-pillars .row article.feature {
            width: 66.66667%;
            float: left; } }
        @media only screen and (min-width: 1025px) {
          .content-pillars .row article.feature {
            width: 33.33333%;
            float: left; } }
        @media only screen and (min-width: 769px) {
          .content-pillars .row article.feature + article {
            width: 33.33333%;
            float: left; } }
        @media only screen and (min-width: 1025px) {
          .content-pillars .row article.feature + article {
            width: 16.66667%;
            float: left; } }

/*# sourceMappingURL=contentdiscovery.css.map */
