/**
 * Core variables and mixins used across the base page configuration, and all components.
 * IMPORTANT: No actual generated CSS should be produced by this file, only variables and mixins (variables and
 * mixins do not generate any CSS) . This is because this file is included in every components file, so any CSS generated
 * will be included multiple times.
 */
/**
 * This mixin must be used instead of directly calling media queries. This is so we can write two sets of CSS - one with media queries,
 * and one without. This is controlled with the global $ignore-media-queries variable. Based on: https://jakearchibald.github.io/sass-ie/
 */
/**
 * Non theme-specific colors used across the site. These colours remain the same across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/* Core colors */
/**
 * All themable variables. These are set to basic default values, and overridden by the current theme.
 * The base defaults represent the FEL (Foxtel Experience Language) theme,
 * Ensure that all specified variables are given the '!default' value, so they can be correctly
 * overridden by the theme.
 */
@font-face {
  font-family: "ProximaNova-Light";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/**
 * Movies site theme settings.
 */
/**
 * CSS Generated icons used across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/**
 * Core grid and breakpoint values.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
 /**
* Core mixins used across all sites. Ensure that new mixins are added here only as a last resort. Foundation provides a
* set of mixins which should be used instead of creating your own.
* This file is included in multiple other files, ensure that only mixins and variables are defined here.
*/
/**
 * Set the size of an icon with pixels
 * @type {Number} Size of icon in pixels, converted automatically to rems
 */
/**
 * Used to space items consistently on the baseline grid with a margin.
 */
/**
 * Used to space containers equally
 */
/**
 * Used to space items consistently on the baseline grid with padding.
 */
/**
 * Used to add the correct left/right negative margins to component rows containing columns
 */
/**
 * Used to add appropriate grid column widths to component items
 */
/**
 * Used to add the correct left/right padding to component columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Used to add the correct left/right margin to columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Stop text from being highlighted
 */
/**
 * FT specific mixins
 */
/**
 * Use to create cross-browser (IE compatible) PX/REM values
 */
/**
 * Specify which Foundation modules are required
 */
meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

.content-pillars .button-arrow {
  margin-bottom: 14px;
  margin-top: 0;
  float: right;
  text-transform: none;
  margin-bottom: 26px; }
  .content-pillars .button-arrow.visible-large {
    display: none; }
  .content-pillars .button-arrow.visible-large {
    display: block; }
  .content-pillars .button-arrow.visible-small {
    display: none; }
.content-pillars header:before, .content-pillars header:after {
  content: " ";
  display: table; }
.content-pillars header:after {
  clear: both; }
.content-pillars header .content-pillars-heading {
  font-size: 22px;
  font-family: "ProximaNova-Light", Arial, sans-serif;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 17px;
  font-size: 28px;
  margin-top: 7px; }
.content-pillars .row {
  clear: both;
  width: auto;
  margin-left: -8px;
  margin-right: -8px;
  margin-left: -12px;
  margin-right: -12px;
  margin-left: -12px;
  margin-right: -12px;
  margin-left: -12px;
  margin-right: -12px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -21px; }
  .content-pillars .row + .button-arrow {
    float: left; }
  .content-pillars .row article {
    width: 50%;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-left: 15px;
    padding-right: 15px;
    @at-root .no-touch &:hover {
      picture img {
        -webkit-transform: scale(1.06) rotate(0.0001deg);
        -ms-transform: scale(1.06) rotate(0.0001deg);
        -o-transform: scale(1.06) rotate(0.0001deg);
        transform: scale(1.06) rotate(0.0001deg); } }

    padding-bottom: 21px;
    width: 33.33333%;
    float: left;
    width: 16.66667%;
    float: left; }
    .content-pillars .row article:nth-child(4) {
      clear: left; }
    .content-pillars .row article .heading {
      font-size: 16px;
      font-family: "ProximaNova-Semibold", Arial, sans-serif;
      margin-bottom: 6px;
      line-height: 1.4;
      -webkit-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s;
      font-size: 18px;
      line-height: inherit; }
      .content-pillars .row article .heading:hover {
        opacity: 0.8; }
    .content-pillars .row article picture {
      margin-bottom: 10px;
      display: block;
      width: 100%;
      overflow: hidden;
      margin-bottom: 15px; }
      .content-pillars .row article picture img {
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
    .content-pillars .row article p {
      color: #666666;
      font-size: 14px;
      display: none;
      display: block; }
    .content-pillars .row article:nth-child(4) {
      clear: none; }
    .content-pillars .row article:nth-child(3) {
      clear: left; }
    .content-pillars .row article:nth-child(3) {
      clear: none; }
    .content-pillars .row article.feature {
      width: 100%;
      float: left;
      width: 66.66667%;
      float: left;
      width: 33.33333%;
      float: left; }
      .content-pillars .row article.feature p {
        display: block; }
      .content-pillars .row article.feature + article {
        width: 33.33333%;
        float: left;
        width: 16.66667%;
        float: left; }
