@import "../../../../../../etc/designs/foxtel/common/clientlibs/scss/includes/includes";

$article-copy-color: rgba(68, 68, 68, 0.5);

.bookend {
	header {
		@include clearfix;
		.bookend-heading {
			font-size: rem-calc(28);
			font-family: $font-family_heading-primary;
			text-align: center;
			margin-bottom: rem-calc(11);
			color: $light-color;
			@include media-query($xlarge-up) {
				text-align: left;
			}
		}
	}
	.row {
		clear: both;
		@include component-grid-row;
		article {
			@include component-grid-column($columns: 12);
			@include component-grid-column-gutters;
			@include baseline-spacing-padding;
			text-align: center;
			position: relative;
			&.feature {
				picture + .inner {
					@include media-query($small-only) {
						padding-top: 0;
					}
				}
				@include media-query($xlarge-up) {
					@include component-grid-column($columns: 7);
				}

				& + article {
					@include media-query($medium-up) {
						@include component-grid-column($columns: 4);
					}

					@include media-query($xlarge-up) {
						@include component-grid-column($columns: 5);
					}
				}
			}
			&.four-tile {
				@include baseline-spacing-margin($negative: true);
				@include media-query($medium-up) {
					@include component-grid-column($columns: 8);
					.item picture {
						display: block;
					}
				}

				@include media-query($xlarge-up) {
					clear: left;
					@include component-grid-column($columns: 5);
				}

				& + article {
					@include media-query($xlarge-up) {
						@include component-grid-column($columns: 7);
					}
				}
				.item {
					@include baseline-spacing-padding;
					&:first-child {
						@include media-query($medium-up) {
							padding-bottom: 0;
						}
					}
					&:last-child {
						@include media-query($medium-up) {
							padding-top: 0;
						}
					}
					picture {
						display: none;
						@include media-query($medium-up) {
							width: 50%;
							display: table-cell;
						}
					}
					.inner {
						@include media-query($medium-up) {
							width: 50%;
						}

						@include media-query($large-up) {
							padding-top: rem-calc(16);
						}
					}
					.label {
						@include media-query($large-up) {
							margin-bottom: rem-calc(5);
						}

						@include media-query($xlarge-up) {
							margin-bottom: rem-calc(10);
						}
					}
					.heading {
						@include media-query($medium-up) {
							max-width: 150px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							direction: ltr;
							margin: 0 auto;
						}

						@include media-query($large-up) {
							max-width: none;
							max-height: 60px;
							white-space: normal;
						}

						@include media-query($xlarge-up) {
							font-size: rem-calc(18);
							line-height: 1.3;
							max-height: 46px;
							overflow: hidden;
						}
					}
				}
			}
			a {
				@include image-scale;
				@include media-query($medium-up) {
					display: table;
					table-layout: fixed;
					direction: rtl;
					width: 100%;
					height: 100%;
				}

				&:hover {
					@include media-query($medium-up) {
						opacity: 0.9;
					}
				}
			}
			picture {
				display: block;
				width: 100%;
				overflow: hidden;
				position: relative;
				@include media-query($medium-up) {
					display: table-cell;
					vertical-align: middle;
					width: auto;
				}

				@include media-query($xlarge-up) {
					width: 70%;
				}

				img {
					@include transition(all 1s);
					width: 100%;
				}
				&.arrow-right,
				&.arrow-left {
					&:before {
						@include css-triangle(11px, $light-color, left);
						position: absolute;
						z-index: 1;
						top: 50%;
						margin-top: -11px;
						left: 0;
						display: none;
						@include media-query($medium-up) {
							display: block;
						}
					}
				}
				&.arrow-left {
					&:before {
						@include css-triangle(11px, $light-color, right);
						left: auto;
						right: 0;
					}
				}
			}
			.inner {
				background-color: $light-color;
				padding: rem-calc(30) rem-calc(30) rem-calc(12);
				@include media-query($medium-up) {
					position: relative;
					display: table-cell;
					vertical-align: middle;
					width: 31.66%;
					padding-left: rem-calc(19);
					padding-right: rem-calc(19);
				}

				@include media-query($xlarge-up) {
					width: auto;
				}
			}
			.label {
				margin-bottom: rem-calc(8);
				position: relative;
				z-index: 1;
				@include media-query($large-up) {
					margin-bottom: rem-calc(15);
				}

				&.pull-up {
					@include media-query($small-only) {
						margin-top: -#{rem-calc(14)};
					}
				}
				span {
					background-color: #333;
					color: $light-color;
					display: inline-block;
					font-size: rem-calc(10);
					letter-spacing: rem-calc(2);
					line-height: 1;
					padding: 6px 15px;
					text-transform: uppercase;
					vertical-align: top;
					max-width: 90%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					direction: ltr;
				}
			}
			.heading {
				font-size: rem-calc(18);
				font-family: $font-family_heading-primary;
				margin-bottom: rem-calc(6);
				direction: ltr;
				@include transition(opacity 0.5s);
				@include media-query($small-only) {
					font-size: rem-calc(18);
					line-height: 1.4;
				}

				@include media-query($medium-up) {
					font-size: rem-calc(20);
					line-height: 1.4;
					max-height: 110px;
					overflow: hidden;
				}

				@include media-query($large-up) {
					font-size: rem-calc(22);
				}

				@include media-query($xxlarge-up) {
					font-size: rem-calc(26);
				}

				&.restrict-height {
					@include media-query($medium-up) {
						max-height: 87px;
					}

					@include media-query($medium-only) {
						max-height: 55px;
						overflow: hidden;
					}

					@include media-query($small-only) {
						max-height: none;
					}
				}
				&:last-child {
					@include media-query($large-up) {
						margin-bottom: 0;
						max-height: 118px;
						overflow: hidden;
						line-height: 1.3;
					}

					@include media-query($xxlarge-up) {
						max-height: 138px;
					}
				}
				& + p {
					@include media-query($large-up) {
						margin-top: rem-calc(16);
					}
				}
			}
			p {
				font-size: rem-calc(14);
				color: $article-copy-color;
				margin-bottom: rem-calc(14);
				direction: ltr;
				@include media-query($small-up) {
					max-height: 50px;
					overflow: hidden;
				}

				@include media-query($medium-up) {
					font-size: rem-calc(16);
				}

				@include media-query($large-up) {
					font-size: rem-calc(18);
					line-height: 1.45;
				}
			}
		}
	}
}