
.announcement {
    background: #660000;
}

.announcement.priority-2 {
    background: #213753;
}

.announcement.priority-3 {
    background: #0c3809;
}

.announcement p {
    color: #fff;
}

.announcement .heading {
    font-weight: bold;
}

.announcement a {
    color: #ffc20e;
    font-weight: bold;
}
