
.announcement {
    padding: 25px 0;
}

.announcement .container {
    position: relative;
}

.announcement p {
    margin: 0 20px 0 0;
}

.announcement .icon {
    max-width: 40px;
    max-height: 34px;
    position: absolute;
    top: 50%;
    margin-top: -17px;
}

.announcement .icon +span {
    display:block;
    margin-left:56px;
}

.announcement .heading {
    margin-right: 15px;
}

.announcement .btn-close {
    width: 12px;
    height: 12px;
    display: block;
    background: url(../../../images/sprite-icons.png) no-repeat -70px -44px;
    position: absolute;
    top: 4px;
    right: 15px;
    display: none;
}

.announcement.closeable .btn-close {
    display: block;
}

@media screen and (max-width: 768px) {
    .announcement .heading {
        display: block;
    }

    .announcement .icon {
        position: initial;
        margin-top: 0;
    }
}
