/**
 * Styles for header/search component.
 */
/**
 * Core variables and mixins used across the base page configuration, and all components.
 * IMPORTANT: No actual generated CSS should be produced by this file, only variables and mixins (variables and
 * mixins do not generate any CSS) . This is because this file is included in every components file, so any CSS generated
 * will be included multiple times.
 */
/**
 * This mixin must be used instead of directly calling media queries. This is so we can write two sets of CSS - one with media queries,
 * and one without. This is controlled with the global $ignore-media-queries variable. Based on: https://jakearchibald.github.io/sass-ie/
 */
/**
 * Non theme-specific colors used across the site. These colours remain the same across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/* Core colors */
/**
 * All themable variables. These are set to basic default values, and overridden by the current theme.
 * The base defaults represent the FEL (Foxtel Experience Language) theme,
 * Ensure that all specified variables are given the '!default' value, so they can be correctly
 * overridden by the theme.
 */
@font-face {
  font-family: "ProximaNova-Light";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot");
  src: url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.eot?#iefix") format("embedded-opentype"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff2") format("woff2"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.woff") format("woff"), url("/etc/designs/foxtel/common/clientlibs/fonts/ProximaNovaSemibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/**
 * Movies site theme settings.
 */
/**
 * CSS Generated icons used across all sites.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
/**
 * Core grid and breakpoint values.
 * This file is included in multiple other files, ensure that only mixins and variables are defined here.
 */
 /**
* Core mixins used across all sites. Ensure that new mixins are added here only as a last resort. Foundation provides a
* set of mixins which should be used instead of creating your own.
* This file is included in multiple other files, ensure that only mixins and variables are defined here.
*/
/**
 * Set the size of an icon with pixels
 * @type {Number} Size of icon in pixels, converted automatically to rems
 */
/**
 * Used to space items consistently on the baseline grid with a margin.
 */
/**
 * Used to space containers equally
 */
/**
 * Used to space items consistently on the baseline grid with padding.
 */
/**
 * Used to add the correct left/right negative margins to component rows containing columns
 */
/**
 * Used to add appropriate grid column widths to component items
 */
/**
 * Used to add the correct left/right padding to component columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Used to add the correct left/right margin to columns at different breakpoints
 */
/**
 * Used to add the correct left/right padding to columns at different breakpoints
 */
/**
 * Stop text from being highlighted
 */
/**
 * FT specific mixins
 */
/**
 * Use to create cross-browser (IE compatible) PX/REM values
 */
/**
 * Specify which Foundation modules are required
 */
meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

meta.foundation-version {
  font-family: "/5.3.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:641px)/";
  width: 641px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:769px)/";
  width: 769px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:1025px)/";
  width: 1025px; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:1461px)/";
  width: 1461px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

.component-imagegallery {
  margin: 0; }
  .component-imagegallery p {
    font-size: 14px; }
  .component-imagegallery .gallery-copy {
    position: relative; }
    .component-imagegallery .gallery-copy .heading-gallerytitle {
      font-size: 22px;
      margin-bottom: 13px;
      display: block;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 12px; }
    .component-imagegallery .gallery-copy .galleryintro {
      display: none;
      display: block;
      margin-bottom: 23px;
      max-width: 330px;
      max-width: 430px;
      max-width: 660px; }
    .component-imagegallery .gallery-copy .gallery-sort {
      margin-bottom: 14px;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: 7px; }
      .component-imagegallery .gallery-copy .gallery-sort:before, .component-imagegallery .gallery-copy .gallery-sort:after {
        content: " ";
        display: table; }
      .component-imagegallery .gallery-copy .gallery-sort:after {
        clear: both; }
      .component-imagegallery .gallery-copy .gallery-sort .pill-tabs {
        float: left;
        float: right; }
        .component-imagegallery .gallery-copy .gallery-sort .pill-tabs .pill-tab {
          border-right: 1px solid #ababab; }
          .component-imagegallery .gallery-copy .gallery-sort .pill-tabs .pill-tab:hover {
            color: black; }
          .component-imagegallery .gallery-copy .gallery-sort .pill-tabs .pill-tab.active {
            border-right-color: #000; }
            .component-imagegallery .gallery-copy .gallery-sort .pill-tabs .pill-tab.active:hover {
              color: white; }
          .component-imagegallery .gallery-copy .gallery-sort .pill-tabs .pill-tab .icon {
            width: 14px;
            margin-bottom: -6px; }
      .component-imagegallery .gallery-copy .gallery-sort .gallery-count {
        border-left: 1px solid #bcbcbc;
        margin-left: 15px;
        padding-left: 15px;
        float: left;
        border-left: none;
        border-right: 1px solid #bcbcbc;
        margin-right: 20px;
        padding-right: 20px; }
        .component-imagegallery .gallery-copy .gallery-sort .gallery-count p {
          margin-bottom: 0;
          line-height: 32px;
          color: #777; }
  .component-imagegallery .button-arrow {
    color: #010101;
    border-color: #bcbcbc;
    width: auto; }
  .component-imagegallery .gallery {
    display: none;
    margin-bottom: 14px;
    clear: both;
    position: relative;
    margin-bottom: 30px; }
    .component-imagegallery .gallery ul {
      margin: 0;
      list-style: none;
      /* not sure about using this, nested elements inherit it */
      white-space: nowrap; }
      .component-imagegallery .gallery ul:before, .component-imagegallery .gallery ul:after {
        content: " ";
        display: table; }
      .component-imagegallery .gallery ul:after {
        clear: both; }
      .component-imagegallery .gallery ul li {
        display: inline-block;
        vertical-align: top;
        padding-right: 10px;
        margin-right: -3px;
        position: relative;
        white-space: normal;
        height: 176px;
        height: 250px;
        height: 460px;
        padding-right: 30px; }
        .component-imagegallery .gallery ul li:before, .component-imagegallery .gallery ul li:after {
          content: " ";
          display: table; }
        .component-imagegallery .gallery ul li:after {
          clear: both; }
        .component-imagegallery .gallery ul li.mrec {
          display: none;
          text-align: center;
          padding: 0;
          line-height: 460px; }
          .component-imagegallery .gallery ul li.mrec .item-wrap {
            border: 1px solid #d3d3d3;
            background: url(/static-images/mrec-bg.png);
            padding: 16px 20px 11px;
            margin-right: 10px;
            height: 100%;
            margin-right: 30px; }
        .component-imagegallery .gallery ul li .item-wrap {
          position: relative;
          overflow: hidden;
          height: 100%; }
          .component-imagegallery .gallery ul li .item-wrap .item-thumb {
            height: 100%;
            cursor: pointer; }
        .component-imagegallery .gallery ul li img {
          max-height: 100%;
          height: 176px;
          height: 250px;
          height: 460px; }
        .component-imagegallery .gallery ul li picture {
          overflow: hidden;
          display: inline-block;
          position: relative; }
          .component-imagegallery .gallery ul li picture .icon-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 27px;
            height: 27px;
            margin-top: -13.5px;
            margin-left: -13.5px; }
        .component-imagegallery .gallery ul li.loaded picture .icon-loader {
          display: none; }
        .component-imagegallery .gallery ul li .gallery-item-copy {
          display: none; }
          .component-imagegallery .gallery ul li .gallery-item-copy .gallery-item-position {
            display: none; }
          .component-imagegallery .gallery ul li .gallery-item-copy .gallery-item-title {
            margin-bottom: 3px;
            line-height: 1.3; }
          .component-imagegallery .gallery ul li .gallery-item-copy .gallery-item-body {
            display: none; }
          .component-imagegallery .gallery ul li .gallery-item-copy .gallery-item-credit {
            font-size: 12px;
            color: #777;
            line-height: 1.3; }
          .component-imagegallery .gallery ul li .gallery-item-copy .button.view {
            display: none; }
    .component-imagegallery .gallery.loading li:last-child:after {
      content: ' ';
      position: absolute;
      top: 50%;
      background: url(/etc/designs/foxtel/common/clientlibs/images/small-ajax-loader.gif);
      background-repeat: no-repeat;
      background-position: center center;
      left: 50%;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      border: 1px solid #d1d1d1;
      background-color: white;
      margin-left: -17.5px;
      margin-top: -17.5px;
      font-family: "ProximaNova-Regular", Arial, sans-serif;
      color: #888;
      z-index: 1000;
      opacity: 1; }
    .component-imagegallery .gallery .arrows {
      display: none; }
  .component-imagegallery .load-more {
    margin-bottom: 15px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding-top: 18px;
    padding-bottom: 0;
    display: none;
    margin-bottom: 19px;
    border-top: none;
    padding-top: 0; }
    .component-imagegallery .load-more:before, .component-imagegallery .load-more:after {
      content: " ";
      display: table; }
    .component-imagegallery .load-more:after {
      clear: both; }
    .component-imagegallery .load-more .button-arrow {
      margin-bottom: 16px;
      margin-right: 30px;
      margin-top: 0; }
    .component-imagegallery .load-more .show-count {
      font-size: 13px;
      font-style: italic;
      color: #777;
      line-height: 36px;
      display: none;
      display: block; }
  .component-imagegallery .button.close {
    display: none;
    float: right; }
    .component-imagegallery .button.close svg {
      width: 9px;
      height: 9px;
      margin-right: 2px; }
  .component-imagegallery .button {
    margin-bottom: 0;
    width: auto; }
    .component-imagegallery .button.share svg {
      width: 11px;
      height: 11px;
      margin-bottom: -1px;
      margin-right: 2px; }
    .component-imagegallery .button.share span {
      display: none; }
    .component-imagegallery .button.view {
      letter-spacing: 2px;
      border-color: white;
      padding: 8px 17px; }
  .component-imagegallery[data-active-view="default"] .gallery.slider {
    display: block; }
    .component-imagegallery[data-active-view="default"] .gallery.slider .container-wrapper {
      overflow: visible; }
  .component-imagegallery[data-active-view="default"] .gallery ul {
    cursor: url(/etc/designs/foxtel/common/clientlibs/cursors/cursor_grabber.png) 16 2, col-resize;
    cursor: url(/etc/designs/foxtel/common/clientlibs/cursors/cursor_grabber.cur), col-resize; }
    .component-imagegallery[data-active-view="default"] .gallery ul li picture {
      width: 300px;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.06);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      width: 600px; }
      .component-imagegallery[data-active-view="default"] .gallery ul li picture img {
        -webkit-transition: all 2s;
        -o-transition: all 2s;
        transition: all 2s;
        opacity: 0; }
    .component-imagegallery[data-active-view="default"] .gallery ul li.loaded picture {
      background: none;
      width: 100%; }
      .component-imagegallery[data-active-view="default"] .gallery ul li.loaded picture img {
        opacity: 1; }
    .component-imagegallery[data-active-view="default"] .gallery ul li.loaded .gallery-item-copy {
      display: block; }
    .component-imagegallery[data-active-view="default"] .gallery ul li .gallery-item-copy {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0);
      padding: 160px 20px 150px; }
      .component-imagegallery[data-active-view="default"] .gallery ul li .gallery-item-copy .cursor-wrap {
        cursor: pointer;
        max-width: 70%;
        margin: auto; }
      .component-imagegallery[data-active-view="default"] .gallery ul li .gallery-item-copy .gallery-item-position {
        font-size: 13px;
        font-style: italic;
        color: #fff;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 10px;
        display: inline-block; }
      .component-imagegallery[data-active-view="default"] .gallery ul li .gallery-item-copy .gallery-item-title {
        color: #fff;
        font-size: 24px;
        margin: 0 auto 18px;
        white-space: initial;
        max-width: 260px; }
      .component-imagegallery[data-active-view="default"] .gallery ul li .gallery-item-copy .button.view {
        display: inline-block; }
      .component-imagegallery[data-active-view="default"] .gallery ul li .gallery-item-copy .gallery-item-credit {
        display: none; }
      .component-imagegallery[data-active-view="default"] .gallery ul li .gallery-item-copy .button {
        background-color: #fff;
        text-transform: uppercase; }
      .component-imagegallery[data-active-view="default"] .gallery ul li .gallery-item-copy .share {
        position: absolute;
        right: 20px;
        bottom: 20px;
        border: none; }
    .component-imagegallery[data-active-view="default"] .gallery ul li:hover img, .component-imagegallery[data-active-view="default"] .gallery ul li.hover img {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }
    .component-imagegallery[data-active-view="default"] .gallery ul li:hover .gallery-item-copy, .component-imagegallery[data-active-view="default"] .gallery ul li.hover .gallery-item-copy {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.3);
      padding-top: 150px; }
    .component-imagegallery[data-active-view="default"] .gallery ul li.mrec:hover img {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
  .component-imagegallery[data-active-view="default"] .gallery .arrows {
    display: block; }
    .component-imagegallery[data-active-view="default"] .gallery .arrows .arrow {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 140px;
      /* fallback/image non-cover color */
      background: #e3e3e3;
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(left, #e3e3e3 0%, transparent 100%);
      /* Safari 4+, Chrome 1+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e3e3e3), color-stop(100%, transparent));
      /* Safari 5.1+, Chrome 10+ */
      background: -webkit-linear-gradient(left, #e3e3e3 0%, transparent 100%);
      /* Opera 11.10+ */
      background: -o-linear-gradient(left, #e3e3e3 0%, transparent 100%);
      /* IE10+ */
      background: -ms-linear-gradient(left, #e3e3e3 0%, transparent 100%);
      /* Standard */
      background: linear-gradient(to right, #e3e3e3 0%, transparent 100%);
      /* IE6-9 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to',GradientType=1 ); }
      .component-imagegallery[data-active-view="default"] .gallery .arrows .arrow.next {
        display: block;
        right: 0;
        /* fallback/image non-cover color */
        background: transparent;
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(left, transparent 0%, #e3e3e3 100%);
        /* Safari 4+, Chrome 1+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(100%, #e3e3e3));
        /* Safari 5.1+, Chrome 10+ */
        background: -webkit-linear-gradient(left, transparent 0%, #e3e3e3 100%);
        /* Opera 11.10+ */
        background: -o-linear-gradient(left, transparent 0%, #e3e3e3 100%);
        /* IE10+ */
        background: -ms-linear-gradient(left, transparent 0%, #e3e3e3 100%);
        /* Standard */
        background: linear-gradient(to right, transparent 0%, #e3e3e3 100%);
        /* IE6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to',GradientType=1 ); }
        .component-imagegallery[data-active-view="default"] .gallery .arrows .arrow.next .button-wrap {
          left: auto;
          right: 30px; }
      .component-imagegallery[data-active-view="default"] .gallery .arrows .arrow:hover .button-wrap {
        opacity: 1; }
      .component-imagegallery[data-active-view="default"] .gallery .arrows .arrow:hover svg {
        display: inline; }
      .component-imagegallery[data-active-view="default"] .gallery .arrows .arrow .button-wrap {
        padding: 6px;
        width: 34px;
        height: 34px;
        -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3) inset;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3) inset;
        border-radius: 100%;
        behavior: url(/etc/designs/foxtel/common/clientlibs/pie/PIE.htc);
        -webkit-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 30px;
        margin-top: -18px;
        text-align: center; }
      .component-imagegallery[data-active-view="default"] .gallery .arrows .arrow svg {
        width: 7px; }
  .component-imagegallery[data-active-view="default"].is-scrolling .gallery ul li:hover img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .component-imagegallery[data-active-view="default"].is-scrolling .gallery ul li:hover .gallery-item-copy {
    opacity: 0; }
  .component-imagegallery[data-active-view="default"].is-scrolling .gallery .arrows {
    display: none; }
  .component-imagegallery[data-active-view="default"].at-start .gallery .arrows .arrow.prev {
    display: none; }
  .component-imagegallery[data-active-view="default"].at-end .gallery .arrows .arrow.next {
    display: none; }
  .component-imagegallery[data-active-view="list"] .gallery {
    margin-bottom: 0; }
    .component-imagegallery[data-active-view="list"] .gallery.list {
      display: block; }
      .component-imagegallery[data-active-view="list"] .gallery.list.load-complete ~ .peripheral-links .load-more {
        display: none;
        display: block; }
        .component-imagegallery[data-active-view="list"] .gallery.list.load-complete ~ .peripheral-links .load-more .button-arrow {
          display: none; }
    .component-imagegallery[data-active-view="list"] .gallery ul li {
      display: block;
      height: auto;
      padding-right: 0;
      padding-bottom: 21px; }
      .component-imagegallery[data-active-view="list"] .gallery ul li picture {
        display: block;
        background: rgba(0, 0, 0, 0.06);
        height: 300px;
        overflow: hidden;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        float: left;
        width: 65%; }
        .component-imagegallery[data-active-view="list"] .gallery ul li picture img {
          margin-bottom: 11px;
          height: auto;
          max-height: none;
          width: 100%;
          opacity: 0;
          -webkit-transition: all 2s;
          -o-transition: all 2s;
          transition: all 2s; }
          .component-imagegallery[data-active-view="list"] .gallery ul li picture img:hover {
            opacity: 0.9; }
      .component-imagegallery[data-active-view="list"] .gallery ul li.loaded picture {
        background: none;
        height: 100%; }
      .component-imagegallery[data-active-view="list"] .gallery ul li.loaded img {
        opacity: 1; }
      .component-imagegallery[data-active-view="list"] .gallery ul li.mrec {
        padding-bottom: 32px;
        line-height: 0; }
        .component-imagegallery[data-active-view="list"] .gallery ul li.mrec .item-wrap {
          margin-right: 0;
          width: 65%; }
          .component-imagegallery[data-active-view="list"] .gallery ul li.mrec .item-wrap img {
            margin-bottom: 0; }
      .component-imagegallery[data-active-view="list"] .gallery ul li .gallery-item-copy {
        display: block;
        position: relative;
        min-height: 34px;
        border-top: 1px solid #cbcbcb;
        float: right;
        width: 33%;
        padding-top: 28px;
        padding-right: 44px; }
        .component-imagegallery[data-active-view="list"] .gallery ul li .gallery-item-copy .cursor-wrap {
          display: inline-block;
          max-width: 80%;
          max-width: none; }
        .component-imagegallery[data-active-view="list"] .gallery ul li .gallery-item-copy .gallery-item-position {
          display: block;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 14px;
          color: black;
          color: rgba(0, 0, 0, 0.3); }
        .component-imagegallery[data-active-view="list"] .gallery ul li .gallery-item-copy .gallery-item-title,
        .component-imagegallery[data-active-view="list"] .gallery ul li .gallery-item-copy .gallery-item-credit {
          display: block; }
        .component-imagegallery[data-active-view="list"] .gallery ul li .gallery-item-copy .gallery-item-title {
          font-size: 18px;
          font-family: "ProximaNova-Semibold", Arial, sans-serif;
          margin-bottom: 9px; }
        .component-imagegallery[data-active-view="list"] .gallery ul li .gallery-item-copy .gallery-item-body {
          display: block;
          margin-bottom: 17px; }
        .component-imagegallery[data-active-view="list"] .gallery ul li .gallery-item-copy .gallery-item-credit {
          margin-bottom: 38px;
          font-style: italic; }
        .component-imagegallery[data-active-view="list"] .gallery ul li .gallery-item-copy .button {
          float: right;
          float: none; }
          .component-imagegallery[data-active-view="list"] .gallery ul li .gallery-item-copy .button.share span {
            display: inline-block; }
  .component-imagegallery[data-active-view="list"] .load-more,
  .component-imagegallery[data-active-view="list"] .button.close {
    display: block; }
  .component-imagegallery[data-active-view="list"].load-complete .load-more .button-arrow {
    display: none; }
  .component-imagegallery[data-active-view="grid"] .gallery {
    display: none;
    margin-bottom: 0; }
    .component-imagegallery[data-active-view="grid"] .gallery.grid {
      display: block;
      padding-top: 10px;
      padding-top: 22px; }
      .component-imagegallery[data-active-view="grid"] .gallery.grid:before, .component-imagegallery[data-active-view="grid"] .gallery.grid:after {
        content: " ";
        display: table; }
      .component-imagegallery[data-active-view="grid"] .gallery.grid:after {
        clear: both; }
      .component-imagegallery[data-active-view="grid"] .gallery.grid.load-complete ~ .peripheral-links .load-more {
        display: none;
        display: block; }
        .component-imagegallery[data-active-view="grid"] .gallery.grid.load-complete ~ .peripheral-links .load-more .button-arrow {
          display: none; }
    .component-imagegallery[data-active-view="grid"] .gallery ul {
      display: block;
      padding: 0;
      margin: -8px;
      display: block;
      padding: 0;
      margin: -12px;
      display: block;
      padding: 0;
      margin: -15px; }
      .component-imagegallery[data-active-view="grid"] .gallery ul:before, .component-imagegallery[data-active-view="grid"] .gallery ul:after {
        content: " ";
        display: table; }
      .component-imagegallery[data-active-view="grid"] .gallery ul:after {
        clear: both; }
      .component-imagegallery[data-active-view="grid"] .gallery ul > li {
        display: block;
        height: auto;
        float: left;
        padding: 0 8px 16px; }
      .component-imagegallery[data-active-view="grid"] .gallery ul > li {
        width: 50%;
        padding: 0 8px 16px;
        list-style: none; }
        .component-imagegallery[data-active-view="grid"] .gallery ul > li:nth-of-type(1n) {
          clear: none; }
        .component-imagegallery[data-active-view="grid"] .gallery ul > li:nth-of-type(2n+1) {
          clear: both; }
      .component-imagegallery[data-active-view="grid"] .gallery ul:before, .component-imagegallery[data-active-view="grid"] .gallery ul:after {
        content: " ";
        display: table; }
      .component-imagegallery[data-active-view="grid"] .gallery ul:after {
        clear: both; }
      .component-imagegallery[data-active-view="grid"] .gallery ul > li {
        display: block;
        height: auto;
        float: left;
        padding: 0 12px 24px; }
      .component-imagegallery[data-active-view="grid"] .gallery ul > li {
        width: 33.33333%;
        padding: 0 12px 24px;
        list-style: none; }
        .component-imagegallery[data-active-view="grid"] .gallery ul > li:nth-of-type(1n) {
          clear: none; }
        .component-imagegallery[data-active-view="grid"] .gallery ul > li:nth-of-type(3n+1) {
          clear: both; }
      .component-imagegallery[data-active-view="grid"] .gallery ul:before, .component-imagegallery[data-active-view="grid"] .gallery ul:after {
        content: " ";
        display: table; }
      .component-imagegallery[data-active-view="grid"] .gallery ul:after {
        clear: both; }
      .component-imagegallery[data-active-view="grid"] .gallery ul > li {
        display: block;
        height: auto;
        float: left;
        padding: 0 15px 30px; }
      .component-imagegallery[data-active-view="grid"] .gallery ul > li {
        width: 25%;
        padding: 0 15px 30px;
        list-style: none; }
        .component-imagegallery[data-active-view="grid"] .gallery ul > li:nth-of-type(1n) {
          clear: none; }
        .component-imagegallery[data-active-view="grid"] .gallery ul > li:nth-of-type(4n+1) {
          clear: both; }
      .component-imagegallery[data-active-view="grid"] .gallery ul li {
        margin-right: 0; }
        .component-imagegallery[data-active-view="grid"] .gallery ul li img {
          height: auto;
          -webkit-transition: opacity 0.5s;
          -o-transition: opacity 0.5s;
          transition: opacity 0.5s; }
          .component-imagegallery[data-active-view="grid"] .gallery ul li img:hover {
            opacity: 0.9; }
  .component-imagegallery[data-active-view="grid"] .load-more,
  .component-imagegallery[data-active-view="grid"] .button.close {
    display: block; }

.screen-overlay {
  -webkit-transition: width 0s linear, height 0s linear, opacity 0.4s ease-in;
  -o-transition: width 0s linear, height 0s linear, opacity 0.4s ease-in;
  transition: width 0s linear, height 0s linear, opacity 0.4s ease-in;
  background: black;
  opacity: 0;
  position: fixed;
  z-index: 20000;
  top: 0;
  right: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 0; }
  .screen-overlay.visible {
    width: 100%;
    height: 100%;
    opacity: 1; }
    .screen-overlay.visible .icon,
    .screen-overlay.visible .close,
    .screen-overlay.visible button {
      display: block; }
  .screen-overlay.scrolled-down .content .body {
    -webkit-transform: translate(0, -106%);
    -ms-transform: translate(0, -106%);
    -o-transform: translate(0, -106%);
    transform: translate(0, -106%); }
  .screen-overlay .icon,
  .screen-overlay .close,
  .screen-overlay button {
    display: none; }
  .screen-overlay .icon,
  .screen-overlay .close,
  .screen-overlay .share,
  .screen-overlay button {
    opacity: 0.75;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s; }
    .screen-overlay .icon:hover, .screen-overlay .icon.hover,
    .screen-overlay .close:hover,
    .screen-overlay .close.hover,
    .screen-overlay .share:hover,
    .screen-overlay .share.hover,
    .screen-overlay button:hover,
    .screen-overlay button.hover {
      background: none;
      opacity: 1; }
  .screen-overlay .icon.circled {
    -webkit-box-shadow: 0 0 0 2px #666666 inset;
    box-shadow: 0 0 0 2px #666666 inset; }
  .screen-overlay .upper {
    padding-left: 16px;
    padding-right: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0; }
    .screen-overlay .upper .close {
      position: absolute;
      top: 54px;
      right: 15px;
      color: white;
      padding: 11px;
      border: 2px solid #666;
      border-radius: 26px;
      behavior: url(/etc/designs/foxtel/common/clientlibs/pie/PIE.htc);
      right: 72px; }
      .screen-overlay .upper .close svg {
        width: 19px;
        height: 19px; }
  .screen-overlay .slider {
    margin: 0;
    width: 100%;
    height: 100%;
    display: none; }
    .screen-overlay .slider.active {
      display: block; }
    .screen-overlay .slider .slick-list,
    .screen-overlay .slider .slick-track {
      height: 100%; }
    .screen-overlay .slider .slick-prev,
    .screen-overlay .slider .slick-next {
      display: none !important;
      z-index: 2;
      width: 45px;
      height: 45px;
      color: white;
      border: 2px solid #666;
      padding: 8px;
      border-radius: 100%;
      behavior: url(/etc/designs/foxtel/common/clientlibs/pie/PIE.htc); }
      .screen-overlay .slider .slick-prev:before,
      .screen-overlay .slider .slick-next:before {
        display: none; }
      .screen-overlay .slider .slick-prev svg,
      .screen-overlay .slider .slick-next svg {
        width: 26px;
        position: relative; }
    .screen-overlay .slider .slick-prev {
      left: 72px; }
    .screen-overlay .slider .slick-next {
      right: 72px; }
    .screen-overlay .slider .slick-slide {
      position: relative; }
      .screen-overlay .slider .slick-slide picture.loaded img {
        opacity: 1; }
      .screen-overlay .slider .slick-slide picture.loaded .icon-loader {
        display: none; }
      .screen-overlay .slider .slick-slide picture img {
        display: inline-block;
        opacity: 0;
        -webkit-transition: opacity 0.5s ease-in;
        -o-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in; }
      .screen-overlay .slider .slick-slide picture .icon-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 45px;
        height: 45px;
        margin-top: -22.5px;
        margin-left: -22.5px;
        color: white; }
  .screen-overlay .content {
    width: 100%;
    height: 100%; }
    .screen-overlay .content .mrec {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .screen-overlay .content span.showcase {
      display: none; }
    .screen-overlay .content span.showcase + .body {
      display: none; }
    .screen-overlay .content .showcase {
      position: absolute;
      top: 0;
      bottom: 0;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      height: 100%; }
      .screen-overlay .content .showcase img {
        max-height: 100%;
        margin: 0 auto;
        position: relative;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%); }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
          .screen-overlay .content .showcase img {
            width: 100%; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          .screen-overlay .content .showcase img {
            height: 100%; } }
    .screen-overlay .content picture {
      display: block;
      text-align: center; }
    .screen-overlay .content .body-wrap:after {
      /* FF3.6+ */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 95%, black 100%);
      /* Chrome,Safari4+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(95%, black), color-stop(100%, black));
      /* Chrome10+,Safari5.1+ */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 95%, black 100%);
      /* Opera 11.10+ */
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 95%, black 100%);
      /* IE10+ */
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 95%, black 100%);
      /* W3C */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 95%, black 100%);
      /* IE6-9 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
      content: ' ';
      display: block;
      height: 35px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 10;
      -ms-transform: translate(0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      height: 55px; }
    .screen-overlay .content .body-wrap:hover .body {
      -webkit-transform: translate(0, -106%);
      -ms-transform: translate(0, -106%);
      -o-transform: translate(0, -106%);
      transform: translate(0, -106%); }
    .screen-overlay .content .body {
      width: 100%;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      padding: 20px 0;
      min-height: 120px;
      background: black;
      /* Fallback Color */
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
      /* Saf4+, Chrome */
      background: -webkit-linear-gradient(top, transparent, black);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background: -moz-linear-gradient(top, transparent, black);
      /* FF3.6 */
      background: -ms-linear-gradient(top, transparent, black);
      /* IE10 */
      background: -o-linear-gradient(top, transparent, black);
      /* Opera 11.10+ */
      background: linear-gradient(top, transparent, black);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: translate(0, -120px);
      -ms-transform: translate(0, -120px);
      -o-transform: translate(0, -120px);
      transform: translate(0, -120px);
      text-align: center; }
      .screen-overlay .content .body:hover {
        -webkit-transform: translate(0, -106%);
        -ms-transform: translate(0, -106%);
        -o-transform: translate(0, -106%);
        transform: translate(0, -106%); }
      .screen-overlay .content .body .inner-wrap {
        padding-left: 16px;
        padding-right: 16px;
        padding-left: 24px;
        padding-right: 24px;
        padding-left: 24px;
        padding-right: 24px;
        padding-left: 24px;
        padding-right: 24px;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 640px;
        margin: 0 auto;
        position: static; }
        .screen-overlay .content .body .inner-wrap .copy {
          padding-right: 50px;
          padding-right: 0; }
        .screen-overlay .content .body .inner-wrap .item-count {
          color: #444;
          color: rgba(255, 255, 255, 0.4);
          font-size: 12px;
          font-size: 14px;
          margin-bottom: 8px; }
        .screen-overlay .content .body .inner-wrap .item-title {
          color: white;
          line-height: 1.3;
          font-size: 18px;
          margin-bottom: 8px; }
        .screen-overlay .content .body .inner-wrap .item-description {
          color: #aaa;
          font-size: 13px;
          font-style: italic;
          line-height: 1.5;
          margin-bottom: 4px;
          font-size: 16px; }
        .screen-overlay .content .body .inner-wrap .item-credit {
          color: #777;
          font-size: 13px; }
    .screen-overlay .content .share {
      position: absolute;
      right: 15px;
      bottom: 15px;
      color: white;
      padding: 14px;
      border: none;
      border-radius: 100%;
      behavior: url(/etc/designs/foxtel/common/clientlibs/pie/PIE.htc);
      -webkit-box-shadow: 0 0 0 2px #666666 inset;
      box-shadow: 0 0 0 2px #666666 inset;
      bottom: 72px;
      right: 72px; }
      .screen-overlay .content .share:hover {
        background: inherit; }
      .screen-overlay .content .share .icon {
        margin: 0;
        width: 17px;
        height: 17px; }

.no-touch .screen-overlay .showcase {
  padding: 0 144px; }
.no-touch .screen-overlay.visible .slider .slick-next,
.no-touch .screen-overlay.visible .slider .slick-prev {
  display: block !important; }

.ie8 .screen-overlay .content .showcase,
.ie8 .screen-overlay .content .body,
.ie9 .screen-overlay .content .showcase,
.ie9 .screen-overlay .content .body {
  position: static; }

.ie9 .component-imagegallery[data-active-view=default] .gallery .arrows .arrow {
  filter: none;
  background: #e3e3e3; }
