<div class="blurred-content">
	<h1>Epic heading here...</h1>
	<p>Some epic body content...</p>

	<section class="container-single-column accent-primary overflow-visible">
		<div class="container-content">

			<!-- START COMPONENT -->
			<div class="component-imagegallery at-start" data-gallery-id="gallery-_content_foxtel-channelsarenaenaugalleryjcrcontentparimagegaller" data-sliderview-url="/includes/gallerycontent.html" data-gridview-url="/includes/gallerycontentgrid.html" data-modalview-url="/includes/gallerycontentmodal.html" data-gallery-count="11" data-active-view="default">
				<div class="container-wrapper">
	    			<div class="gallery-copy">
	        			<span class="heading-gallerytitle">Gallery Title</span>
	        			<p class="galleryintro">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum nec sagittis sem nibh id elit. Aenean sollicitudin, lorem quis bibendum nisi elit consequat.</p>
	        			<div class="gallery-sort">
	            			<ul class="pill-tabs tabs">
								<li class="tab pill-tab info-tab active" data-toggle-class="info-content" data-display-view="default">
									<svg class="icon icon-slider"><use xlink:href="#icon-slider"></use></svg>
								</li>
								<li class="tab pill-tab related-tab" data-toggle-class="related-content" data-display-view="list">
									<svg class="icon icon-list"><use xlink:href="#icon-list"></use></svg>
								</li>
								<li class="tab pill-tab related-tab" data-toggle-class="related-content" data-display-view="grid">
									<svg class="icon icon-grid"><use xlink:href="#icon-grid"></use></svg>
								</li>
							</ul>
							<div class="gallery-count">
								<p><span class="num-images">*</span> images</p>
							</div>
						</div>
	    			</div>
				</div>

				<div class="gallery slider">
					<div class="container-wrapper">
						<ul>
							<li data-index="0">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/1-church.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="http://dev.foxtelstage.com/content/dam/FNA/Movies/1-church.jpg.adapt.path.640.high.jpg, http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/1-church.jpg.adapt.path.880.high.jpg 2x" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="http://dev.foxtelstage.com/content/dam/FNA/Movies/1-church.jpg.adapt.path.480.medium.jpg, http://dev.foxtelstage.com/content/dam/FNA/Movies/1-church.jpg.adapt.path.640.high.jpg 2x">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">1 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="1">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/Matthew-McConaughey-as-Ru-014.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-2-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-2-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">2 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="2">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/true_detective_wallpaper_1920x1080_05.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-3-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">3 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<!-- NOTE: Mrec/Advert specific - Note sure how this is supposed to be delivered? -->
							<li class="mrec">
								<div class="item-wrap">
									<a href="http://www.google.com.au" target="_blank"><img src="/static-images/mrec.png" alt="" /></a>
								</div>
							</li>
							<li data-index="3">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/true-detective-reelgood.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-4-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-4-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">2 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="4">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/TrueDetective_5.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-3-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">3 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="5">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/true-detective-series-premiere-woody-harrelson.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-3-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">3 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="6">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/true-detective-the-secret-fate-of-all-life.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-3-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">3 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="7">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/16x9.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-3-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">3 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="8">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/3x4.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-3-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">3 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="arrows">
						<a href="#" class="arrow prev">
							<div class="button-wrap circled">
								<svg class="icon icon-chevron-left"><use xlink:href="#icon-chevron-left"></use></svg>
							</div>
						</a>
						<a href="#" class="arrow next">
							<div class="button-wrap circled">
								<svg class="icon icon-chevron-right"><use xlink:href="#icon-chevron-right"></use></svg>
							</div>
						</a>
					</div>
				</div>

				<div class="container-wrapper">
					<div class="gallery list">
						<ul>
							<li data-index="0">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/1-church.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="http://dev.foxtelstage.com/content/dam/FNA/Movies/1-church.jpg.adapt.path.640.high.jpg, http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/1-church.jpg.adapt.path.880.high.jpg 2x" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="http://dev.foxtelstage.com/content/dam/FNA/Movies/1-church.jpg.adapt.path.480.medium.jpg, http://dev.foxtelstage.com/content/dam/FNA/Movies/1-church.jpg.adapt.path.640.high.jpg 2x">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">1 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="1">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/Matthew-McConaughey-as-Ru-014.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-2-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-2-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">2 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="2">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/true_detective_wallpaper_1920x1080_05.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-3-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">3 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<!-- NOTE: Mrec/Advert specific - Note sure how this is supposed to be delivered? -->
							<li class="mrec">
								<div class="item-wrap">
									<a href="http://www.google.com.au" target="_blank"><img src="/static-images/mrec.png" alt="" /></a>
								</div>
							</li>
							<li data-index="3">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/true-detective-reelgood.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-4-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-4-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">2 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="4">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/TrueDetective_5.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-3-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">3 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="5">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/true-detective-series-premiere-woody-harrelson.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-3-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">3 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="6">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/true-detective-the-secret-fate-of-all-life.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-3-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">3 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="7">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/16x9.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-3-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">3 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
							<li data-index="8">
								<div class="item-wrap">
									<div class="item-thumb">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="http://vj-azure-cq5-01.cloudapp.net:4502/content/dam/FNA/Movies/3x4.jpg.adapt.path.880.high.jpg" media="(min-width: 1000px)">
											<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="/static-images/lightbox-3-sml.jpg">
											<svg class="icon icon-loader animation-loader animation-loading"><use xlink:href="#icon-loader"></use></svg>
										</picture>
									</div>
									<div class="gallery-item-copy">
										<div class="cursor-wrap">
											<div class="gallery-item-position">3 of 56</div>
											<div class="gallery-item-title">True Detective Season 2 Behind the Scenes</div>
											<p class="gallery-item-body">This is basic body copy. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
											<small class="gallery-item-credit">Credit: Andrew Baker</small>
											<a href="#" class="button view">View +</a>
										</div>
										<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> <span>Share Image</span></a>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="gallery grid">
						<ul>
							<li data-index="0">
								<div class="item-wrap">
									<div class="item-thumb">
										<img src="/static-images/gallery-grid-1-lrg.jpg">
									</div>
								</div>
							</li>
							<li data-index="1">
								<div class="item-wrap">
									<div class="item-thumb">
										<img src="/static-images/gallery-grid-2-lrg.jpg">
									</div>
								</div>
							</li>
							<li data-index="2">
								<div class="item-wrap">
									<div class="item-thumb">
										<img src="/static-images/gallery-grid-3-lrg.jpg">
									</div>
								</div>
							</li>
							<li data-index="3">
								<div class="item-wrap">
									<div class="item-thumb">
										<img src="/static-images/gallery-grid-1-lrg.jpg">
									</div>
								</div>
							</li>
							<li data-index="4">
								<div class="item-wrap">
									<div class="item-thumb">
										<img src="/static-images/gallery-grid-2-lrg.jpg">
									</div>
								</div>
							</li>
							<li data-index="5">
								<div class="item-wrap">
									<div class="item-thumb">
										<img src="/static-images/gallery-grid-3-lrg.jpg">
									</div>
								</div>
							</li>
						</ul>
					</div>

					<div class="peripheral-links">
						<div class="load-more">
							<a href="#" class="button-arrow down-motion">
								<span>Load more images</span>
								<svg class="icon icon-chevron-down"><use xlink:href="#icon-chevron-down"></use></svg>
							</a>
							<div class="show-count">Currently Showing <span class="count">*</span> of <span class="num-images">*</span></div>
						</div>
						<div class="action-bar">
							<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg> Share Gallery</a>
							<a href="#" class="button close"><svg class="icon icon-close"><use xlink:href="#icon-close"></use></svg> Close <span>Gallery</span></a>
						</div>
					</div>
	    		</div>
			</div>

		</div>
    </section>
	<p>Some epic after content</p>
	<p>Some epic after content</p>

</div>

<div class="screen-overlay">
	<div class="upper">
		<a href="#" class="close">
			<svg class="icon icon-close"><use xlink:href="#icon-close"></use></svg>
		</a>
	</div>
</div>

<div class="hide">
	<!-- NOTE: BED return result - for Modal gallery view -->
	<div id="gallery-1" class="slider active">
		<div class="content">
			<span class="showcase">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="/static-images/lightbox-1-xlrg.jpg" media="(min-width: 1000px)">
				<source srcset="/static-images/lightbox-1-med.jpg" media="(min-width: 641px)">
				<!--[if IE 9]></video><![endif]-->
				<img srcset="/static-images/lightbox-1-sml.jpg">
			</span>
			<div class="body">
				<div class="inner-wrap">
					<div class="copy">
						<div class="item-count">1 of 54</div>
						<div class="item-title">True Detective - Another shot from on set</div>
						<div class="item-description">This is now the description of the image above and it get’s hidden by default but the user can scroll down to see the full information</div>
						<div class="item-credit">Credit: Andrew baker</div>
					</div>
				</div>
			</div>
			<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg></a>
		</div>
		<div class="content">
			<span class="showcase">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="/static-images/lightbox-2-xlrg.jpg" media="(min-width: 1000px)">
				<source srcset="/static-images/lightbox-2-med.jpg" media="(min-width: 641px)">
				<!--[if IE 9]></video><![endif]-->
				<img srcset="/static-images/lightbox-2-sml.jpg">
			</span>
			<div class="body">
				<div class="inner-wrap">
					<div class="copy">
						<div class="item-count">2 of 54</div>
						<div class="item-title">True Detective - A guy starting at you</div>
						<div class="item-description">This is a description of an intense stare of this guy... This is a description of an intense stare of this guy... This is a description of an intense stare of this guy... This is a description of an intense stare of this guy... This is a description of an intense stare of this guy...</div>
						<div class="item-credit">Credit: Sandra Bullock</div>
					</div>
				</div>
			</div>
			<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg></a>
		</div>
		<div class="content">
			<span class="showcase">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="/static-images/lightbox-3-lrg.jpg" media="(min-width: 1000px)">
				<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
				<!--[if IE 9]></video><![endif]-->
				<img srcset="/static-images/lightbox-3-sml.jpg">
			</span>
			<div class="body">
				<div class="inner-wrap">
					<div class="copy">
						<div class="item-count">1 of 54</div>
						<div class="item-title">True Detective - Another shot from on set</div>
						<div class="item-description">This is now the description of the image above and it get’s hidden by default but the user can scroll down to see the full information</div>
						<div class="item-credit">Credit: Andrew baker</div>
					</div>
				</div>
			</div>
			<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg></a>
		</div>
		<div class="content exclude">
			<div class="mrec">
				<a href="http://www.google.com.au" target="_blank"><img src="/static-images/mrec.png" alt="" /></a>
			</div>
		</div>
		<div class="content">
			<span class="showcase">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="/static-images/lightbox-1-xlrg.jpg" media="(min-width: 1000px)">
				<source srcset="/static-images/lightbox-1-med.jpg" media="(min-width: 641px)">
				<!--[if IE 9]></video><![endif]-->
				<img srcset="/static-images/lightbox-1-sml.jpg">
			</span>
			<div class="body">
				<div class="inner-wrap">
					<div class="copy">
						<div class="item-count">1 of 54</div>
						<div class="item-title">True Detective - Another shot from on set</div>
						<div class="item-description">This is now the description of the image above and it get’s hidden by default but the user can scroll down to see the full information</div>
						<div class="item-credit">Credit: Andrew baker</div>
					</div>
				</div>
			</div>
			<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg></a>
		</div>
		<div class="content">
			<span class="showcase">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="/static-images/lightbox-2-xlrg.jpg" media="(min-width: 1000px)">
				<source srcset="/static-images/lightbox-2-med.jpg" media="(min-width: 641px)">
				<!--[if IE 9]></video><![endif]-->
				<img srcset="/static-images/lightbox-2-sml.jpg">
			</span>
			<div class="body">
				<div class="inner-wrap">
					<div class="copy">
						<div class="item-count">2 of 54</div>
						<div class="item-title">True Detective - A guy starting at you</div>
						<div class="item-description">This is a description of an intense stare of this guy... This is a description of an intense stare of this guy... This is a description of an intense stare of this guy... This is a description of an intense stare of this guy... This is a description of an intense stare of this guy...</div>
						<div class="item-credit">Credit: Sandra Bullock</div>
					</div>
				</div>
			</div>
			<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg></a>
		</div>
	</div>
	<!-- NOTE: END BED return result - for Modal gallery view -->
	<div id="gallery-2" class="slider active">
		<div class="content">
			<span class="showcase">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="/static-images/lightbox-1-xlrg.jpg" media="(min-width: 1000px)">
				<source srcset="/static-images/lightbox-1-med.jpg" media="(min-width: 641px)">
				<!--[if IE 9]></video><![endif]-->
				<img srcset="/static-images/lightbox-1-sml.jpg">
			</span>
			<div class="body">
				<div class="inner-wrap">
					<div class="copy">
						<div class="item-count">1 of 54</div>
						<div class="item-title">True Detective - Another shot from on set</div>
						<div class="item-description">This is now the description of the image above and it get’s hidden by default but the user can scroll down to see the full information</div>
						<div class="item-credit">Credit: Andrew baker</div>
					</div>
				</div>
			</div>
			<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg></a>
		</div>
		<div class="content">
			<span class="showcase">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="/static-images/lightbox-2-xlrg.jpg" media="(min-width: 1000px)">
				<source srcset="/static-images/lightbox-2-med.jpg" media="(min-width: 641px)">
				<!--[if IE 9]></video><![endif]-->
				<img srcset="/static-images/lightbox-2-sml.jpg">
			</span>
			<div class="body">
				<div class="inner-wrap">
					<div class="copy">
						<div class="item-count">2 of 54</div>
						<div class="item-title">True Detective - A guy starting at you</div>
						<div class="item-description">This is a description of an intense stare of this guy... This is a description of an intense stare of this guy... This is a description of an intense stare of this guy... This is a description of an intense stare of this guy... This is a description of an intense stare of this guy...</div>
						<div class="item-credit">Credit: Sandra Bullock</div>
					</div>
				</div>
			</div>
			<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg></a>
		</div>
		<div class="content">
			<span class="showcase">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="/static-images/lightbox-3-lrg.jpg" media="(min-width: 1000px)">
				<source srcset="/static-images/lightbox-3-med.jpg" media="(min-width: 641px)">
				<!--[if IE 9]></video><![endif]-->
				<img srcset="/static-images/lightbox-3-sml.jpg">
			</span>
			<div class="body">
				<div class="inner-wrap">
					<div class="copy">
						<div class="item-count">1 of 54</div>
						<div class="item-title">True Detective - Another shot from on set</div>
						<div class="item-description">This is now the description of the image above and it get’s hidden by default but the user can scroll down to see the full information</div>
						<div class="item-credit">Credit: Andrew baker</div>
					</div>
				</div>
			</div>
			<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg></a>
		</div>
		<div class="content exclude">
			<div class="mrec">
				<a href="http://www.google.com.au" target="_blank"><img src="/static-images/mrec.png" alt="" /></a>
			</div>
		</div>
		<div class="content">
			<span class="showcase">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="/static-images/lightbox-1-xlrg.jpg" media="(min-width: 1000px)">
				<source srcset="/static-images/lightbox-1-med.jpg" media="(min-width: 641px)">
				<!--[if IE 9]></video><![endif]-->
				<img srcset="/static-images/lightbox-1-sml.jpg">
			</span>
			<div class="body">
				<div class="inner-wrap">
					<div class="copy">
						<div class="item-count">1 of 54</div>
						<div class="item-title">True Detective - Another shot from on set</div>
						<div class="item-description">This is now the description of the image above and it get’s hidden by default but the user can scroll down to see the full information</div>
						<div class="item-credit">Credit: Andrew baker</div>
					</div>
				</div>
			</div>
			<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg></a>
		</div>
		<div class="content">
			<span class="showcase">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="/static-images/lightbox-2-xlrg.jpg" media="(min-width: 1000px)">
				<source srcset="/static-images/lightbox-2-med.jpg" media="(min-width: 641px)">
				<!--[if IE 9]></video><![endif]-->
				<img srcset="/static-images/lightbox-2-sml.jpg">
			</span>
			<div class="body">
				<div class="inner-wrap">
					<div class="copy">
						<div class="item-count">2 of 54</div>
						<div class="item-title">True Detective - A guy starting at you</div>
						<div class="item-description">This is a description of an intense stare of this guy... This is a description of an intense stare of this guy... This is a description of an intense stare of this guy... This is a description of an intense stare of this guy... This is a description of an intense stare of this guy...</div>
						<div class="item-credit">Credit: Sandra Bullock</div>
					</div>
				</div>
			</div>
			<a href="#" class="button share"><svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg></a>
		</div>
	</div>
</div>