
.contact-us .submitted input.ng-invalid,
.contact-us .submitted select.ng-invalid,
.contact-us .submitted textarea.ng-invalid  {
    color:#cb0000;
    border-color:#cb0000
}

.contact-us .submitted .invalidFile {
    color:#cb0000;
}

.contact-us .err {
    background:#cb0000;
    color:#fff;
}

.contact-us .success {
    background:green;
    color:#fff;
}

.contact-us .lbl-required:before {
    color:#cb0000;
}

button#btn-cancel.cta-rounded, button#btn-cancel.cta-rounded:hover {
    color:#2675aa;
}
