
.contact-us .form-row {
    margin:0 0 15px 0;
}

.contact-us input:not([type='file']),
.contact-us select,
.contact-us textarea {
    border:solid 1px #ccc;
    border-radius:5px;
    outline:none;
}

.contact-us input[type='file'] {
    opacity:0;
    -moz-opacity: 0;
    -ms-filter: "alpha(opacity=0)";

}

.contact-us .form-row label:not(.fake-input) {
     margin-top:10px;
}

.contact-us .form-row label.fake-input {
    font-weight:normal;
    display:inline-block;
    margin-top:0;
    font-size:12px;
    cursor:pointer;
    background:#c7c8ca !important;
    color:#000 !important;
    border-color:#c7c8ca !important;
    padding-right:18px;
    padding-left:18px;
    text-align:center;
}

.contact-us .form-row label.fake-input:after {
    background:none !important;
}

.contact-us .form-row label.fake-input:hover {
    background:#000 !important;
    color:#c7c8ca !important;
    border-color:#c7c8ca !important;
}

.attach-container {
    width: 80%;
}

.attach-container label.fake-input {
    float:left;
    width:60%; 
}

.contact-us .attach-container .form-label {
    float:right;
    width:40%;
    padding-top:0;
    margin:-50px 0 0 0;
    padding-left:10px;
}

.contact-us .btns .cta-rounded {
    margin-top:0;
}

.contact-us input,
.contact-us select,
.contact-us textarea {
    margin-bottom:6px;
    height:44px;
}

.contact-us textarea {
    height:100px;
}

.contact-us input:not([type='file']),
.contact-us select,
.contact-us textarea,
.contact-us .submitted .invalidFile {
    -webkit-border-radius:5px;
}

.contact-us .submitted input.ng-invalid,
.contact-us .submitted select.ng-invalid,
.contact-us .submitted textarea.ng-invalid  {
    color:#cb0000;
}

.contact-us .invalidFile {
    color:#cb0000;
}

.contact-us .form-row:last-child {
    position:relative;
}

.contact-us .form-row span,
.contact-us .form-row label,
.contact-us .form-row input,
.contact-us .form-row select,
.contact-us .form-row textarea {
    display:block;
}

.contact-us .form-row input,
.contact-us .form-row select,
.contact-us .form-row textarea,
.contact-us .err.err-msg,
.contact-us .btns
{
    width:80%;
}


.contact-us .form-row input,
.contact-us .form-row select,
.contact-us .form-row textarea {
    float:left;
    margin-right:6px;
}

.contact-us .err    {
    float:left;
    position:relative;
    padding:3px 15px;
    min-width:25px;
    border-radius:5px;
    -webkit-border-radius:5px;
    z-index:2;
    min-height:44px;
}

.contact-us .err.err-msg    {
    padding:14px 12px 12px 25px;
    font-size:11px;
}

.contact-us .err:before {
    display:block;
    width:6px;
    height:18px;
    content:' ';
    position:absolute;
    left:12px;
    top:13px;
    background:url(../../../images/sprite-icons.png) no-repeat 0 -85px;
}

.contact-us .err.err-msg.err-summary {
    position:relative;
    left:0;
    width:80%;
    padding-left:39px;
}

.contact-us .err.err-msg.err-summary:before {
    background:url(../../../images/sprite-icons.png) no-repeat -6px -85px;
    width:20px;
}

.contact-us .lbl-required {
    position:relative;
}

.contact-us .lbl-required:before {
    content: '* ';
    position:absolute;
    margin:0px 0 0 -5px;
}

.contact-us button.cta-rounded {
    font-size:14px;
}

.contact-us .btns button {
}

a.btn-blue.cta-rounded, a.btn-blue.cta-rounded:hover, 
button.btn-blue.cta-rounded, button.btn-blue.cta-rounded:hover {
    background:none;
    border:0;
    padding-left:0;
    padding-right:0px;
}

button.btn-blue.cta-rounded:after, a.btn-blue.cta-rounded:after {
    background:none;
}

.contact-us .form-label {
    clear:both;
    font-size:11px;
    padding-top:6px;
}

.contact-us .text-right.lbl-required {
    font-size:12px;
    width:80%;
}

.contact-us .btns #btn-cancel {
    float:left;
    font-weight:bold;
}

.contact-us .btns #btn-submit {
    float:right;
}

.contact-finish p, .contact-finish h3 {
    margin-bottom:20px;
}

.message-sent {
}

.message-sent:before {
    content:' ';
    display:inline-block;
    background: url(../../../images/sprite-icons.png) no-repeat -111px -39px;
    width: 50px;
    height: 40px;
    margin-right:15px;
}

ul.file-list {
    list-style:none;
    margin:0;
    padding:10px 0 0 0;
}

.file-list li {
    padding:0 0 10px 0;
    background:none;
    height:30px;
    clear:both;
}

.file-list span, .file-list a {
    display:block;
    width:40%;
    float:left;
    font-size:12px;
}

.file-list a {
    text-align:center;
    font-weight:bold;
}

@media screen and (max-width: 977px) {
    .contact-us .col-xs-12 {
        padding-left:0;
        margin-left:0;
        padding-right:0;
    }

    .contact-us .form-row input,
    .contact-us .form-row select,
    .contact-us .form-row textarea,
    .contact-us .err.err-msg,
    .contact-us .btns,
    .contact-us .err.err-msg.err-summary,
    .contact-us .text-right.lbl-required,
    .contact-us .btns,
    .attach-container {
        width:100%;
    }
}

@media screen and (min-width: 768px) {

    .attach-container label.fake-input {
        width:40%; 
    }

    .contact-us .attach-container .form-label {
        width:60%;
    }
}

@media screen and (min-width: 978px) {
    .contact-us .form-row label:not(.fake-input) {
        text-align:right;
    }

    .contact-us .err {
        position:absolute; 
        height:44px;
        left:80%;
    }

    .contact-us .err.err-msg {
        width:auto;
        padding-right:6px;
        cursor:pointer;
    }

    .contact-us .err.err-msg:hover {
        width:300px;
        padding:14px 12px 12px 25px;
    }

    .contact-us .err.err-msg.err-summary:hover {
        width:80%;
        cursor:auto;
        padding-left:39px
    }

    .contact-us .err.err-msg span {
        display:none;
    }

    .contact-us .err.err-msg:hover span {
        display:block;
    }
}
