<div class="container-single-column bfeature">
	<div class="container-wrapper">
		<div class="container-content">
			<div class="row">
				<article>
					<a href="#">
						<picture>
							<img src="/static-images/b-feat-2.jpg" alt="" />
						</picture>
						<div class="label"><span>Latest</span></div>
						<p>Ken Rodgers spills the beans on the new Pixar rele&hellip;</p>
					</a>
				</article>
				<article>
					<a href="#">
						<picture>
							<img src="/static-images/b-feat-3.jpg" alt="" />
						</picture>
						<div class="label"><span>Article</span></div>
						<p>How Kung Fu Panda revolutionised the world of CGI BGI</p>
					</a>
				</article>
				<article>
					<a href="#">
						<picture>
							<img src="/static-images/b-feat-4.jpg" alt="" />
						</picture>
						<div class="label"><span>Cinema</span></div>
						<p>Sully gets scared</p>
					</a>
				</article>
				<article>
					<a href="#">
						<picture>
							<img src="/static-images/b-feat-5.jpg" alt="" />
						</picture>
						<div class="label"><span>wwwwwwwwwwwwww</span></div>
						<p>Ratatouille gets the top spot at anime awards nig&hellip;</p>
					</a>
				</article>
			</div>
		</div>
	</div>
</div>