/* */
#cboxLoadedContent .t-and-c-button
{
	background-color: #2D2D2D;
	border: 1px solid #000000;
	-moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,1);
	-webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 1px rgba(0,0,0,1);
	background-image: -o-linear-gradient(90deg , rgb(53,53,53) 0%, rgb(67,67,67) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(53,53,53) 0%, rgb(67,67,67) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(53,53,53) 0%, rgb(67,67,67) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(53,53,53) 0%, rgb(67,67,67) 100%);
	background-image: linear-gradient(90deg , rgb(53,53,53) 0%, rgb(67,67,67) 100%);
	color: #FDFFFD;
	text-shadow: rgba(0,0,0,1) 0px 1px 0px;
	cursor: pointer;
}

#cboxTitle:after {
	content: '.';
	background-color: white;
	height: 42px;
	float: right;
	margin-top: -4px;
}

#cboxLoadedContent .t-and-c-buttons a {
	display: block;
	width: 120px;
	height: 35px;
	border-radius: 4px;
	text-align: center;
	line-height: 35px;
	text-decoration: none;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 10pt;
}

#cboxLoadedContent .button-left
{
	float:left;
	margin-left: 10px;
	margin-bottom: 10px;
}

#cboxLoadedContent .button-right
{
	float:right;
	margin-right: 10px;
	margin-bottom: 10px;
} 

#lightbox-content
{
	display:none;
}

@media screen and (min-width: 369px)
{
	#cboxLoadedContent .body
	{
		min-height: 355px;
	}
}

@media screen and (max-width: 369px)
{
	#cboxLoadedContent .button-left
	{
		float:right;
		margin-right: 10px;
		margin-left: 10px;
        margin-top: 0px;
	}

	#cboxLoadedContent .button-right
	{
		float:right;
		margin-right: 10px;
		margin-left: 10px;
        margin-top: 0px;
	} 

	#cboxLoadedContent .t-and-c-buttons a
	{
		width:90%;
	}

    #cboxLoadedContent .body
	{
		min-height: 325px;
	}
}

