.carousel-indicators li,
.carousel-indicators .active {
    background-color: #797979;
}

.carousel-indicators .active {
    background-color: #ffcc00;
}

.hero-banner.black-bg .carousel-text {
    color:#fff;
}

.hero-banner .carousel-text h1 {
    color:#000;
}

.hero-banner.black-bg .carousel-text h1 {
    color:#ffcc00;
}

.hero-banner .carousel-controls {
    border-color:grey;
    background:#000;
}
