.carousel-indicators li,
.carousel-indicators .active {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    border: none;
    margin: 0 5px;
    background: none;
    padding: 0;
}

/* content */
.content-module .carousel-indicators {
    bottom: -20px;
    z-index: 2;
}

/* hero */
.hero-banner {
    position:relative;
}

.hero-banner .carousel .container {
    position:relative;
    min-height:222px;
}

.hero-banner .carousel .item {
  opacity: 0;
  -webkit-transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
  -ms-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
  left: 0 !important;
}

.hero-banner .carousel .item.active {
  opacity: 1;
}

.hero-banner .carousel .item.active.left {
  opacity: 0;
  -webkit-transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
  -ms-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
  left: 0 !important;
}

.hero-banner .item img {
    display:none; 
    /* NB: 'Mobile-first' (don't display image; this is overridden in media queries below for images to display for larger viewports...) */
}

.hero-banner .carousel-text {
    width:100%;
    height:100%;
    top:0;
    z-index:2;
    width:100%;
    padding:60px 30px 20px 0;
}

.hero-banner .carousel-text h1 {
    margin: 0 0 13px -3px;
}

.hero-banner .carousel-controls {
    position:absolute;
    bottom:0;
    left:50%;
    z-index:3;
    width:100px;
    border-style: solid;
    border-width:1px;
    height: 25px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.hero-banner .carousel-controls[data-list-length="1"] {
    width:60px;
	margin-left:-30px;
}

.hero-banner .carousel-controls[data-list-length="2"] {
    width:80px;
	margin-left:-40px;
}

.hero-banner .carousel-controls[data-list-length="3"] {
    width:100px;
	margin-left:-50px;
}

.hero-banner .carousel-controls[data-list-length="4"] {
    width:120px;
	margin-left:-60px;
}

.hero-banner .carousel-controls[data-list-length="5"] {
    width:140px;
	margin-left:-70px;
}

.hero-banner .carousel-button {
    display:block; 
    width:10px; 
    height:10px; 
    background-image:url(../../../images/sprite-icons.png);
    background-repeat:no-repeat;
    float:left;
    position:inherit;
    bottom:5px;
    left:15px;
    background-position: -87px -12px;
}

.hero-banner .carousel-button.paused {
    background-position: -97px -12px;
}

.hero-banner .carousel-inner {
    min-height:222px;
}

.hero-banner .carousel-controls .carousel-indicators {
    bottom:0;
    float:left;
    position:inherit;
    width:auto;
    margin:0;
    left:15px;
    margin-left:15px;
    bottom:5px;
}

.hero-banner .carousel-controls .carousel-indicators li {
    width:10px;
    height:10px;
    border-right:10px;
    float:left;
}

@media screen and (max-width: 767px) {
    .hero-banner .carousel-text {
        padding-right:60px;
    }

    .hero-banner a.cta-rounded {
        margin-bottom:10px;
    }
}

@media screen and (max-width:978px) {
    .hero-banner .carousel-text h1.small-heading, 
    .hero-banner .carousel-text [class*="header-h1"] 
    {
        font-size:48px;
    }

    .hero-banner .carousel-text h3.small-heading, 
    .hero-banner .carousel-text [class*="header-h3"] 
    { 
		font-size:16px;
    }
}

@media screen and (max-width:599px) 
{
	.hero-banner .carousel-text {
		padding-top: 20px
    }
}

@media screen and (min-width: 768px) {
    .hero-banner .carousel-text {
        padding:60px 20px 60px 0;
        width:50%;
        position:absolute;
    }

    .hero-banner .item img {
        display:block; margin-left:-210px;
    }
}

@media screen and (min-width: 978px) {
    .hero-banner .item img {
        margin-left:0;
    }
}
