@import "../../../../../../etc/designs/foxtel/common/clientlibs/scss/includes/includes";

$nav-item-hpadding: 15px;
$nav-item-vpadding: 5px;
$nav-item-lheight: 1;
$nav-item-height: 35px;

.secondarynavigation {
  position: relative;
  z-index: 1;
}

.navigation .primary-nav {
  &.secondary-nav {
    background: $dark-color;
    margin-bottom: 0;
    .nav-bar {
      li {
        a {
          font-size: rem-calc(15);
          @include media-query($large-up) {
            font-size: rem-calc(16);
          }
        }
        &.active {
          border-top: 2px solid $light-color;
        }
      }
    }
  }
  &.tertiary-nav {
    background: $light-color;
    border-bottom: 1px solid #cecece;
    .show-more {
      display: block;
      color: #444;
      background: #f2f2f2;
      font-size: rem-calc(14);
      line-height: 55px;
      position: relative;
      @include column-gutters;
      .icon {
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -11px;
        fill: inherit;
        width: 14px;
        @include transition(all 0.3s);
      }
      &.active {
        border-bottom: 1px solid #d1d1d1;
        .icon {
          @include rotate(-180deg);
        }
        & + .nav-bar {
          display: block;
        }
      }
      @include media-query($large-up) {
        display: none;
      }
    }
    .nav-bar {
      white-space: normal;
      background: #e5e5e5;
      @include column-gutters;
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(8);
      display: none;
      @include clearfix;
      @include media-query($large-up) {
        background: $light-color;
        padding-top: 0;
        padding-bottom: 0;
        height: 55px;
        display: block;
        margin-bottom: 1px;
      }

      li {
        float: left;
        width: 50%;
        margin: 0;
        padding: 0;
        margin-bottom: 2px;
        @include media-query($large-up) {
          width: auto;
          height: 55px;
          line-height: 55px;
          float: none;
          margin-right: 48px;
        }

        a {
          //height: 55px;
          display: block;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.5);
          @include media-query($large-up) {
            font-size: 15px;
          }
        }
        &.active {
          a {
            color: rgba(0, 0, 0, 0.5);
            @include media-query($large-up) {
              border-bottom: 2px solid $dark-color;
              color: $dark-color;
            }
          }
        }
      }
    }
  }
}

/*
// old stuff below
.secondary-nav {
  margin-bottom: 40px;
  a {
    text-decoration: none;
    //color: $secondary-navigation-primary-color;
    @include media-query($large-up) {
      a:hover {
        color: shade($secondary-navigation-background-color, 50%);
      }
    }
  }
  .nav2 {
    margin: 10px 0;
    padding-left: $nav-item-hpadding;
  }
  .nav3-group {
    border-bottom: 1px solid;
    border-top: 1px solid;
    height: $nav-item-height;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    .nav3-item {
      float: left;
      list-style-type: none;
      text-transform: capitalize;
      margin: 0 $nav-item-hpadding;
      padding: $nav-item-vpadding 0;
      cursor: pointer;
      .nav4-group {
        position: absolute;
        top: 35px;
        left: 0;
        width: 100%;
        background: $secondary-navigation-background-color;
        .nav4-item {
          color: $secondary-navigation-primary-color;
          border-bottom: 1px solid;
          cursor: pointer;
          padding: $nav-item-vpadding $nav-item-hpadding;
          &:nth-child(1) {
            @include media-query($large-up) {
              display: none;
            }
          }
          .fa-chevron-down {
            line-height: 1.7;
          }
          a {
            color: $secondary-navigation-primary-color;
          }
          @include media-query($large-up) {
            display: inline-block;
            border: none;
            .fa-arrow-circle-down {
              display: none;
            }
          }
        }
        .nav4-item.nav4-item-active {
          background: $secondary-navigation-primary-color;
          color: $secondary-navigation-background-color;
          a {
            color: $secondary-navigation-background-color;
          }
          .fa-arrow-circle-down {
            color: $secondary-navigation-background-color;
          }
        }
      }
    }
    .nav3-item.nav3-item-active {
      background: $secondary-navigation-primary-color;
      color: $secondary-navigation-background-color;
      a {
        color: $secondary-navigation-background-color;
      }
    }
    .more-arrow {
      position: absolute;
      right: 10px;
      top: 10px;
      @include media-query($large-up) {
        display: none;
      }
    }
  }
}*/