
.page-nav
{
    background-color: #ffcc00;
}

.page-nav input[type="text"] {
    border-color: #ccc;
}

.page-nav input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
.page-nav input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
.page-nav input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
.page-nav input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}

.page-nav li a {
    color: #000;
}

.page-nav .nav li.active a, html[data-useragent*="MSIE"] .page-nav .nav li a:active {
    color: #ffcc00;
    background-color: #000;
    position: relative;
}

/* MOBILE NAV (FIXED TO RHS) */
.page-nav-mob a.toggle {
    color:#ffcc00;
    background:#000;
    border-color:#fff;
}

.page-nav-mob a.toggle:after {
    content: ' ';
    display: block;
    position:absolute;
    width: 18px;
    height: 18px;
    background-image:url(../../../images/sprite-icons.png);
    background-repeat:no-repeat;
    top:8px;
    left:13px;
}

.page-nav-mob a.toggle:hover {
    text-decoration:none;
}

.page-nav-mob a.toggle.plus:after {
    background-position:-69px 0;
}

.page-nav-mob a.toggle.minus:after {
    background-position:-69px -18px;
}

.page-nav-mob .panel {
}

.page-nav-mob .panel .list-group-item {
    background:#ffcc00;
    border-color:#414243;
}

.page-nav-mob .panel .list-group-item:first-child {
    border-top:none
}

.page-nav-mob .panel .list-group-item:hover {
    background:#000;
}

.page-nav-mob .panel .list-group-item:hover a {
    background:#000; color:#ffcb05;
}

.page-nav-mob .panel .list-group-item a {
    color:#231f20;
}

.page-nav-mob .panel .list-group-item a:hover {
    text-decoration:none;
}

.page-nav-mob .panel .list-group-item a:after {
    content: ' ';
    display: block;
    position:absolute;
    width: 6px;
    height: 10px;
    background: url(../../../images/sprite-icons.png) no-repeat -58px -84px;
    top:13px;
    right:0;
}

.page-nav-mob .panel .list-group-item:hover a:after {
    content: ' ';
    display: block;
    position:absolute;
    width: 6px;
    height: 10px;
    background: url(../../../images/sprite-icons.png) no-repeat -17px 0;
    top:13px;
    right:0;
}
