
.page-nav {
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    z-index: 6;
    position: relative;
}

.page-nav.affix {
    position: fixed;
    top: 57px;
}

.page-nav.padding {
    padding: 27px 0;
}

.page-nav input[type="text"] {
    width: 27%;
    height: 44px;
    margin-right: 15px;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
}

.page-nav .cta-rounded:link {
    margin-top: 28px;
}

.page-nav button.cta-rounded {
    margin-top: 0;
}

.page-nav select {
    width: 100%;
    font-size: 16px;
}

.page-nav .col {
    width: auto;
}

.page-nav .col.cta-180 {
    width: 193px;
    padding-left: 11px;
    vertical-align: top;
}

.page-nav .nav {
    margin: 0;
    width: auto;
}

.page-nav ul li.col {
    width: auto;
    padding: 0;
    background: none;
}

.page-nav .nav li a {
    display: block;
    width: 150px;
    height: 98px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    font-size: 16px;
    padding: 0 5px;
}

.page-nav .nav > li > a:focus {
    color:inherit;
    background:inherit;
}

.page-nav.filter li a {
    height: 65px;
}

.page-nav li a:hover {
    text-decoration: none;
}

.page-nav li.active a:after, html[data-useragent*="MSIE"] .page-nav li a:active:after {
    content: ' ';
    width: 18px;
    height: 8px;
    display: block;
    background: url(../../../images/sprite-icons.png) no-repeat -19px -65px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -9px;
}

@media (max-width: 767px) {
    .page-nav.affix {
        top: 45px;
    }

    .page-nav input[type="text"].width-100-xs {
        width: 100%;
        margin-bottom: 19px;
    }

    .page-nav .hide-xs {
        display: none;
    }

    .page-nav .sbHolder {
        min-width: initial;
    }
}

@media (min-width: 768px) {
    .page-nav .inline-block-sm {
        display: inline-block;
        width: auto;
        vertical-align: top;
        margin-left: 12px;
    }

    .page-nav .inline-block-sm .col {
        vertical-align: top;
    }

    .page-nav .inline-block-sm select {
        min-width: 286px;
    }
}

@media (min-width: 768px) and (max-width: 1140px) {
    .page-nav.hidden-xs .container {
        padding-left:0;
    }
        
    .page-nav .nav li a {
        width: 117px;
    }
}

/* MOBILE NAV (FIXED TO RHS) */
.page-nav-mob {
    position:fixed;
    right:0;
    top:150px;
    z-index:11;
    width:234px;
}

.page-nav-mob-inner {
    position:relative;
    width:234px;
}


.page-nav-mob a.toggle {
    display:block;
    position:absolute;
    right:0;
    top:0;
    width:45px;
    height:53px;
    text-align:center;
    border-style:solid;
    border-width:1px;
    border-right:0;
    font-weight:bold;
    padding-top:31px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    bottom:0;
    font-size:10px;
}

.page-nav-mob[data-list-length="2"] a.toggle {
    margin-top:54px;
}

.page-nav-mob[data-list-length="3"] a.toggle {
    margin-top:106px;
}

.page-nav-mob[data-list-length="4"] a.toggle {
    margin-top:158px;
}

.page-nav-mob[data-list-length="5"] a.toggle {
    margin-top:210px;
}

.page-nav-mob.expanded a.toggle {
    right:186px;
}

.page-nav-mob.collapsed a.toggle {
    right:0;
}

.page-nav-mob .panel {
    position:absolute;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-right:0;
    width:186px;
    top:0;
}

.page-nav-mob.expanded .panel {
    right:0;
}

.page-nav-mob.collapsed .panel {
    right:-186px;
}


.page-nav-mob .panel .list-group-item {
    height:53px;
}

.page-nav-mob .panel .list-group-item a {
    display:block;
    padding:5px 15px;
    position:relative;
}

.page-nav-mob .panel .list-group-item:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

@media screen and (max-height: 479px) {
    .page-nav-mob {
        top: 50px;
    }
}
