/* */
.top-page a {
    display: none;
    width: 90px;
    height: 36px;
    padding-top: 10px;
    padding-left: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid #fff;
    border-bottom-width: 0;
    position: fixed;
    display: none;
    bottom: 0;
    left: 50%;
    margin: 0 auto;
    margin-left: -45px;
}

.top-page a:after {
    content: ' ';
    width: 18px;
    height: 11px;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    margin-left: -9px;
    background: url(../../../images/sprite-icons.png) no-repeat -15px -10px;
}

.top-page a:hover {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .top-page a {
        left:inherit;
        right: 0;
        bottom: 20%;
        width: 45px;
        height: 90px;
        padding-top: 54px;
        text-align: center;
        -webkit-border-bottom-left-radius: 15px;
        -webkit-border-top-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -moz-border-radius-bottomleft: 15px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
        border-right: none;
        padding-left:0;
        border-bottom-width: 2px;
    }

    .top-page a:after {
        content: ' ';
        width: 18px;
        height: 11px;
        display: block;
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -9px;
    }
}