@font-face {
    font-family: 'aachen_promedium';
    src: url('aachenpro-bold-webfont.eot');
    src: url('aachenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('aachenpro-bold-webfont.woff') format('woff'),
         url('aachenpro-bold-webfont.ttf') format('truetype'),
         url('aachenpro-bold-webfont.svg#aachen_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aachen_promedium';
    src: url('aachenpro-medium-webfont.eot');
    src: url('aachenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('aachenpro-medium-webfont.woff') format('woff'),
         url('aachenpro-medium-webfont.ttf') format('truetype'),
         url('aachenpro-medium-webfont.svg#aachen_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: Arial,sans-serif,"Helvetica Neue",Helvetica;
    color: #000;
}

mark {
    background: #ffc20e;
    font-weight: bold;
    padding: 2px;
}

input[type="text"] {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.wrapper {
    overflow: hidden;
}

.page-left {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;

    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.page-right {
    position: relative;
}

.page-left,
.page-right {
    -webkit-transition: -webkit-transform .3s ease 0s;
    -ms-transition: -ms-transform .3s ease 0s;
    transition: transform .3s ease 0s;
}

.module-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
}

.mega-nav-active .module-overlay,
.reveal-left .module-overlay {
    display: block;
}

.container {
    width: 100%;
}

.width-85pc {
    width: 85%;
}

html[data-useragent*="MSIE"] .pagenav-anchor {
	display: block;
	position: relative;
	bottom: -10px;
	line-height: 0;
	height: 0;
}


html[data-useragent*="MSIE 8"] .container {
    width: 100% !important;
}

[data-ng-cloak] {
    display: none;
}


/**************** HEADERS ***************/

h1 {
    font-size: 68px;
    font-family: aachen_promedium;
    line-height: 0.8em;
    font-weight: normal;
    letter-spacing: -2px;
}

h2 {
    font-size: 36px;
    margin: 0 0 30px 0;
}

h3 {
    font-size: 20px;
    margin-top: 0;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

h5 {
	font-size: 14px;
    font-weight: bold;
}

h6 {
    font-size: 12px;
    font-weight: bold;  
}

[class*="header-h1"]
{
	font-size: 68px;
	font-family: aachen_promedium;
    line-height: 0.8em;
    font-weight: normal;
    letter-spacing: -2px;
}
[class*="header-h2"]
{
	font-size:36px;
}
[class*="header-h3"]
{
	font-size:20px;
}
[class*="header-h4"]
{
	font-weight: bold;
	font-size:16px;
}
[class*="header-h5"]
{
	font-weight: bold;
	font-size:14px;
}

[class*="header-h6"]
{
	font-weight: bold;
	font-size:12px;
}

[class*="header-h1"] a
{
	font-size: 68px;
	font-family: aachen_promedium;
    line-height: 0.8em;
    font-weight: normal;
    letter-spacing: -2px;
}
[class*="header-h2"] a
{
	font-size:36px;
	margin: 0 0 30px 0;
}
[class*="header-h3"] a
{
	margin-top: 0;
	font-size:20px;
}
[class*="header-h4"] a
{
	font-size:16px;
    font-weight: bold;
}
[class*="header-h5"] a
{
	font-size:14px;
    font-weight: bold;
}
[class*="header-h5"] a
{
	font-size:12px;
    font-weight: bold;
}

/**************** END HEADERS ***************/
/**************** COLORS  *******************/


[class*='color-black'] 
{
	color:#000000;
}
[class*='color-blue'] 
{
	color:#2675aa;
}
[class*='color-yellow'] 
{
	color:#FFCB05;
}
[class*='color-dark-grey'] 
{ 
	color:#77787B;
}
[class*='color-light-grey'] 
{
	color:#F1F1F2;
}
[class*='color-white'] 
{
	color:#FFFFFF;	
}

/* [class*='color-black'] a */
/* { */
/* 	color:#000000; */
/* } */
/* [class*='color-blue'] a  */
/* { */
/* 	color:#2675aa; */
/* } */
/* [class*='color-yellow'] a */
/* { */
/* 	color:#FFCB05; */
/* } */
/* [class*='color-dark-grey'] a */
/* {  */
/* 	color:#77787B; */
/* } */
/* [class*='color-light-grey'] a */
/* { */
/* 	color:#F1F1F2; */
/* } */
/* [class*='color-white'] a */
/* { */
/* 	color:#FFFFFF;	 */
/* } */

/**************** END COLORS  *******************/

#CQrte
{
    background-color:#97d2ff;
    background-image:none !important;
}


/* Added class to define the icon for insert an icon */
#CQ .x-html-editor-tb .x-edit-inserticon {
    background: url(/etc/designs/commsec/images/icons/16x16/icon.png) center no-repeat !important;
}

#CQ option
{
	font-size: 14px !important;
	color: black !important;
	letter-spacing: 0px !important;
}

small {
    font-size: 10px;
    line-height: 1em;
    letter-spacing: -0.5px;
}

a:hover {text-decoration:underline;}

a:hover, a:focus {
    color: #2675aa;
}

ul, ol {
    padding-left: 0;
    list-style: none;
}

ul li {
    padding-left: 15px;
}

.black-bg ul li {
    color: #aaa;
}

.black-bg ul li, .black-bg ol li {
    background-position: 0 -603px;
}

.width-70-30 td:first-child {
    width: 70%;
}

.width-70-30 th:first-child {
    width: 70%;
}


.width-70-30 td:last-child {
    width: 30%;
}

.width-70-30 th:first-child {
    width: 30%;
}


.width-30-70 td:first-child {
    width: 30%;
}

.width-30-70 th:first-child {
    width: 30%;
}

.width-10-90 td:first-child {
    width: 10%;
}

.width-10-90 th:first-child {
    width: 10%;
}

select, textarea, input[type="text"],
input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 25px;
    padding: 4px 9px;
}

input[type="submit"] {
    background: #ffc20e;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ffc20e;
    font-weight: bold;
}

select {
    height: 44px;
    line-height: 44px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 9px;
}

.list-inline > li {
    padding-left: 0;
    padding-right: 0;
}

.css-table {
    display: table;
    width: 100%;
}

.css-table .col {
    display: table-cell;
}

/* For sticky element functionality */
*[data-spy="affix"] {
    top: 0;
}

.black-bg {
    background-color: #000;
}

.white-bg {
    background-color: #fff;
}

.black-bg p {
    color:#aaa;
}

.light-grey-bg {
    background-color: #f2f2f2;
}

.dark-grey-bg {
    background-color: #231f20;
}

.dark-grey-bg p {
    color:#fff;
}

.cta-rounded:link, .cta-rounded:visited, button.cta-rounded, label.fake-input.cta-rounded {
    display: inline-block;
    border: 2px solid #000;
    color: #ffc20e;
    background: #000;
    -webkit-border-radius: 44px;
    border-radius: 44px;
    font-size: 16px;
    padding: 0 37px 0 18px;
    line-height: 40px;
    margin-top: 20px;
    position: relative;
    text-decoration:none;
}

.cta-rounded:active, .cta-rounded:hover, label.fake-input.cta-rounded:hover {
    color: #000;
    background: #ffc20e;
    text-decoration: none;
}

.cta-rounded::after {
    display: block;
    content: ' ';
    width: 7px;
    height: 12px;
    position: absolute;
    top: 14px;
    right: 17px;
    background:url(../../images/sprite-icons.png) no-repeat -87px 0;

}

.cta-rounded:hover:after {
    background-position:-94px 0;
}

.cta-rounded[disabled] {
    color: #969696;
    background: #767676;
    border-color: #767676;
}

.cta-rounded[disabled]:after {
    background-position: -101px 0;
}

.cta-rounded.btn-yellow {
    border-color: #ffcc00;
}

.cta-rounded.btn-yellow:hover {
    color: #000;
    text-decoration: none;
}

/* generic styling */
.bdr-btm {
    border-bottom-style:solid;
    border-bottom-width:1px;
}

.bdr-302c2d {
    border-bottom-color:#302c2d;
}

.bdr-e5e5e5 {
    border-bottom-color:#e5e5e5;
}

/* images */
.img-circle.img-circle-cba {
    border:solid 1px #ffcc00;
}

.panel-cba {
    border:0;
    box-shadow:none;
    -webkit-box-shadow:none;
    background:none;
}

.panel-cba .panel-heading {
    border-radius:10px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    background:#ffcc00;
}

.panel-cba h1, .panel-cba h2, .panel-cba h3, .panel-cba {
    color:#000 !important;
}

.panel-cba .panel-body {
    border-radius:10px;
    border-top-right-radius:0;
    border-top-left-radius:0;
    background:#fff2bf;
    padding:15px !important;
}

.panel-cba h1, .panel-cba h2, .panel-cba h3, .panel-cba h4 {
    margin:0 !important; padding:12px !important; font-weight:bold;
}

.black-bg .panel-cba li {
    background-position: 0 7px;
    color: #000;
}

.panel-cba li:not(:last-child) {
    margin-bottom:10px;
}

.pagination-cba {
    padding: 0 15px;
}

.pagination-cba .arrow-left,
.pagination-cba .arrow-right {
    background: #8d8d8d;
    width: 27px;
    height: 27px;
    display: block;
    padding: 0;
    position: relative;
    top: -1px;
}

.pagination-cba .list-inline .arrow-left,
.pagination-cba .list-inline .arrow-right {
    padding: 0;
    border: none;
}

.pagination-cba .arrow-left:before,
.pagination-cba .arrow-right:after {
    background: url(../../images/sprite-icons.png) no-repeat -80px -75px;
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 8px 0 0 0;
}

.pagination-cba .arrow-right:after {
    background-position: -67px -75px;
}

.pagination-cba .arrow-left.first:before {
    background-position: -70px -86px;
}

.pagination-cba .arrow-right.last:after {
    background-position: -80px -86px;
}

.pagination-cba .list-inline {
    display: inline-block;
    margin-right: -4px;
}

.pagination-cba .list-inline li {
    background: none;
    padding: 0;
}

.pagination-cba .list-inline li a {
    margin-right: 5px;
    padding: 6px 10px 5px 9px;
    border: 1px solid #ffcc00;
}

.pagination-cba .list-inline li.active a {
    background: #ffcc00;
    color: #000;
}

.top-result {
    background: #ececec;
    padding: 26px 0;
}

.top-result .text-right {
    margin-bottom: -20px;
}

.top-result .text-right h3 {
    display: inline-block;
    vertical-align: super;
    margin-bottom: 0;
}

.top-result .feedback {
    clear: both;
    max-height: 0px;
    margin-top: 20px;
    overflow: hidden;
    -webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}

.top-result .feedback.show {
    max-height: 180px;
}

.top-result .feedback input[type="text"] {
    width: 100%;
    height: 42px;
    border: 1px solid #a5a5a5;
}

.top-result .feedback .css-table {
    margin-bottom: 9px;
}

.top-result .feedback .col {
    width: auto;
    padding: 0;
    vertical-align: top;
}

.top-result .col.submit {
    width: 180px;
    text-align: right;
}

.top-result .col.submit button {
    width: 156px;
    margin: 0 0 0 10px;
    cursor: pointer;
}

.rb-replace {
    display: none;
}

.rb-replace + label {
    background: url(../../images/sprite-icons.png) no-repeat -111px 0;
    width: 50px;
    height: 40px;
    margin: 20px 0 0 30px;
    cursor: pointer;
}

.rb-replace.answer-no + label {
    background-position: -111px -80px;
}

.rb-replace:checked + label {
    background-position: -111px -40px;
}

.rb-replace.answer-no:checked + label {
    background-position: -111px -120px;
}

html[data-useragent*="MSIE 8"] label.yes {
    background-position: -111px -40px;
}

html[data-useragent*="MSIE 8"] label.no {
    background-position: -111px -120px;
}

.feedback input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
.feedback input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
.feedback input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
.feedback input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}

.label {
    display:inline-block;
}

iframe
{
    width:100%;
}

/* NOTE: Add media specific common styles here */
@media screen and (max-width: 767px) {
    body {
        padding: 0;
    }

    .page-left {
        display: block;
    }

    .reveal-left .page-left {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .reveal-left .page-right {
        -webkit-transform: translate3d(70%, 0, 0);
        -ms-transform: translate3d(70%, 0, 0);
        transform: translate3d(70%, 0, 0);
    }

    .container {
        padding: 0 15px 0 15px;
    }

    .page-nav .container {
        padding: 0 15px;
        min-height: 98px;
    }

    .pagination-cba .arrow-left,
    .pagination-cba .arrow-right {
        top: -4px;
    }

    .top-result .feedback .col {
        display: block;
    }

    .top-result .col.submit {
        width: 100%;
        margin-top: 20px;
    }

    *[data-text-trans]:before {
        content: attr(data-text-trans);
    }

    *[data-text-trans] span {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    *[data-text-trans-tablet]:before {
        content: attr(data-text-trans-tablet);
    }

    *[data-text-trans-tablet] span {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1140px) {
    .top-result.col-md-9 {
        margin-right: 29px;
    }
}

@media screen and (min-width: 768px) and (max-width: 977px) {
	.col-sm-3 {
        width: 50% !important;
    }
    
 	.col-sm-3:nth-child(odd){
        clear:left;
    }
}

@media screen and (min-width: 1140px) {
    .container {
        max-width: 1170px;
    }

    *[data-text-trans]:before,
    *[data-text-trans-tablet]:before {
        content: '';
    }

    *[data-text-trans-tablet] span {
        display: block;
    }
}

@media print
{
	.login,
	.global-nav,
	.content-image img,
	.cta-rounded,
	.page-nav
	{
		display:none !important;;
	}
	
	/*bootstrap print override */
	a[href]:after {
	  content: "" !important;
	}
	abbr[title]:after {
	  content: "" !important;
	}
	
	[class*="header-h1"]
	{
		font-size: 30px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	[class*="header-h2"]
	{
		font-size:30px;
	}
	
	h1
	{
		font-size: 30px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	h2
	{
		font-size:30px;
	}
	
	.content-module {
		padding: 0 0 0 0;
	}
	
}
