.mobile-page-template .content-module
{
	padding: 0 0 0 0;
}

.mobile-page-template .container
{
	padding: 0 15px 0 15px;
}

.active-login-icon:after
{
	background: url(../../images/sprite-icons.png) no-repeat -90px -75px !important;
}