/* */
.panel-group {
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.panel-group .panel + .panel {
    margin: 0;
}

.panel-group .panel,
.panel-heading {
    border: none;
    border-radius: 0;
    padding: 0;
}

.panel-default > .panel-heading {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 )"; /* IE6-9 */
}

.panel-default > .panel-heading:last-child {
    border: none;
}

.panel-title > a {
    display: block;
    padding: 14px 50px 14px 14px;
    text-decoration: none;
}

.panel-title {
    position: relative;
}

.panel-title > a:after {
    content: ' ';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 21px;
    background: url(../../../images/sprite-icons.png) no-repeat 0 -45px;
}

.panel-title > a.collapsed:after {
    background-position: 0 -24px;
}


.panel-title > a:hover,
.panel-title > a:active {
    text-decoration: none;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    border: none;
    border-bottom: 1px solid #e5e5e5;
}
