/**
 * Styles for header/search component.
 */

@import "../../../../../../etc/designs/foxtel/common/clientlibs/scss/includes/includes";

$default-border-color: #bcbcbc;
$secondary-border-color: #cbcbcb;
$default-button-color: #010101;
$arrow-gradient-color: #e3e3e3;
$li-height: 176px;
$li-med-height: 250px;
$li-xlrg-height: 460px;
$default-loading-bg-color: rgba(0, 0, 0, 0.06);
$loader-size: 27px;
$loader-size-lrg: 45px;

.component-imagegallery {
	margin: 0;
	p {
		font-size: rem-calc(14);
	}
	.gallery-copy {
		position: relative;
		.heading-gallerytitle {
			font-size: rem-calc(22);
			margin-bottom: rem-calc(13);
			display: block;
			@include media-query($xlarge-up) {
				font-size: rem-calc(30);
				line-height: rem-calc(36);
				margin-bottom: rem-calc(12);
			}
		}
		.galleryintro {
			display: none;
			@include media-query($medium-up) {
				display: block;
				margin-bottom: rem-calc(23);
				max-width: 330px;
			}

			@include media-query($large-up) {
				max-width: 430px;
			}

			@include media-query($xlarge-up) {
				max-width: 660px;
			}
		}
		.gallery-sort {
			@include clearfix;
			margin-bottom: rem-calc(14);
			@include media-query($medium-up) {
				position: absolute;
				bottom: 0;
				right: 0;
				margin-bottom: rem-calc(7);
			}

			.pill-tabs {
				float: left;
				@include media-query($medium-up) {
					float: right;
				}

				.pill-tab {
					border-right: 1px solid #ababab;
					&:hover {
						color: $dark-color;
					}
					&.active {
						border-right-color: #000;
						&:hover {
							color: $light-color;
						}
					}
					.icon {
						width: 14px;
						margin-bottom: -6px;
					}
				}
			}
			.gallery-count {
				border-left: 1px solid $default-border-color;
				margin-left: rem-calc(15);
				padding-left: rem-calc(15);
				float: left;
				@include media-query($medium-up) {
					border-left: none;
					border-right: 1px solid $default-border-color;
					margin-right: rem-calc(20);
					padding-right: rem-calc(20);
				}

				p {
					margin-bottom: 0;
					line-height: 32px;
					color: #777;
				}
			}
		}
	}
	.button-arrow {
		color: $default-button-color;
		border-color: $default-border-color;
		width: auto;
	}
	.gallery {
		display: none;
		margin-bottom: rem-calc(14);
		clear: both;
		position: relative;
		@include media-query($xlarge-up) {
			margin-bottom: rem-calc(30);
		}

		ul {
			@include clearfix;
			margin: 0;
			list-style: none;
			/* not sure about using this, nested elements inherit it */
			white-space: nowrap;
			li {
				@include clearfix;
				display: inline-block;
				vertical-align: top;
				padding-right: rem-calc(10);
				margin-right: -3px;
				position: relative;
				white-space: normal;
				height: $li-height;
				&:last-child {
					//padding-right: 0;

				}
				@include media-query($medium-up) {
					height: $li-med-height;
				}

				@include media-query($xlarge-up) {
					height: $li-xlrg-height;
					padding-right: rem-calc(30);
				}

				&.mrec {
					display: none;
					text-align: center;
					padding: 0;
					@include media-query($xlarge-up) {
						line-height: $li-xlrg-height;
					}

					.item-wrap {
						border: 1px solid #d3d3d3;
						background: url(/static-images/mrec-bg.png);
						padding: rem-calc(16) rem-calc(20) rem-calc(11);
						margin-right: rem-calc(10);
						height: 100%;
						@include media-query($xlarge-up) {
							margin-right: rem-calc(30);
						}
					}
				}
				.item-wrap {
					position: relative;
					overflow: hidden;
					height: 100%;
					.item-thumb {
						height: 100%;
						cursor: pointer;
					}
				}
				img {
					max-height: 100%;
					height: $li-height;
					@include media-query($medium-up) {
						height: $li-med-height;
					}

					@include media-query($xlarge-up) {
						height: $li-xlrg-height;
					}
				}
				picture {
					overflow: hidden;
					display: inline-block;
					position: relative;
					.icon-loader {
						position: absolute;
						top: 50%;
						left: 50%;
						width: $loader-size;
						height: $loader-size;
						margin-top: -$loader-size / 2;
						margin-left: -$loader-size / 2;
					}
				}
				&.loaded {
					picture {
						.icon-loader {
							display: none;
						}
					}
				}
				.gallery-item-copy {
					display: none;
					.gallery-item-position {
						display: none;
					}
					.gallery-item-title {
						margin-bottom: rem-calc(3);
						line-height: 1.3;
					}
					.gallery-item-body {
						display: none;
					}
					.gallery-item-credit {
						font-size: rem-calc(12);
						color: #777;
						line-height: 1.3;
					}
					.button.view {
						display: none;
					}
				}
			}
		}
		&.loading {
			li:last-child {
				&:after {
					content: ' ';
					position: absolute;
					top: 50%;
					background: url(/etc/designs/foxtel/common/clientlibs/images/small-ajax-loader.gif);
					background-repeat: no-repeat;
					background-position: center center;
					left: 50%;
					width: rem-calc(35);
					height: rem-calc(35);
					border-radius: 100%;
					border: 1px solid #d1d1d1;
					background-color: $light-color;
					margin-left: rem-calc(-17.5);
					margin-top: rem-calc(-17.5);
					font-family: $font-family_heading-secondary;
					color: #888;
					z-index: 1000;
					opacity: 1;
				}
			}
		}
		.arrows {
			display: none;
		}
	}
	.load-more {
		@include clearfix;
		margin-bottom: rem-calc(15);
		border-top: 1px solid #d6d6d6;
		border-bottom: 1px solid #d6d6d6;
		padding-top: rem-calc(18);
		padding-bottom: 0;
		display: none;
		@include media-query($medium-up) {
			margin-bottom: rem-calc(19);
			border-top: none;
			padding-top: 0;
		}

		.button-arrow {
			margin-bottom: rem-calc(16);
			margin-right: rem-calc(30);
			margin-top: 0;
		}
		.show-count {
			font-size: rem-calc(13);
			font-style: italic;
			color: #777;
			line-height: 36px;
			display: none;
			@include media-query($medium-up) {
				display: block;
			}
		}
	}
	.button.close {
		display: none;
		float: right;
		svg {
			width: 9px;
			height: 9px;
			margin-right: 2px;
		}
	}
	.button {
		margin-bottom: 0;
		width: auto;
		&.share {
			svg {
				width: 11px;
				height: 11px;
				margin-bottom: -1px;
				margin-right: 2px;
			}
			span {
				display: none;
			}
		}
		&.view {
			letter-spacing: 2px;
			border-color: $light-color;
			padding: rem-calc(8) rem-calc(17);
		}
	}
	&[data-active-view="default"] {
		.gallery {
			&.slider {
				display: block;
				.container-wrapper {
					overflow: visible;
				}
			}
			ul {
				cursor: url(/etc/designs/foxtel/common/clientlibs/cursors/cursor_grabber.png) 16 2, col-resize;
				cursor: url(/etc/designs/foxtel/common/clientlibs/cursors/cursor_grabber.cur), col-resize;
				li {
					picture {
						width: 300px;
						overflow: hidden;
						background: $default-loading-bg-color;
						@include transition(all 0.5s);
						@include media-query($xlarge-up) {
							width: 600px;
						}

						img {
							@include transition(all 2s);
							opacity: 0;
						}
					}
					&.loaded {
						picture {
							background: none;
							width: 100%;
							img {
								opacity: 1;
							}
						}
						.gallery-item-copy {
							display: block;
						}
					}
					.gallery-item-copy {
						@include media-query($xlarge-up) {
							@include transition(all 0.5s);
							//display: block;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							text-align: center;
							opacity: 0;
							background-color: rgba(0, 0, 0, 0);
							padding: rem-calc(160) rem-calc(20) rem-calc(150);
							.cursor-wrap {
								cursor: pointer;
								max-width: 70%;
								margin: auto;
							}
						}

						.gallery-item-position {
							font-size: rem-calc(13);
							font-style: italic;
							color: #fff;
							color: rgba(255, 255, 255, 0.5);
							margin-bottom: rem-calc(10);
							display: inline-block;
						}
						.gallery-item-title {
							@include media-query($xlarge-up) {
								color: #fff;
								font-size: rem-calc(24);
								margin: 0 auto rem-calc(18);
								white-space: initial;
								max-width: 260px;
							}
						}
						.button.view {
							display: inline-block;
						}
						.gallery-item-credit {
							display: none;
						}
						.button {
							background-color: #fff;
							text-transform: uppercase;
						}
						.share {
							position: absolute;
							right: 20px;
							bottom: 20px;
							border: none;
						}
					}
					&:hover,
					&.hover {
						img {
							@include media-query($xlarge-up) {
								@include scale(1.05);
							}
						}
						.gallery-item-copy {
							@include media-query($xlarge-up) {
								//display: block;
								opacity: 1;
								background-color: rgba(0, 0, 0, 0.3);
								padding-top: rem-calc(150);
							}
						}
					}
					&.mrec:hover {
						img {
							@include scale(1);
						}
					}
				}
			}
			@include media-query($xlarge-up) {
				.arrows {
					display: block;
					.arrow {
						position: absolute;
						top: 0;
						bottom: 0;
						width: 140px;
						@include horizontal-gradient($arrow-gradient-color, transparent);
						&.next {
							display: block;
							right: 0;
							@include horizontal-gradient(transparent, $arrow-gradient-color);
							.button-wrap {
								left: auto;
								right: 30px;
							}
						}
						&:hover {
							.button-wrap {
								opacity: 1;
							}
							svg {
								display: inline;
							}
						}
						.button-wrap {
							padding: 6px;
							width: 34px;
							height: 34px;
							@include box-shadow(0 0 0 2px rgba(0, 0, 0, 0.3) inset);
							@include radius(100%);
							@include transition(opacity 0.5s);
							opacity: 0;
							position: absolute;
							top: 50%;
							left: 30px;
							margin-top: -18px;
							text-align: center;
						}
						svg {
							width: 7px;
						}
					}
				}
			}
		}
		&.is-scrolling {
			.gallery {
				ul {
					li:hover {
						img {
							@include media-query($xlarge-up) {
								@include scale(1);
							}
						}
						.gallery-item-copy {
							@include media-query($xlarge-up) {
								opacity: 0;
							}
						}
					}
				}
				.arrows {
					display: none;
				}
			}
		}
		&.at-start .gallery .arrows {
			.arrow.prev {
				display: none;
			}
		}
		&.at-end .gallery .arrows {
			.arrow.next {
				display: none;
			}
		}
	}
	&[data-active-view="list"] {
		.gallery {
			&.list {
				display: block;
				&.load-complete ~ .peripheral-links {
					.load-more {
						display: none;
						@include media-query($large-up) {
							display: block;
						}

						.button-arrow {
							display: none;
						}
					}
				}
			}
			@include media-query($medium-up) {
				margin-bottom: 0;
			}

			ul {
				li {
					display: block;
					height: auto;
					padding-right: 0;
					padding-bottom: rem-calc(21);
					picture {
						display: block;
						background: $default-loading-bg-color;
						height: 300px;
						overflow: hidden;
						@include transition(all 0.5s);
						@include media-query($large-up) {
							float: left;
							width: 65%;
						}

						img {
							margin-bottom: rem-calc(11);
							height: auto;
							max-height: none;
							width: 100%;
							opacity: 0;
							@include transition(all 2s);
							&:hover {
								opacity: 0.9;
							}
						}
					}
					&.loaded {
						picture {
							background: none;
							height: 100%;
						}
						img {
							opacity: 1;
						}
					}
					&.mrec {
						padding-bottom: rem-calc(32);
						@include media-query($large-up) {
							line-height: 0;
						}

						.item-wrap {
							margin-right: 0;
							@include media-query($large-up) {
								width: 65%;
							}

							img {
								margin-bottom: 0;
							}
						}
					}
					.gallery-item-copy {
						display: block;
						position: relative;
						min-height: 34px;
						@include media-query($large-up) {
							border-top: 1px solid $secondary-border-color;
							float: right;
							width: 33%;
							padding-top: rem-calc(28);
						}

						@include media-query($xlarge-up) {
							padding-right: rem-calc(44);
						}

						.cursor-wrap {
							display: inline-block;
							max-width: 80%;
							@include media-query($large-up) {
								max-width: none;
							}
						}
						.gallery-item-position {
							@include media-query($large-up) {
								display: block;
								font-size: rem-calc(16);
								font-weight: bold;
								margin-bottom: rem-calc(14);
								color: $dark-color;
								color: rgba(0, 0, 0, 0.3);
							}
						}
						.gallery-item-title,
						.gallery-item-credit {
							display: block;
						}
						.gallery-item-title {
							@include media-query($large-up) {
								font-size: rem-calc(18);
								font-family: $font-family_heading-tertiary;
								margin-bottom: rem-calc(9);
							}
						}
						.gallery-item-body {
							@include media-query($large-up) {
								display: block;
								margin-bottom: rem-calc(17);
							}
						}
						.gallery-item-credit {
							@include media-query($large-up) {
								margin-bottom: rem-calc(38);
								font-style: italic;
							}
						}
						.button {
							float: right;
							@include media-query($large-up) {
								float: none;
							}

							&.share {
								span {
									@include media-query($large-up) {
										display: inline-block;
									}
								}
							}
						}
					}
				}
			}
		}
		.load-more,
		.button.close {
			display: block;
		}
		&.load-complete {
			.load-more .button-arrow {
				display: none;
			}
		}
	}
	&[data-active-view="grid"] {
		.gallery {
			display: none;
			&.grid {
				display: block;
				padding-top: rem-calc(10);
				@include clearfix;
				@include media-query($medium-up) {
					padding-top: rem-calc(22);
				}

				&.load-complete ~ .peripheral-links {
					.load-more {
						display: none;
						@include media-query($large-up) {
							display: block;
						}

						.button-arrow {
							display: none;
						}
					}
				}
			}
			@include media-query($medium-up) {
				margin-bottom: 0;
			}

			ul {
				@include block-grid($per-row: 2, $spacing: 16px);
				@include media-query($medium-up) {
					@include block-grid($per-row: 3, $spacing: 24px);
				}

				@include media-query($xlarge-up) {
					@include block-grid($per-row: 4, $spacing: 30px);
				}

				li {
					margin-right: 0;
					img {
						height: auto;
						@include transition(opacity 0.5s);
						&:hover {
							opacity: 0.9;
						}
					}
				}
			}
		}
		.load-more,
		.button.close {
			display: block;
		}
	}
	// Dont show hover state when moving slider
}

$offset-edge: 15px;
$offset-edge-lrg: 72px;

.screen-overlay {
	@include transition(width 0s linear, height 0s linear, opacity 0.4s ease-in);
	background: $dark-color;
	opacity: 0;
	position: fixed;
	z-index: 20000;
	top: 0;
	right: 0;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	&.visible {
		width: 100%;
		height: 100%;
		opacity: 1;
		.icon,
		.close,
		button {
			display: block;
		}
	}
	&.scrolled-down {
		.content {
			.body {
				@include translate(0, -106%);
			}
		}
	}
	.icon,
	.close,
	button {
		display: none;
	}
	.icon,
	.close,
	.share,
	button {
		opacity: 0.75;
		@include transition(opacity 0.5s);
		&:hover,
		&.hover {
			background: none;
			opacity: 1;
		}
	}
	.icon.circled {
		@include box-shadow(0 0 0 2px #666 inset);
	}
	.upper {
		@include column-gutters;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		left: 0;
		.close {
			position: absolute;
			top: 54px;
			right: $offset-edge;
			color: $light-color;
			padding: 11px;
			border: 2px solid #666;
			@include radius(26px);
			svg {
				width: 19px;
				height: 19px;
			}
			@include media-query($xlarge-up) {
				right: $offset-edge-lrg;
			}
		}
	}
	.slider {
		margin: 0;
		width: 100%;
		height: 100%;
		display: none;
		&.active {
			display: block;
		}
		.slick-list,
		.slick-track {
			height: 100%;
		}
		.slick-prev,
		.slick-next {
			display: none !important;
			z-index: 2;
			width: 45px;
			height: 45px;
			color: $light-color;
			border: 2px solid #666;
			padding: 8px;
			@include radius(100%);
			&:before {
				display: none;
			}
			svg {
				width: 26px;
				position: relative;
			}
		}
		.slick-prev {
			left: $offset-edge-lrg;
		}
		.slick-next {
			right: $offset-edge-lrg;
		}
		.slick-slide {
			position: relative;
			picture {
				&.loaded {
					img {
						opacity: 1;
					}
					.icon-loader {
						display: none;
					}
				}
				img {
					display: inline-block;
					opacity: 0;
					@include media-query($xlarge-up) {
						@include transition(opacity 0.5s ease-in);
					}
				}
				.icon-loader {
					position: absolute;
					top: 50%;
					left: 50%;
					width: $loader-size-lrg;
					height: $loader-size-lrg;
					margin-top: -$loader-size-lrg / 2;
					margin-left: -$loader-size-lrg / 2;
					color: $light-color;
				}
			}
		}
	}
	.content {
		width: 100%;
		height: 100%;
		.mrec {
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-50%, -50%);
		}
		span.showcase {
			display: none;
		}
		span.showcase + .body {
			display: none;
		}
		.showcase {
			position: absolute;
			top: 0;
			bottom: 0;
			text-align: center;
			vertical-align: middle;
			width: 100%;
			height: 100%;
			img {
				max-height: 100%;
				//opacity: 0;
				margin: 0 auto;
				position: relative;
				top: 50%;
				@include translate(0, -50%);
				//IPhone 6+ targetting ~ images weren't going 100% width
				@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
					width: 100%;
				}
				//IPhone 5 targetting ~ images weren't going 100% width
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
					height: 100%;
				}
			}
		}
		picture {
			display: block;
			text-align: center;
		}
		.body-wrap {
			&:after {
				/* FF3.6+ */
				background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 1) 100%);
				/* Chrome,Safari4+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(95%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
				/* Chrome10+,Safari5.1+ */
				background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 1) 100%);
				/* Opera 11.10+ */
				background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 1) 100%);
				/* IE10+ */
				background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 1) 100%);
				/* W3C */
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 1) 100%);
				/* IE6-9 */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
				content: ' ';
				display: block;
				height: 35px;
				position: absolute;
				//top: 55px;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: 10;
				@include translate3d(0, 0, 0);
				//display: none;
				@include media-query($xlarge-up) {
					height: 55px;
				}
			}
			&:hover {
				.body {
					@include translate(0, -106%);
				}
			}
		}
		.body {
			width: 100%;
			position: absolute;
			top: 100%;
			right: 0;
			left: 0;
			padding: rem-calc(20) 0;
			min-height: 120px;
			//opacity: 0;
			@include vertical-gradient(transparent, $dark-color);
			@include transition(all 0.3s);
			@include translate(0, -120px);
			@include media-query($xlarge-up) {
				text-align: center;
			}

			&:hover {
				@include translate(0, -106%);
			}
			.inner-wrap {
				@include column-gutters;
				@include media-query($xlarge-up) {
					max-width: 640px;
					margin: 0 auto;
					position: static;
				}

				.copy {
					padding-right: 50px;
					//@include transition(all 0.2s ease-out);
					@include media-query($xlarge-up) {
						padding-right: 0;
					}
				}
				&:hover {
					.copy {
						//@include translate(0, -50%);

					}
				}
				.item-count {
					color: #444;
					color: rgba(255, 255, 255, 0.4);
					font-size: rem-calc(12);
					@include media-query($xlarge-up) {
						font-size: rem-calc(14);
						margin-bottom: rem-calc(8);
					}
				}
				.item-title {
					color: $light-color;
					line-height: 1.3;
					@include media-query($xlarge-up) {
						font-size: rem-calc(18);
						margin-bottom: rem-calc(8);
					}
				}
				.item-description {
					color: #aaa;
					font-size: rem-calc(13);
					font-style: italic;
					line-height: 1.5;
					margin-bottom: rem-calc(4);
					@include media-query($xlarge-up) {
						font-size: rem-calc(16);
					}
				}
				.item-credit {
					color: #777;
					font-size: rem-calc(13);
				}
			}
		}
		.share {
			position: absolute;
			right: $offset-edge;
			bottom: $offset-edge;
			color: $light-color;
			padding: rem-calc(14);
			border: none;
			@include radius(100%);
			@include box-shadow(0 0 0 2px #666 inset);
			@include media-query($xlarge-up) {
				bottom: $offset-edge-lrg;
				right: $offset-edge-lrg;
			}

			&:hover {
				background: inherit;
			}
			.icon {
				margin: 0;
				width: 17px;
				height: 17px;
			}
		}
	}
	&.loaded {
		.body {}
	}
}

.no-touch {
	.screen-overlay .showcase {
		@include media-query($xlarge-up) {
			padding: 0 $offset-edge-lrg * 2;
		}
	}
	.screen-overlay.visible .slider .slick-next,
	.screen-overlay.visible .slider .slick-prev {
		display: block !important;
	}
}

// Required to fix display bugs in IE 8-9 with lightbox view
.ie8,
.ie9 {
	.screen-overlay {
		.content {
			.showcase,
			.body {
				position: static;
			}
		}
	}
}

.ie9 {
	.component-imagegallery[data-active-view=default] {
		.gallery .arrows .arrow {
			filter: none;
			background: $arrow-gradient-color;
		}
	}
}