
.form-login legend {
    color:#ffcc00;
}

.form-login input {
    background:#333;
    color:#fff;
}

.form-login ::-webkit-input-placeholder {
   color: #fff;
}

.form-login :-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.form-login ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.form-login :-ms-input-placeholder {  
   color: #fff;  
}

.hidden-submit
{
	visibility:hidden;
}
