
.download {
    list-style:none;
    margin:0 0 30px 0;
    padding:0;
}

.download li {
    float:left;
}

.download li:first-child {
    margin-right:15px;
}

.form-login legend {
    border:0;
}

.form-login fieldset {
    margin-bottom:15px; 
}

.form-login input {
    width:100%; 
    border:solid 1px #333;
    outline:none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height:30px;
}
 
.global-nav a.nav-login:after { 
    background: url(../../../images/sprite-icons.png) no-repeat -90px -75px; 
}
