/**
 * Styles for header/search component.
 */

@import "../../../../../../etc/designs/foxtel/common/clientlibs/scss/includes/includes";

$header-primary-color: #181818;

// TEMP: REMOVE LATER
#search-content {
	display: none;
}

.browser-upgrade {
	text-align: center;
	padding: 40px;
	p {
		font-size: rem-calc(18);
	}
}

.header-main {
	background: $header-primary-color;
	position: relative;
	z-index: 3000;
	display: block;
	//@include column-gutters;
	//padding-top: 25px;
	//padding-bottom: 23px;
	@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
	@at-root 	.wings & {
		@include media-query($wing-media-query) {
			padding-left: $wing-width;
			padding-right: $wing-width;
		}
	}
	.search-wrap {
		max-width: rem-calc($row-width);
		margin: 0 auto;
		@include column-gutters;
		padding-top: 25px;
		padding-bottom: 24px;
		@include media-query($large-up) {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.inner-wrap {
			@include clearfix;
		}
	}
	@include media-query($medium-up) {
		z-index: 4001;
	}

	.initial {
		@include clearfix;
		position: relative;
		//right: 0;
		@include media-query($large-up) {
			float: left;
			padding: 0;
		}

		.main-logo {
			float: left;
			@include media-query($large-up) {
				line-height: 60px;
			}

			img {
				max-width: rem-calc(240);
				@include media-query($medium-up) {
					max-width: rem-calc(260);
				}
			}
			& + label {
				float: right;
				line-height: 1;
				opacity: 1;
				padding-top: 3px;
				color: #5e5e5e;
				@include transition(opacity 0.2s);
				@include media-query($large-up) {
					display: none;
				}

				.icon {
					width: 26px;
					height: 26px;
				}
			}
		}
	}
	@at-root 	.search-active .header-main {
		@include translate3d(-100%, 0, 0);
		@include media-query($large-up) {
			@include translate3d(0, 0, 0);
		}
	}
	@at-root 	.search-active .header-main .initial {
		//right: 110%;
		@include media-query($large-up) {
			right: 0;
		}

		label {
			opacity: 0;
		}
	}
	#search-container {
		@include clearfix;
		@include media-query($large-up) {
			//padding-top: 21px;
			//padding-bottom: 19px;
		}
	}
	.search {
		@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
		@include backface-visibility(hidden);
		@include translate3d(0, 0, 0);
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 100%;
		background-color: $light-color;
		padding-top: 21px;
		padding-bottom: 20px;
		margin-bottom: 0;
		@include media-query($large-up) {
			@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
			background-color: #181818;
			float: right;
			position: static;
			padding: 0;
			width: 67px;
			height: 60px;
			//background: none !important;
			input[type=text] {
				height: 60px;
			}
			.btn-reset {
				@include transition(opacity 0.6s ease-out);
				opacity: 0;
				z-index: 1;
				visibility: hidden;
			}
		}

		.search-area {
			margin-bottom: 0;
			.search-show {
				text-align: center;
				@include transition(opacity 1s);
				opacity: 0;
				cursor: pointer;
				z-index: 2;
			}
			@include media-query($large-up) {
				.search-field {
					display: none;
				}
				.search-show {
					top: 17px;
					opacity: 1;
				}
				.btn-reset {
					top: 17px;
				}
			}
		}
		.twitter-typeahead {
			padding-bottom: 21px;
			@include media-query($large-up) {
				padding-bottom: 0;
				@include box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.1));
			}
		}
		.tt-dropdown-menu {
			background: #fff;
			border: none;
			margin-top: -13px;
			padding-top: 8px;
			@include media-query($large-up) {
				margin-top: 0;
			}

			.tt-suggestion:first-child {
				border-top: 1px solid #e5e5e5;
			}
			@include media-query($large-up) {
				background: #fcfcfc;
				@include box-shadow(0 3px 5px 0 rgba(0, 0, 0, 0.1));
				.tt-suggestion:first-child {
					border-top: none;
				}
			}
		}
	}
	@at-root 	.search-active .header-main .search {
		//left: 0;
		background-color: $light-color;
		.search-show {
			opacity: 1;
			cursor: default;
		}
		@include media-query($large-up) {
			width: 430px;
			padding: 0;
			background-color: $light-color;
			.btn-reset {
				opacity: 1;
				visibility: visible;
			}
			.search-field {
				display: block;
			}
		}
	}
}

.blurred-content {
	position: relative;
	&:after {
		@include transition(background-color 1s);
		content: ' ';
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		visibility: hidden;
	}
}

.search-active {
	.blurred-content {
		/*-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
		filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
		filter: url(blur.svg#blur);*/
		&:after {
			//display: block;
			visibility: visible;
			background: rgba(0, 0, 0, 0.3);
		}
	}
	.globalnavigation.navigation .primary-nav {
		z-index: 2000;
	}
}

// Search PAGE specific styling

$search-correction-bgcolor: #fffae2;
$search-correction-color: #444;
$body-line-height: 1.5;

.heading-resultsfor {
	font-size: rem-calc(14);
	display: inline-block;
	color: $search-correction-color;
	@include media-query($large-up) {
		font-size: rem-calc(16);
		margin-bottom: rem-calc(13);
		margin-top: rem-calc(32);
	}
}

.search {
	input[type="text"] {
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		border: none;
		font-size: 24px;
		@include box-shadow(none);
		&:focus {
			background: none;
		}
		//required for IE
		&::-ms-clear {
			display: none;
		}
	}
	button[type="reset"] {
		background: none;
		margin: 0;
		padding: 1px 0 0 0;
		outline: none;
		color: #7f7f7f;
		background-color: $light-color;
		width: 27px;
		@include transition(all 0.5s);
		@include radius(100%);
		&.clear {
			//@include transition(background-color 0.5s);
			background-color: #b2b2b2;
			color: $light-color;
			.icon-close {
				@include scale(0.7);
			}
		}
		.icon-close {
			@include transition(all 0.5s);
			position: relative;
			top: 2px;
		}
	}
}

.search-page {
	h4 {
		font-size: rem-calc(16);
		@include transition(opacity 0.3s);
		@include media-query($large-up) {
			font-size: rem-calc(21);
			font-weight: normal;
		}

		@include media-query($xlarge-up) {
			font-size: rem-calc(24);
			font-weight: normal;
		}

		&:hover {
			opacity: 0.7;
		}
	}
	.search-area {
		.twitter-typeahead {
			padding: 0;
		}
		input[type=text] {
			padding: 0 59px 0;
			margin: 0 0 12px 0;
			width: 100%;
		}
		.btn-reset {
			opacity: 0;
			cursor: default;
		}
		.btn-reset.clear {
			opacity: 1;
			cursor: pointer;
		}
	}
	.tt-dropdown-menu {
		&:before {
			@include css-triangle(9px, #fff, top);
			position: absolute;
			z-index: 2;
			top: -1px;
			margin-left: 5px;
		}
		&:after {
			@include css-triangle(10px, #dddbd0, top);
			position: absolute;
			top: -1px;
			margin-left: 4px;
		}
	}
	.button-arrow .icon {
		width: 12px;
		height: 11px;
		top: 1px;
	}
}

.search-area {
	position: relative;
	margin-bottom: rem-calc(50);
	.search {
		border-bottom: 1px solid #e5e5e5;
		/*@include media-query($large-up) {
			padding: 0 rem-calc(22) rem-calc(11);
		}*/
		.table-cell {
			display: table-cell;
			&:first-child {
				width: 25px;
			}
			&:last-child {
				width: 30px;
			}
		}
	}
	.search-show {
		position: absolute;
		left: 22px;
		top: 6px;
		z-index: 100;
		color: #b2b2b2;
		cursor: default;
		z-index: 1;
		.icon {
			width: 26px;
			height: 26px;
		}
	}
	// tt = twitter typeahead styles
	.twitter-typeahead {
		width: 100%;
		padding: 0 59px 12px;
	}
	.tt-hint,
	.tt-input {
		text-transform: capitalize;
		color: rgba(0, 0, 0, 0.5);
	}
	.tt-hint {
		margin-left: 59px;
		width: 80%;
	}
	.tt-dropdown-menu {
		width: 100%;
		background: #fcfcfc;
		border: 1px solid #e5e5e5;
		padding: 16px 20px 10px;
		.tt-suggestion {
			font-size: 16px;
			padding: 10px 10px 8px;
			border-bottom: 1px solid #e5e5e5;
			cursor: pointer;
			text-transform: capitalize;
			* {
				font-size: rem-calc(16);
				color: rgba(0, 0, 0, 0.5);
				padding: 0;
				margin: 0;
			}
			&:last-child {
				border: none;
			}
		}
		.tt-cursor {
			background: #333;
			* {
				color: $light-color;
			}
			&:hover {
				background: rgba(51, 51, 51, 0.1);
				* {
					color: $dark-color;
				}
			}
		}
	}
	.btn-reset {
		position: absolute;
		right: 20px;
		top: 9px;
		.icon-close {
			width: 15px;
		}
	}
	.search-correction {
		position: relative;
		width: 100%;
		background-color: $search-correction-bgcolor;
		padding: rem-calc(8) rem-calc(15) rem-calc(13);
		.inner-wrap {
			@include clearfix;
		}
		.number-results {
			display: none;
		}
		@include media-query($large-up) {
			padding: rem-calc(12) rem-calc(20) rem-calc(16);
			border-top: none;
			&:before {
				@include css-triangle(9px, #fff, top);
				position: absolute;
				z-index: 1;
				top: -1px;
				margin-left: 5px;
			}
			&:after {
				@include css-triangle(10px, #dddbd0, top);
				position: absolute;
				top: -1px;
				margin-left: 4px;
			}
			.left-col {
				float: left;
			}
			.number-results {
				display: block;
				float: right;
			}
		}

		p {
			color: $search-correction-color;
			margin-bottom: 0;
			font-size: rem-calc(12);
			@include media-query($large-up) {
				font-size: rem-calc(14);
			}
		}
	}
}

.tt-dropdown-menu {
	left: -47px;
	right: -52px;
}

.advert-image {
	@include media-query($large-up) {
		float: right;
	}
}

.filter-wrapper {
	overflow: hidden;
}

.search-filter {
	max-width: rem-calc($row-width);
	margin: 0 0 -1px;
	white-space: nowrap;
	@include media-query($large-up) {
		line-height: 1;
	}

	li {
		display: inline-block;
		&.active {
			a {
				color: #000;
			}
			span {
				border-bottom: 2px solid #000;
			}
		}
		a {
			display: inline-block;
			padding: 0 rem-calc(28) 0 0;
			color: #c8c8c8;
			color: rgba(0, 0, 0, 0.5);
			@include transition(color 0.6s ease);
			@include media-query($large-up) {
				padding-right: rem-calc(41);
			}

			&:hover {
				color: #000;
			}
		}
		span {
			padding-bottom: rem-calc(10);
			display: block;
			@include media-query($large-up) {
				padding-bottom: rem-calc(20);
			}
		}
	}
}

.search-result {
	margin-bottom: rem-calc(30);
	figure {
		margin: 0 auto;
		position: relative;
		img {
			width: 100%;
		}
		figcaption {
			position: absolute;
			bottom: 0;
			background-color: #000;
			color: #fff;
			padding: rem-calc(2) rem-calc(15);
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: rem-calc(10);
			@include media-query($large-up) {
				padding: rem-calc(2) rem-calc(20);
			}
		}
	}
	.info {
		background-color: #fff;
		padding: rem-calc(20) rem-calc(15) rem-calc(54);
		position: relative;
		@include media-query($large-up) {
			padding: rem-calc(27) rem-calc(31) rem-calc(69);
		}

		h3 {
			margin: 0 0 5px;
			font-size: rem-calc(24);
			font-weight: bold;
			@include media-query($large-up) {
				font-size: rem-calc(30);
				margin-bottom: 17px;
			}
		}
		p {
			font-size: rem-calc(12);
			line-height: $body-line-height;
			color: #666;
			@include media-query($large-up) {
				font-size: rem-calc(14);
			}
		}
		.time-stamp {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #fcfcfc;
			border-top: 1px solid #ededed;
			padding: rem-calc(6) rem-calc(15) rem-calc(10);
			@include media-query($large-up) {
				padding: rem-calc(8) rem-calc(31);
			}

			.icon-clock {
				width: 15px;
				height: 15px;
				position: relative;
				top: 3px;
				margin-right: 11px;
			}
			span {
				font-size: rem-calc(12);
				color: #a1a1a1;
				color: rgba(0, 0, 0, 0.5);
			}
		}
	}
}

.search-sort {
	@include clearfix;
	p, a {
		font-size: rem-calc(12);
		color: #ababab;
		color: rgba(68, 68, 68, 0.5);
		@include media-query($large-up) {
			font-size: rem-calc(14);
		}
	}
	p:first-child {
		float: left;
	}
	.sorting {
		float: right;
		a {
			@include transition(color 0.6s ease);
		}
		a.active,
		a:hover {
			color: #000;
			.chevy2 path {
				fill: #ff0000 !important;
			}
		}
		a:last-child {
			border-left: 1px solid #c7c7c7;
			padding-left: rem-calc(16);
			margin-left: 10px;
		}
		.icon-sort-chevron {
			width: 8px;
			height: 12px;
			position: relative;
			top: 1px;
			margin-right: 5px;
		}
	}
}

.search-listings {
	list-style: none;
	margin: 0;
	clear: both;
	border-top: 1px solid #dedede;
	li {
		@include clearfix;
		border-bottom: 1px solid #dedede;
		padding: rem-calc(11) rem-calc(95) rem-calc(11) 0;
		position: relative;
		@include media-query($large-up) {
			padding-top: rem-calc(28);
			padding-right: rem-calc(120);
			position: relative;
		}

		&.no-pad-right {
			padding-right: 0;
		}
		h4 {
			margin-top: 0;
			text-transform: capitalize;
			@include media-query($large-up) {
				margin-bottom: rem-calc(12);
			}
		}
		p {
			font-size: rem-calc(12);
			line-height: $body-line-height;
			margin-bottom: 9px;
			max-height: 52px;
			overflow: hidden;
			@include media-query($large-up) {
				font-size: rem-calc(14);
				margin-bottom: rem-calc(17);
				max-height: 62px;
			}
		}
		.media-type.icon {
			position: absolute;
			top: 50%;
			margin-top: -25px;
			right: 8px;
			width: 49px;
			height: 49px;
			fill: $dark-color;
			color: #dedede;
		}
		&.has-feature {
			padding-right: 36px;
			@include media-query($large-up) {
				padding-right: 10px;
			}

			@include media-query($large-up) {
				min-height: 175px;
				h4 {
					padding-left: 230px;
				}
				.feature {
					top: 30px;
				}
			}

			@include media-query($xlarge-up) {
				padding-right: 36px;
			}

			.feature {
				position: absolute;
				width: 135px;
				height: 76px;
				overflow: hidden;
				@include media-query($large-up) {
					width: 201px;
					height: 112px;
				}

				&:hover {
					opacity: 0.9;
				}
				&.gallery {
					background: url(/etc/designs/foxtel/common/clientlibs/images/gallery-bg.png) no-repeat;
					background-size: cover;
					padding: 1px 7px 7px 0px;
					min-height: 80px;
					@include media-query($large-up) {
						min-height: 119px;
					}

					img {
						@include media-query($large-up) {
							width: 191px;
						}
					}
				}
				&.video {
					&:before {
						content: ' ';
						background: rgba(0, 0, 0, 0.3);
						position: absolute;
						width: 100%;
						height: 100%;
					}
					svg {
						position: absolute;
						top: 50%;
						margin-top: -25px;
						left: 50%;
						margin-left: -25px;
						fill: $light-color;
					}
				}
				& + p {
					padding-left: 145px;
					min-height: 76px;
					@include media-query($large-up) {
						padding-left: 230px;
						min-height: 62px;
					}
				}
			}
		}
		/* TODO: Change button styling as per design with supplied svg */
		.button-arrow {
			border-color: #dedede;
			border-color: rgba(0, 0, 0, 0.2);
			color: #010101;
			margin: 8px 0 9px;
			float: right;
			&:hover {
				color: #010101;
			}
			&.left-motion {
				float: left;
			}
			@include media-query($large-up) {
				margin: -2px 0 18px;
			}
		}
	}
}

.search-related {
	h4 {
		margin-top: 37px;
		margin-bottom: 13px;
		@include media-query($large-up) {
			margin-top: 41px;
		}
	}
	ul {
		@include block-grid(1);
		@include media-query($large-up) {
			@include block-grid(2);
		}

		> li {
			font-size: rem-calc(12);
			padding-bottom: 3px;
			position: relative;
			@include media-query($large-up) {
				font-size: rem-calc(14);
			}

			&:before {
				content: ' ';
				display: block;
				width: 14px;
				height: 10px;
				background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMywgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxMy45OTNweCIgaGVpZ2h0PSI5LjAwN3B4IiB2aWV3Qm94PSIwIDAgMTMuOTkzIDkuMDA3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMy45OTMgOS4wMDc7Ig0KCSB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik04Ljc3NSw4LjM4bDAuNjM4LDAuNjI3bDQuNTgxLTQuNTA0TDkuNDEzLDBMOC43NzUsMC42MjdsMy40OTMsMy40MzRIMHYwLjg4NmgxMi4yNjhMOC43NzUsOC4zOHoiLz4NCjwvc3ZnPg==");
				background-repeat: no-repeat;
				display: inline-block;
				margin-right: 8px;
			}
			&:last-child {
				padding-bottom: 0;
			}
			a {
				color: #666;
				@include transition(color 0.6s ease);
				&:hover {
					color: #000;
				}
			}
		}
	}
}

.search-additional {
	h4 {
		margin-bottom: rem-calc(21);
		@include media-query($large-up) {
			margin-bottom: rem-calc(25);
		}
	}
	h5 {
		font-size: rem-calc(14);
		margin-top: rem-calc(16);
		@include media-query($large-up) {
			font-size: rem-calc(18);
			font-weight: normal;
			margin-bottom: rem-calc(11);
		}
	}
	p {
		font-size: rem-calc(12);
		line-height: $body-line-height;
		color: #666;
		@include media-query($large-up) {
			font-size: rem-calc(14);
		}
	}
}