
.login {
    background: #5b5b5b;
    background: -moz-linear-gradient(top, #5b5b5b 0%, #383838 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#383838));
    background: -webkit-linear-gradient(top, #5b5b5b 0%,#383838 100%);
    background: -o-linear-gradient(top, #5b5b5b 0%,#383838 100%);
    background: -ms-linear-gradient(top, #5b5b5b 0%,#383838 100%);
    background: linear-gradient(to bottom, #5b5b5b 0%,#383838 100%);
}

.fs-login {
    border-color: #484747;
    color: #000;
    background:#fff;
}

.fs-login.remember-cid-wrapper {
    background: none;
    -ms-filter: initial;
}

.fs-login input[type="text"],
.fs-login input[type="password"] {
    background:none;
    color:#000;
}

.fs-login a {
    color:#a3a3a3;
}

.login input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #a3a3a3;
}
.login input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #a3a3a3;
}
.login input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #a3a3a3;
}
.login input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #a3a3a3;
}

.btn-login:hover, .btn-options {
    background:#1e5e88;
}

.btn-login, .btn-login:hover {
    border-top-color:#1e5e88;
    border-right-color:#1f5e89;
    border-bottom-color:#1e5e88;
    border-left-color:#1e5e88;
}

.btn-options {
    border-color:#1e5e88;
}

.btn-carrot:after
{
	background: url(../../../images/sprite-icons.png) no-repeat -70px -75px;
}

.btn-login:after {
    content: ' ';
    display: block;
    position:absolute;
    width: 6px;
    height: 10px;
    top:11px;
    right:65px;
    
}

.btn-options:after {
    content: ' ';
    background: url(../../../images/sprite-icons.png) no-repeat -21px -24px;
    width: 11px;
    height: 7px;
    display: block;
    position: absolute;
    left: 12px;
    top:12px;
}
