
.popover .arrow:after
{
	border-style:none !important;	
	
}
.popover .arrow{
	border-width:0px !important;
}

.popover.small-popover
{
	max-width: 260px;
}

.popover-content .close
{
	opacity: 1;
    position: absolute;
    top: 13px;
    right: 9px;
}
.popover
{
	max-width: 328px;
	border-radius: 10px;
}

.popover-content
{
	color:black;
    padding: 14px 55px 14px 14px;
    position: relative;
}
.login {
    padding-top:8px;
    padding-bottom:8px;
    border-bottom: 1px solid #302c2d;
    position: relative;
    z-index: 2;
}

.login .form-inline > img {
    display:block; float:left;
}

.login-right{
	float:left;
	margin-left:11px;
}

.fs-login {
    float:left;
    width: 187px;
    margin-left:12px;
    padding:3px 3px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height:21px;
    font-size:14px;
    margin-top: 1px;
}

.fs-login input[type="text"],
.fs-login input[type="password"] {
    border:none;
    display:block;
    float:left;
    width:130px;
    outline:none;
}

.fs-login a {
    float:right;
    display:block;
    font-size:12px;
    padding-right:6px;
    margin-top: 2px;
}

.login .btn {
    padding:0;
    height:33px;
    width: 36px;
    line-height:33px;
    border-top: none;
    border-left: none;
}

.login .btn-login {
    padding-right:19px;
    padding-left:19px;
    text-align:left;
    width:142px;
    border-bottom: none;
}

.login .btn + .dropdown-toggle {
    margin-left: 0;
    border-left: 1px solid #89a9be;
    border-right: none;
    border-bottom: none;
    background: #1e5e88;
}

.login .btn + .dropdown-toggle:focus {
    outline: auto;
}

.login .btn + .dropdown-toggle:after {
    content: '';
    display: block;
    width: 15px;
    height: 10px;
    margin-left: 1px;
    background: url(../../../images/sprite-icons.png) no-repeat -41px -34px;
}

.login #password-field.ie-placeholder
{
	background-image: url(../../../images/password-placeholder.png);
	background-repeat:no-repeat;
}

.login #txt-clientId.ie-placeholder
{
	background-image: url(../../../images/clientid-placeholder.png);
	background-repeat:no-repeat;
}

.login .btn-options {
    padding-right:10px;
    padding-left:10px;
    width:34px;
}

.login .btn-login {
    text-transform: uppercase;
}

.btn.btn-primary.btn-options {
    margin-left:0px;
    border-left: 1px solid #89a9be;
}

.btn-login, .btn-options:hover {
    background:#2675aa;
}

.btn-login, .btn-login:hover {
    border-right-style:solid;
    border-right-width:1px;
}

.remeber-client-id-label
{
	color:white;
    font-weight: normal;
    margin: 0;
}

.remember-cid-wrapper
{
	padding: 7px 0px 0px 0px;
	display:none;
	width:180px;
}

.fs-login.remember-cid-wrapper {
    width: 152px;
    margin-left: 0;
    float:right;
}



.login input[type="checkbox"] {
	position: absolute;
    top: -100px;
}
.login input[type="checkbox"] + label {
	display: block;
    width: 18px;
	height: 18px;
	float:right;
	background: url(../../../images/sprite-icons.png) -33px -16px no-repeat;
}

/* NOTE: Separate rule required for IE8 */
.login input[type="checkbox"][value="on"] + label
{
	background-position: -51px -16px;
}
.login input[type="checkbox"]:checked + label {
	background-position: -51px -16px;
}

.dropdown-menu
{
	min-width: 179px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-top: -2px;
    padding: 0;
}

.dropdown-menu li
{
	height:46px;
	padding-top:12px;
	padding-left:12px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    cursor: pointer;
    background: none;
}

.dropdown-menu li a {
    padding: 0;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:active,
.dropdown-menu li a:focus,
.dropdown-menu li a:link {
    background: none;
}

.dropdown-menu li.take-me-to-link-hover{
	background:#FFCC00;	
}

.dropdown-menu li:after {
    content: '';
    background: url(../../../images/sprite-icons.png) no-repeat -59px -85px;
    width: 5px;
    height: 9px;
    position: absolute;
    right: 15px;
    top: 19px;
}

.dropdown-menu li:last-child {
    border: none;
    border-radius: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#cboxClose {
    top: 23px;
    right: 20px;
    display: inline-block;
    border: medium none;
    background-color: transparent;
    background-image: url("../../../images/action_buttons.png");
    background-position: 5px -60px;
    padding: 0px;
    width: 15px;
    height: 15px;
}

#cboxTitle
{
	padding-top: 4px;
	width: 100%;
}

.error-label
{
	display:none;
}

/* device specific */
.ie8-always-visible
{
	display:inline !important;
}

@media (min-width: 978px) {
    .login .logo{
        display: none;
    }
    
    .fs-login
    {
    	width: 191px;
    }
    .error-label:not(.custom-hidden)
    {
    	display: inline;
    	float: right;
		margin-top: 7px;
		color:#FB0202;
    }
    .custom-hidden
	{
		display:none !important;
	}
	

}

/*reserve space for the check box... needed for chrome version 31*/
#remember-cid-placeholder  
{
	width: 151px;
	height: 31px;
	float: left;
}

.fs-login-main 
{
	width:597px;
}

@media (min-width: 768px)
{
	.input-error
	{
		border: 2px solid red !important;
		margin-top: -1px;
	}
}

@media (max-width: 978px)
{
	.login .logo{
        height: 32px;
    }
    .fs-login{
    	width:159px;
    }
    
    .fs-login-main 
    {
    	width:531px;
    }
    
    .fs-login input[type="text"],
	.fs-login input[type="password"] {
	    border:none;
	    display:block;
	    float:left;
	    width:100px;
	    outline:none;
	}
}

/* browser specific */

/* IE 10 */
html[data-useragent*='MSIE 10.0'] .login input[type="text"], html[data-useragent*='MSIE 10.0'] .login input[type="password"] {
    padding-top:0px;
}

.login input:-ms-input-placeholder {
    padding-top:0px;
}
