<div class="navigation">
	<!-- Navigation component -->
	<div class="primary-nav-wrapper">
	    <nav class="primary-nav secondary-nav">
	        <div class="window row">
	        	<div class="nav-wrapper">
		            <ul class="nav-bar scrollable">
		                <li><a href="#">Navigation Item One</a></li>
		                <li><a href="#">Navigation Item Two</a></li>
		                <li class="active"><a href="#">Navigation Item Three</a></li>
		                <li><a href="#">Navigation Item Four</a></li>
		                <li><a href="#">Navigation Item Five</a></li>
		                <li><a href="#">Navigation Item Six</a></li>
		                <li><a href="#">Navigation Item Seven</a></li>
		                <li><a href="#">Navigation Item Eight</a></li>
		                <li><a href="#">Navigation Item Nine</a></li>
		                <li><a href="#">Navigation Item Ten</a></li>
		            </ul>
	            </div>
	        </div>
	    </nav>
	    <nav class="primary-nav tertiary-nav">
	        <div class="window row">
	        	<!-- NOTE: This link has been added to markup, page requires FT.Navigation to function correctly -->
	        	<a href="#" class="show-more">
	        		More in this section
	        		<svg class="icon icon-chevron-down"><use xlink:href="#icon-chevron-down"></use></svg>
	        	</a>
	            <ul class="nav-bar">
	                <li class="active"><a href="#">Page name</a></li>
	                <li><a href="#">Fourth level page</a></li>
	                <li><a href="#">This page here</a></li>
	            </ul>
	        </div>
	    </nav>
	</div>
</div>