/**
 * Styling for the footer, which appears at the bottom of each page.
 */

@import "../../../../../../etc/designs/foxtel/common/clientlibs/scss/includes/includes";

.footer-main {
  color: $footer-primary-color;
  position: relative;
  background: $footer-background-color;
  border-top: 1px solid #636363;
  display: block;
  @at-root  .wings & {
    @include media-query($wing-media-query) {
      padding-left: $wing-width;
      padding-right: $wing-width;
    }
  }
  a {
    color: $footer-primary-color;
    color: rgba(255, 255, 255, 0.5);
    font-family: $font-family_body-primary;
    text-decoration: none;
    letter-spacing: 0.5px;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    border-bottom: none;
    @include transition(color 0.6s ease);
    &:hover {
      color: $footer-primary-color;
    }
    i {
      font-family: FontAwesome !important;
    }
  }
  .row {
    @include column-gutters;
    padding-top: 28px;
    padding-bottom: 28px;
    @include media-query($xlarge-up) {
      padding-top: 40px;
      padding-bottom: 36px;
    }
  }
  .footer-bottom {
    background: $footer-bottom-background-color;
    @include px-rem(padding-top, 12);
    @include px-rem(padding-bottom, 13);
    @include clearfix;
    .row {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .footer-logos {
    float: left;
    .foxtel-logo {
      opacity: 0.5;
      @include transition(opacity 0.6s ease);
      &:hover {
        opacity: 1;
      }
    }
  }
  .footer-copyright {
    float: right;
    font-size: rem-calc(12);
    font-style: italic;
    color: #959595;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.5px;
  }
  .main-logo {
    display: block;
    @include px-rem(margin-bottom, 24);
    &:before {
      display: none;
    }
    @include media-query($xlarge-up) {
      display: inline-block;
      margin-bottom: 0;
      position: relative;
      top: -13px;
      margin-right: 18px;
      padding-right: 26px;
      &:before {
        top: 50%;
        position: absolute;
        right: 0;
        display: block;
        opacity: 0.5;
        content: ' ';
        background-color: #a8a8a8;
        width: rem-calc(4);
        height: rem-calc(4);
        border-radius: 100%;
      }
    }

    img {
      max-height: 24px;
      @include media-query($xlarge-up) {
        max-height: 32px;
      }
    }
  }
  .social-links {
    text-align: center;
    margin: 0;
    list-style: none;
    @include media-query($xlarge-up) {
      float: left;
    }
  }
  .social-item {
    display: inline-block;
    width: 32px;
    margin-right: 11px;
    @include media-query($xlarge-up) {
      margin-top: rem-calc(10);
    }

    &:last-child {
      margin-right: 0;
    }
    text-align: center;
    a {
      display: block;
      line-height: 26px;
      padding: 0;
      opacity: 0.8;
      color: rgba(255, 255, 255, 0.3);
      @include transition(all 0.3s ease);
      .icon {
        width: rem-calc(16);
        height: rem-calc(16);
        margin-left: rem-calc(-8);
        margin-top: rem-calc(-8);
        fill: $light-color;
        color: rgba(255, 255, 255, 0.3);
        @include transition(all 0.3s ease);
      }
      &:hover {
        opacity: 1;
        background: $light-color;
        .icon {
          color: $light-color;
          fill: $footer-background-color;
        }
      }
    }
  }
  .footer-links {
    text-align: center;
    @include px-rem(padding-top, 19);
    @include media-query($medium-only) {
      padding-left: rem-calc(40);
      padding-right: rem-calc(40);
    }

    @include media-query($xlarge-up) {
      padding-top: 0;
      float: right;
      max-width: 60%;
      text-align: right;
    }

    .footer-item {
      display: inline-block;
      text-align: center;
      position: relative;
      line-height: rem-calc(32);
      font-size: rem-calc(16);
      padding-right: 15px;
      margin-right: 7px;
      @include media-query($xlarge-up) {
        padding-left: 32px;
        margin-left: 24px;
        padding-right: 0;
        margin-right: 0;
      }

      &:before {
        background-color: #a8a8a8;
        width: rem-calc(4);
        height: rem-calc(4);
        border-radius: 100%;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: rem-calc(-2);
        opacity: 0.5;
        content: ' ';
        @include media-query($xlarge-up) {
          left: 0;
          right: auto;
        }
      }
      &:first-child:before {
        @include media-query($xlarge-up) {
          display: none;
        }
      }
      &:last-child {
        padding-right: 0;
        margin-right: 0;
        &:before {
          display: none;
          @include media-query($xlarge-up) {
            display: block;
          }
        }
      }
    }
  }
}

.ie8 .footer-main {
  .social-item a:hover {
    color: $dark-color !important;
  }
}