@import "../../../../../../etc/designs/foxtel/common/clientlibs/scss/includes/includes";

$article-copy-color: #666;
$article-padding-bottom: 21px;

.bfeature {
    padding: rem-calc(60) 0;
    .row {
        @include component-grid-row;
        margin-bottom: -$article-padding-bottom;
        clear: both;
        article {
            @include component-grid-column($columns: 6);
            @include component-grid-column-gutters;
            @include image-scale;
            float: none;
            padding-bottom: rem-calc($article-padding-bottom);
            width: auto;
            text-align: center;
            @include media-query($medium-up) {
                float: left;
                width: 50%;
            }

            @include media-query($large-up) {
                width: 25%;
            }

            a {
                background-color: $light-color;
                display: block;
                overflow: hidden;
            }
            .label {
                margin: -#{rem-calc(14)} 0 -#{rem-calc(10)};
                position: relative;
                z-index: 1;
                span {
                    background-color: #333;
                    color: $light-color;
                    display: inline-block;
                    font-size: rem-calc(10);
                    letter-spacing: rem-calc(2);
                    line-height: 1;
                    max-width: 80%;
                    overflow: hidden;
                    padding: 6px 15px;
                    text-overflow: ellipsis;
                    text-transform: uppercase;
                    white-space: nowrap;
                }
            }
            picture {
                display: block;
                width: 100%;
                overflow: hidden;
                img {
                    @include transition(all 1s);
                    display: block;
                    width: 100%;
                }
            }
            p {
                font-size: rem-calc(16);
                line-height: rem-calc(24);
                margin: rem-calc(20);
                max-height: 4.5em;
                overflow: hidden;
                padding: 0;
                @include media-query($xlarge-up) {
                    font-size: rem-calc(18);
                    margin: $xxlarge-gutter-width;
                }
            }
        }
    }
}