
a.slide-up-cta {
    background:#ffcc00;
    color:#000;
}

a.slide-up-cta:hover {
    color:#ffcc00;
    background:#000;
}

.black-bg a.slide-up-cta:hover {
    background:#000;
    color:#ffcc00 !important;
}

.black-bg a.slide-up-cta {
    background:#f2f2f2;
    color:#000 !important;
}

.black-bg a.slide-up-cta:hover {
    background:#000;
    color:#ffcc00 !important;
}
