
.slide-up-content {
    position:absolute;
    z-index:2;
    width:100%;
}

.slide-up-content .container {
    padding-top:50px;
}

.slide-up-content h3, .slide-up-content p {
    color:#333 !important;
}

a.slide-up-btm {
    position:absolute;
    z-index:3;
    bottom:0;
    left:50%;
    width:auto;
    width:232px;
    text-align:center;
    margin-left:-116px;
}

a.slide-up-btm-fixed.slide-up-btm {
    position:fixed;
}

a.slide-up-cta {
    display:block;
    border-radius:10px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    -webkit-border-radius:10px;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-bottom-right-radius:0;
    padding:10px 30px;
    cursor:pointer;
    border-bottom:0 !important;
}

a.slide-up-cta:hover {
    border-bottom:0 !important;
    text-decoration:none;
}

a.slide-up-cta {
    border:solid 1px #ffcc00;
}

a.slide-up-cta:hover {
    border:solid 1px #ffcc00;
}

.black-bg a.slide-up-cta:hover {
    border:solid 1px #ffcc00;
}

.black-bg a.slide-up-cta {
    border:solid 1px #000;
}

.black-bg a.slide-up-cta:hover {
    border:solid 1px #ffcc00;
}
